[2021-06-20 14:47] ecgan commented on #270
@eason9487 , that's a pretty good analysis and comparison, good stuff! 🙂 👍

In redux, we read data by using [`useSelector`](https://react-redux.js.org/api/hooks#useselector), there are no action involved, no? 🤔

I must say Type C is really the trickiest and the most difficult one. I don't have an idea right now on how to better handle it.

For Type B and Type D, I think I'd probably use the parame

[2021-06-21 04:05] eason9487 commented on #270
@ecgan

I didn't write clearly. I wanted to compare the entry point of fetching data from server APIs:

- redux: dispatch an action such as `fetchPost( id )` in some of component's lifecycle
- wp-data: call a selector such as `getPost( id )` in component's render phase, and wp-call will call the relevant resolver if the post is not yet resolved

To me, the proposed error handling was almost like s

[2021-06-21 04:08] eason9487 commented on #489
Some related discussions could be referred and they started from this https://github.com/woocommerce/google-listings-and-ads/issues/270#issuecomment-863080575

[2021-06-21 07:31] ecgan commented on #270
@eason9487 ,

Thanks for the explanation, that's a good and interesting background context 🙂  👍

Agree 💯 🙂

[2021-06-21 08:39] eason9487 commented on #486
Hey @j111q ,

![image](https://user-images.githubusercontent.com/17420811/122729721-0bda5d00-d2ac-11eb-8996-f00b45850ba2.png)

I'm thinking would it better to display a **⚠️ Unable to proceed** or some proper tip instead of **✅  Connected**? Because of

- The user is unable to recover currently connected GLA if they reconnect with another Google account
- The user need to disconnect all currently

[2021-06-21 09:37] j111q commented on #486
Yeah that's a really good point, thanks for flagging!! 😅

I tried some other alternatives but I think it's best if we just remove "Connected", and I improved the wording in the error message as well.

See the updated gif here:

![disconnected0001c](https://user-images.githubusercontent.com/65582817/122741052-28c85d80-d2b7-11eb-866c-0552e7483fb0.gif)

Improved copy for the error message:

[code]

L

[2021-06-21 10:21] #796 closed, assigned to nobody

[2021-06-21 10:23] eason9487 commented on #486
I assigned myself for the frontend dev and will work on the UI parts first.

There might be a configuration that needs to dig out. After user accept the authorization at Google end, it will be redirected back to the MC setup flow path `/wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc&google-mc=connected`. Does anyone know where to specify the redirect URL settings?

[2021-06-21 10:30] mikkamp commented on #486
That would be done here: https://github.com/woocommerce/google-listings-and-ads/blob/1.0.0/src/API/Site/Controllers/Google/AccountController.php#L79
The `<service>=connected` gets added to the URL by the WCS.

[2021-06-21 14:12] #694 closed

[2021-06-21 14:32] mikkamp commented on #799
L2 support sounds good. Bumping the versions isn't very hard, but my main question is whether we should handle lower versions gracefully.

We currently have the following requirement checks, with admin notices:
- PHP is 7.3 or higher
- WC Admin is active (no specific version)
- Bookings is not active (will be removed by PR #788)

Should we add two checks to require the minimum WP and WC versions?

[2021-06-21 20:07] Kheiden opened #802 "Value for "Last updated" on the "Product Feed" tab is incorrect"
### Describe the bug:
The time value in the "Last updated" UI element has been updated over the weekend, but the date is incorrect and hasn't been updated accordingly.

### Expected behavior:
I expect the value "Last updated" to be correct for date as well as time.

### Actual behavior:
The value for the time has changed over the weekend, but the value for date has not.

### Steps to reproduce:
1.

[2021-06-21 23:27] findingsimple commented on #799
Yes please - I think graceful is a good rule of thumb

AW I think has/had an ok approach

[2021-06-22 06:57] mikkamp commented on #802
I can reproduce that and it's because the date is formatted as `n F Y, h:ia`

n = Numeric representation of a month, without leading zeros

It should be day of the month instead.

Would it be hard to get the date/time format based off of the WordPress settings to show there? I like the 24 hour format.

[2021-06-22 07:17] findingsimple commented on #802
Thanks @mikkamp is that clientside or serverside?

[2021-06-22 07:20] mikkamp commented on #802
Client side: https://github.com/woocommerce/google-listings-and-ads/blob/trunk/js/src/product-feed/product-statistics/status-box.js#L74

[2021-06-22 07:27] eason9487 commented on #802
Need to replace the `n` by `j` 🙇‍♂️

[2021-06-22 08:30] #751 closed

[2021-06-22 09:34] eason9487 commented on #802
Opened PR #804 to ship a quick fix with version 1.1. And we can consider applying datetime format of WP setting in later versions.

[2021-06-22 11:17] mikkamp commented on #770
Resolved in Automattic/woocommerce-connect-server#1794 and merged to vipgo

[2021-06-22 11:17] #770 closed, assigned to mikkamp

[2021-06-22 11:18] #799 closed, assigned to nobody

[2021-06-22 12:45] nima-karimi opened #805 "Use WordPress Date/Time format"
Follow up from #802

Use the Date and Time format selected by the user via the WordPress General Settings (`Settings > General`) page for rendering dates and times.

![image](https://user-images.githubusercontent.com/73110514/122926120-9b4d4200-d378-11eb-9685-656ed9dc24f2.png)

The date/time format used in the `getSyncResult` function (`js/src/product-feed/product-statistics/status-box.js`) needs

[2021-06-22 12:46] nima-karimi commented on #802
Closing this issue as the fix for it is merged in #804 and will be shipped in version 1.1.

Created a follow-up issue to update the format to be the same as WordPress date/time format: https://github.com/woocommerce/google-listings-and-ads/issues/805

[2021-06-22 12:46] #802 closed, assigned to nobody

[2021-06-22 13:39] tomalec opened #806 "Improve link in `MetricNumber`'s tooltip."
_This is a follow-up from https://github.com/woocommerce/google-listings-and-ads/pull/749_

### Describe the bug:

#### Nested link
When [we added links](https://github.com/woocommerce/google-listings-and-ads/pull/749/files/979e77b590c59a8f81e0f799e34c2fe8fc4e9486..d5d56b60becb9bd6d59ec7da0d92c0ebbd47304d#diff-b0d6e30ff26f71b9f5f6d1f961c1e619b333f8415b5e18dc92b8e6d8813a2838R91-R108) inside `Metric

[2021-06-22 14:29] nima-karimi opened #808 "Retry Action Scheduler jobs if they time out"
### Describe the bug:
If an ActionScheduler job times out, we currently do not retry/reschedule it. This will lead to unexpected results because the products might not be updated. It would be best if we reschedule the job and check its failure rate as we do with normal exceptions.

### Expected behavior:
Jobs that have timed out are rescheduled and retried for a specified number of times.

### Act

[2021-06-23 02:50] eason9487 commented on #486
Technical questions for backend dev:

1. After completing the onboarding process, the client will use `/wc/gla/google/connected` API to check the status of connected Google account when entering all pages. And when a user selects a different Google account to reconnect, does backend side plan to add the new status at the same API for the client to enter the process as shown in the screenshot below

[2021-06-23 08:07] mikkamp commented on #486
For question 1: We still haven't decided exactly when that will be done. I don't think it should be done all the time since it requires a request to both MC and Ads accounts, so it will be relatively "expensive" to do it on each status check.
Would it make sense to add a `/wc/gla/google/reconnected` endpoint, or do you think it's better for the backend to detect when a reconnect happened? In theor

[2021-06-23 10:07] layoutd opened #811 "Client side Product Feed page tweaks"
## Technical

#### Product Feed page
1. It would be nice for the Product Feed table to jump if the user hits enter after typing a page:
![screenshot](https://d.pr/i/f2IOui+)
_Note here I type 24+ENTER+ENTER+ENTER+ENTER+ENTER and it doesn't update until I click out of the box_

2. Issues to resolve table
    - This could potentially have a _lot_ of rows, so maybe change it to 10 per page and/or add

[2021-06-23 10:46] mikkamp commented on #624
This is also evident in the onboarding steps. A valid token is available so they can proceed with connecting the Google and MC accounts. But we don't show any information about the connected WordPress.com account.

![image](https://user-images.githubusercontent.com/11388669/123083887-73adb680-d418-11eb-8c5b-da8c5efc9937.png)

Originally reported in: https://wordpress.org/support/topic/missing-conn

[2021-06-23 11:01] eason9487 commented on #486
Thanks for the explanation!

Detect if receive a 401 response is a more robust way. However, since the `wordpress@api-fetch` library discards the HTTP status code by default, it's possible to add the HTTP status code to the response body together? For example,

Current 401 response:

[code]

Still returning 401 response, and change the response body to:

[code]

In this way, the frontend side coul

[2021-06-23 11:09] nima-karimi commented on #790
Closing this as we have the docs already published on https://docs.woocommerce.com/document/google-listings-and-ads/google-listings-and-ads-faqs/ and v1.1 released.

[2021-06-23 11:09] #790 closed, assigned to nobody

[2021-06-23 12:02] mikkamp commented on #486
We don't have a global response/error handler so we'll have to find a workaround or refactor some of the code to always add in the status code in the response.

That would depend on the request that's sent or which page they view. WCS specifically returns the 401 error when we don't have valid credentials available for the account. In this scenario it does have valid access credentials available,

[2021-06-24 03:02] eason9487 commented on #486
It only needs a little modification in one place from the frontend, so If this requires more effort or time at backend side, I think we could have that workaround to get the HTTP status code from the frontend side. After all, there's already a [code fragment](https://github.com/woocommerce/google-listings-and-ads/blob/14d73c1ef089af6a51e95c4e07ea92562e2cc9d0/js/src/hooks/useApiFetchCallback.js#L13

[2021-06-24 05:44] findingsimple opened #813 "Add code comment around html site verification meta tag"
Currently, we simply output the google site verification tag into the page HTML e.g.

[code]

In debugging quite a few sites some are ending up with 3-4 versions of the same tag (added by other extensions) so it might be useful to add a code comment around the one we insert to help us know which one we are adding in

[2021-06-24 06:55] findingsimple commented on #784
Reopening, seems like some customers are still seeing shortcodes (or similar) https://wordpress.org/support/topic/critical-error-206/#post-14590596

[2021-06-24 07:11] mikkamp commented on #784
Probably need to take a closer look at the Divi theme and it's shortcodes. But I assume this is happening because we use `strip_shortcodes` which only removes shortcodes which are added at the time. We sync products in the background, so the theme probably doesn't add it's shortcodes when this is done. Maybe we need to switch to a regex call, can be copied from the one within `strip_shortcodes`.
T

[2021-06-24 07:40] mikkamp commented on #782
Can we just add a simple tab for our plugin to WooCommerce > Settings > Integrations? Or do we need a more elegant solution for a settings page?

[2021-06-24 08:16] mikkamp opened #814 "Update Google PHP client library to v2.10"
The Google PHP client library [version 2.10](https://github.com/googleapis/google-api-php-client/releases) has been released (currently on 2.9.1).

We use the following services from this library:
- ShoppingContent
- SiteVerification

Advantages for switching:
- Generated Services now use namespaces (we currently don't replace the namespace for `google/apiclient-services`)

[2021-06-24 08:26] mikkamp opened #815 "Dependabot alerts"
We have three [critical/high security alerts from dependabot](https://github.com/woocommerce/google-listings-and-ads/security/dependabot) for composer libraries we include:

1. wp-cli/wp-cli - We only use this for generating the `.pot` file and is not bundled with the final release, so we can update it without issues
2. rmccue/requests - This is a dependency from wp-cli, so same applies to the one

[2021-06-24 08:43] nima-karimi commented on #784
Hmm. I think if we remove everything within a bracket then we would have support requests complaining why random words are removed from the description. Probably best to just leave this as is and work on implementing https://github.com/woocommerce/google-listings-and-ads/issues/782 to allow users to choose the short description for their products on Google.

[2021-06-24 08:54] nima-karimi opened #816 "Explore: Using WooCommerce Settings for target and shipping countries"
We currently store our own set of target countries and use the same value for the product's shipping information.  WooCommerce has its own set settings for this purpose called `Selling locations` and `Shipping locations`, which have various options making them very flexible. As a "native" integration, it makes sense for GLA to honor these settings.

The first issue that comes to mind is that we do

[2021-06-24 10:27] #789 closed, assigned to ecgan

[2021-06-24 10:37] tomalec opened #818 "Monitor bundle size changes for PRs"
Given we are in a more relaxed time, maybe we would like to improve also our automation and GH tooling?

In the past we were facing some constraints for plugin.zip size, still, we would like to deliver less than more JS to the end customer. Maybe we could use some automation, to monitor if something goes off or provides a traffic benefit for the end-users.

Currently, our main js bundle has **718K

[2021-06-24 10:57] findingsimple commented on #782
@j111q (and Shiva - sorry not sure what your github username is if you have one) - what are your thoughts on where settings like this would live in GLA?

Quick fix is adding a filter

[2021-06-24 10:59] findingsimple commented on #784
Yeah that was my first thought

[2021-06-24 12:04] mikkamp commented on #317
Another issue we came across is that listAccessibleCustomers will list all accounts we have access to, but access might not necessarily mean we have full access to allow linking.

Looks like that will need to be a request to [CustomerUserAccess](https://developers.google.com/google-ads/api/reference/rpc/v8/CustomerUserAccess) to be able to filter only accounts we have [ADMIN](https://developers.go

[2021-06-24 12:12] #815 closed, assigned to mikkamp

[2021-06-24 16:19] layoutd opened #826 "Undefined variable $use_store_currency"
### Describe the bug:
When connecting an existing Ads account, this warning is thrown:
[code]

### Expected behavior:
The connection should go off without a hitch.

### Actual behavior:
A warning is thrown.

### Steps to reproduce:
1. Connect a Merchant Center account.
2. Using the "Add paid campaign" button, connect an _existing_ Ads account.
3. Check the log for the Warning message.

### Additio

[2021-06-25 06:22] dphyled commented on #624
Just adding that [the user confirmed installing/connecting Jetpack fixed the issue](https://wordpress.org/support/topic/missing-connect-button-for-woocommerce-com-account/#post-14594102) with the missing WordPress.com connection info/button in the settings! Thank you for closing out the forum thread, Jason! 😄🙇

[2021-06-25 07:57] #826 closed, assigned to nobody

[2021-06-25 08:05] #813 closed, assigned to nobody

[2021-06-25 21:04] nima-karimi opened #831 "Ask users to leave a review on WordPress.org"
As of today we have roughly 20,000 active installs and only [9 reviews on our WordPress.org page](https://wordpress.org/support/plugin/google-listings-and-ads/reviews/). Some of them are support requests.

It's highly likely that only people with a bad experience leave a review and people who had a good experience with the product just don't.

I suggest to add an admin notice or some other form of

[2021-06-26 07:18] j111q commented on #831
Thank you for creating this issue Nima! I just wrote a [P2 post](https://wp.me/pbIy4N-1Jn) about this too.

Thinking of using certain milestones to prompt for reviews, here's an example:

![image](https://user-images.githubusercontent.com/65582817/123505451-c47c1400-d691-11eb-8bc6-17517478a731.png)

Will align with Gary and Jason next week about what type of milestones we want to use. Do suggest a

[2021-06-28 06:03] j111q commented on #782
CC @shivanarrthine

Not sure what you mean by this - What type of filter would this be?

[2021-06-28 07:08] mikkamp commented on #782
A filter would be a small code snippet they could put on their site to change the way the plugin works. Something like this:

[code]

Easy for us to implement, but not a friendly UI.

[2021-06-28 07:39] j111q commented on #782
Ah I seeeee.

To be honest, I would imagine using the short description is _always_ preferred, given how that the text displayed in Google is always truncated as far as I can see.

Even if you click into a product's details, Google Shopping seems to hide long text under a "More" link.

 I would wonder if there's a use case for ever choosing the standard description over the short one. 🤔

I'm leani

[2021-06-28 07:52] mikkamp commented on #782
I personally think always [using short description](https://github.com/woocommerce/google-listings-and-ads/pull/783#pullrequestreview-682820327) is the best, but interested to hear other thoughts.

[2021-06-28 13:11] mikkamp opened #835 "Billing Status retrieves only first result"
### Describe the bug:

When checking the billing status we currently use the query:
[code]

Since that doesn't filter on status type it is possible to receive multiple responses, like the following:

[code]

At the moment we only look at the first response which will see the status as cancelled.

### Expected behavior:
Select the appropriate billing status and not just the first one

### Additiona

[2021-06-28 13:52] #814 closed, assigned to mikkamp

[2021-06-29 02:56] findingsimple commented on #782
When checked previously the GPF extension defaulted to full (I'm fairly sure but could be wrong), perhaps some logic there worth checking.

[2021-06-29 06:42] mikkamp commented on #782
It does seem to default to (full preferred), although it has the possibility to select many options, and this can be set for all products at once:
![image](https://user-images.githubusercontent.com/11388669/123749412-4dbb6280-d8ad-11eb-8ea4-695b9817b856.png)

[2021-06-29 06:58] findingsimple commented on #782
Thanks for confirming. Yeah so I think [something that mapping](https://github.com/woocommerce/google-listings-and-ads/issues/572) is where we eventually want to get to (priorities pending) but given the feedback so far we should look at a quick tweak.

I think we can flip to using the short description as default but will want to do a notice or similar to warn existing users that may be expecting

[2021-06-29 07:44] mikkamp opened #839 "Onboarding wizard show plugin name with ampersand"
When going through the Onboarding Wizard in WooCommerce our extension gets recommended to install. In one of the views it combines this with an image which is still showing an older Google Ads image.

![image](https://user-images.githubusercontent.com/11388669/123756908-50ba5100-d8b5-11eb-8254-5d4c4cf6260a.png)

This image should be replaced with the one here: https://www.dropbox.com/s/aem5azqoomu

[2021-06-29 08:09] mikkamp commented on #782
Implementation wise, what would that look like? Give them a code snippet to revert back to full? Have a settings page where they can set it back to full?

[2021-06-29 08:23] j111q commented on #782
Assuming the Google team confirms my hunch that a short description is best practice, I think we should default to `short description`, and add documentation in the release notes / knowledge base... and then just see if we get any feedback requesting for the standard description instead. If we do, we can provide a code snippet to show the full description.

I'm not sure we _should_ support all the

[2021-06-29 08:36] findingsimple commented on #782
Yep, either of those.

"Best practice" is fine - I'm not pushing either way for the short or long description.

Use case would be merchants have existing attributes (or data that can be used for filling in those attributes) added using another extension or something custom. The approach in GPF basically allows them to set the source of our attributes to be something else.

I'm not sure what specif

[2021-06-29 09:07] mikkamp commented on #782
Another perspective to take into account is that we allow setting of about 15 product attributes per product/variation (all saved in post meta). Allowing those attributes to come from different sources, or be the same across various extensions is better for scaling (it can get out of hand quite quickly if each solution has a different way of saving those attributes).

WooCommerce itself already ha

[2021-06-29 09:11] mikkamp commented on #839
In addition to replacing the image the correct name (in text form) is `Google Listings & Ads`
There are a few locations in the onboarding wizard where `and` will need to be replaced with `&`. We'll need to double check if that should be a `&amp;` in certain locations to display correctly.

[2021-06-29 12:04] mikkamp opened #840 "Use new event name for downloads in the onboarding wizard"
### Describe the issue:
When changing the events which log the download of the extension in the onboarding wizard, the plugin slug was changed, but the event name remained the same, see:
https://github.com/woocommerce/woocommerce-admin/commit/0749d03aad2c289f08019be8e0bc76222980b3ae#diff-630468a503ba64957f6143679d5111678c2e989fd26b2a19502163b24ddd41deL106
https://github.com/woocommerce/woocommerce

[2021-06-29 13:40] tomalec opened #841 "Plugin is not compatible with LiteSpeed Cache"
### Describe the bug:
The issue was originally reported at https://wordpress.org/support/topic/fatal-error-3907/

The user receives fatal errors
[code]

#### Technical details
(_the following findings are thanks to @mikkamp investigation_)

It seems that WordPress method `delete_transient` at https://github.com/woocommerce/google-listings-and-ads/blob/trunk/src/Options/Transients.php#L89 returns i

[2021-06-29 17:36] AtomicRange opened #844 "Google Listings & ads Malfunctioning"
Loading Errors
The listing dashboard loads errors: Displays, account loading errors, Product feed error, Analytics errors, Google merchant centre connection errors.

Please see:
[WP-Admin Dashboard](https://vimeo.com/568634516/94808464f2)

I was hoping to have no complications with the plugin. But it seems they are either many errors with the plugin itself or my hosting environment. I had to uploa

[2021-06-30 04:04] eason9487 commented on #777
test slack subscription

[2021-06-30 04:28] eason9487 commented on #777
test slack subscription

[2021-06-30 06:01] mikkamp commented on #844
Hi there,

This repository is not intended for support requests.

The best place to get support is the [WordPress.org Google Listings and Ads forum.](https://wordpress.org/support/plugin/google-listings-and-ads/)

If you have a WooCommerce.com account, you can [start a chat or open a ticket on WooCommerce.com](https://woocommerce.com/my-account/create-a-ticket/).

It seems you already have a suppo

[2021-06-30 06:01] #844 closed, assigned to nobody

[2021-06-30 06:16] #835 closed, assigned to nobody

[2021-06-30 07:45] dougaitken opened #845 "Guzzle conflict with Brizy Pro plugin"
### Describe the bug:

When Google Listings & Ads is active, after activating [Brizy Pro](https://www.brizy.io/brizy-pro-pricing/) an error occurs on all GLA admin pages, and a log file is created.

Deactivating Brizy Pro resolves the issue.

28819703-hc

### Expected behavior:

As the Guzzle error looks to be resolved in `1.1.0` via #751, then no Guzzle errors should happen

### Actual behavior:

[2021-06-30 07:59] mikkamp commented on #845
Possible related issue reported here: https://wordpress.org/support/topic/fatal-error-3906/
Although we can't confirm if version 1.1 is being used there. Will need to dig deeper, but in #751 we chose to only prefix the common libraries we use, so there might be additional ones which conflict.

[2021-06-30 09:20] mikkamp commented on #840
In addition to changing the event name, there is also a typo in the extension name here which needs to be fixed: https://github.com/woocommerce/woocommerce-admin/blob/v2.3.1/client/profile-wizard/steps/business-details/flows/bundle/index.js#L152

[2021-06-30 12:05] mikkamp commented on #840
The original business flow has already been removed in https://github.com/woocommerce/woocommerce-admin/pull/7103 (included in WooCommerce 5.5 RC 1)
So changing the typo is on longer relevant, and there is only one event name to change.

[2021-06-30 12:57] mikkamp commented on #839
The original business flow has already been removed in https://github.com/woocommerce/woocommerce-admin/pull/7103 (included in WooCommerce 5.5 RC 1)
So replacing the image is no longer relevant. We can still change the text and replace `and` with `&` in the plugin name.

[2021-06-30 14:28] mikkamp opened #847 "Return 401 when retrieving status data"
### Describe the bug:
When we send an actual request to the Google API it returns a 401 if the Google account is not connected, this is then passed on to the UI to enter the reconnect flow.

However when we get the status data we prevent the request from being sent if we are not connected, and never return the 401 to the UI, see: https://github.com/woocommerce/google-listings-and-ads/blob/trunk/sr

[2021-06-30 14:59] #588 closed

[2021-06-30 15:58] mikkamp commented on #845
I was able to track this down because the deprecated functions are loaded conditionally in `vendor/guzzlehttp/psr7/src/functions_include.php`:

[code]

When another plugin (brizy-pro in this case) defines `GuzzleHttp\Psr7\str` the functions.php file is no longer loaded and the error occurs. To fix this we should also ensure those calls are prefixed. Doing so is a bit more challenging because the c

[2021-06-30 17:09] mavoelke opened #848 "Star Review Showing in Search Results but Not on the Product Page"
### Describe the bug:
A customer flagged that Google search results for the Xero extension includes ratings/reviews https://d.pr/i/IropWO however, they are not shown on the product page https://d.pr/i/Y6tnvy is there a way to also keep the data from popping up in search results for products that haven't hit the 10-rating/review threshold?

### Expected behavior:
If the product doesn't have 10 revi

[2021-06-30 17:28] mikkamp commented on #848
Moved over to the the woocommerce.com repo: 10632-gh-Automattic/woocommerce.com

[2021-06-30 17:28] #848 closed, assigned to nobody

[2021-07-01 06:58] nima-karimi opened #850 "Support running unit tests on PHP 8"
This is split from #828

Due to some version conflicts, we currently do not support running PHPUnit tests on PHP 8. We can use a method similar to WooCommerce core to add support for it:
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/tests/README.md#running-tests-in-php-8

[2021-07-01 15:09] tomalec opened #853 "WP.com account card is empty when Jetpack is active but not connected."
_This issue was discovered while debugging support ticket 4086698-zd-woothemes_

### Describe the bug:
When Jetpack is installed, activated but not connected to WP.com account, the WP account card in the onboarding setup is rendered empty and unusable. Does not render the status of connection, or button to connect.

![Jetpack dashboard page asking to connect to WP.com account](https://user-images.

[2021-07-01 23:16] gmangesh commented on #572
This feature will also be useful for mapping product_shipping_class attribute to the shipping_label attribute used within Google Merchant for setting up shipping cost tables. This is very first issue I encountered when trying to use this plugin and is preventing any of my products for becoming active. The only easy workaround is to setup a flat shipping rate, but this does not work for my catalog

[2021-07-02 01:01] findingsimple commented on #853
I believe this is the same or very similar to https://github.com/woocommerce/google-listings-and-ads/issues/624

@tomalec was Jetpack connected to the site using a different account?

[2021-07-02 07:23] eason9487 commented on #52
Looks like the Jetpack connection issue was discussed and resolved by implementing in this way https://github.com/woocommerce/google-listings-and-ads/issues/52#issuecomment-776550068. So, has this issue been solved? Or is the next action item of this issue to let users able to disconnect accounts during onboarding flow?

[2021-07-02 08:53] tomalec commented on #853
Yes, it was.
Closing as duplicate of #624

[2021-07-02 08:53] #853 closed, assigned to nobody

[2021-07-02 09:15] eason9487 commented on #363
Hey @j111q, for option 1, we probably need some visual design to add warnings to dashboard, report, and campaign creation/edit pages. Since there are many places to display prices on each page, would it be a good idea to consider displaying a warning on the top of each page?

About option 2, I was thinking it probably has to be implemented. Otherwise, only giving the warning from option 1, the pri

[2021-07-02 12:39] #841 closed, assigned to mikkamp

[2021-07-05 15:53] #845 closed, assigned to mikkamp

[2021-07-05 22:22] macflyhub commented on #845
I had "GTG Product Feed for Shopping" Version 1.2.2 | By GutenGeek
installed. Same bug. Disabled and working now.

[2021-07-06 10:02] j111q opened #860 "Add 2 inbox notifications to prompt for public reviews"
## Message 1
**Message 1 should be sent to:**
Stores that
1. **Have not** set up any paid ads, AND
2. **Have** more than 100 clicks on their free listings.

_Sidenote: It could be a little awkward for stores which have MUCH more than 100 clicks, eg. they already have 2000 clicks, and then they read that we're congratulating them on 100 clicks. But that's a temporary awkwardness just for now, since

[2021-07-06 15:45] mikkamp opened #861 "Product Sync batches can be empty"
### Describe the bug:
When we sync a lot of products we divide it into batches (default 100) per batch. Each batch can be a mix of single products + variations. In our [original query](https://github.com/woocommerce/google-listings-and-ads/blob/1.1.0/src/Product/ProductRepository.php#L204-L217) to get the included ID's we exclude any products that are set to `dont-sync-and-show`, as well as exclud

[2021-07-07 04:56] findingsimple opened #863 "Submit business contact information to the Merchant Center - Lite Version"
From August 2nd, the Merchant Center will require additional contact information to be submitted during MC setup.

We’ll need to adjust the MC onboarding flow to account for this.

Link to internal design explorations

pbIy4N-1JA-p2

Link to Figma file below.

**We'll start with the Lite version of the flow until phone verification is available.**

## Technical

**Start with the Lite version of th

[2021-07-07 06:39] nima-karimi opened #864 "Add test coverage report"
Add a test [coverage](https://phpunit.readthedocs.io/en/7.5/code-coverage-analysis.html) report for unit tests and include a check for Travis.

Some useful links:
- https://phpunit.readthedocs.io/en/7.5/code-coverage-analysis.html
- https://tomasvotruba.com/blog/2019/09/02/how-to-speedup-test-coverage-on-travis-by-95-percent/
- https://dev.to/acho_arnold/php-test-coverage-with-travis-ci-and-code-c

[2021-07-07 10:10] #847 closed, assigned to mikkamp

[2021-07-07 23:04] #818 closed, assigned to nobody

[2021-07-08 02:09] #486 closed

[2021-07-08 02:23] eason9487 opened #867 "Notify users that their Google account is disconnected"
*It's a follow-up from https://github.com/woocommerce/google-listings-and-ads/issues/486#issuecomment-862993324*

## User story

Send either an email or an admin notification to the user once we detect that their Google account is disconnected and they need to reconnect it manually before the product can function (syncing, etc. will not work unless they reconnect)

## Technical

## Unknowns

## Ou

[2021-07-08 08:18] mikkamp commented on #635
We no longer sync a product for each chosen target country, so this issue isn't really relevant anymore. We still require them to setup shipping rates and times for each country, but that's a logical result of their choice. This is also still within the onboarding, so they can still go back to the previous step and remove a country if they aren't able to setup all of them.
For those reasons I'm cl

[2021-07-08 08:18] #635 closed

[2021-07-08 09:00] j111q commented on #363
Interesting question.

What kind of warning would that be?
What do we want users to do - go into the campaign to edit the currency?
If they don't change it, what would happen? Would we pause all their campaigns until they change it? Or, for example, would it cause some kind of billing error each month?

I do think this sounds better!

[2021-07-08 09:08] #774 closed, assigned to layoutd

[2021-07-08 09:33] mikkamp commented on #624
The API endpoint already takes this into consideration using the `owner` parameter. Here is the response from
`GET /wc/gla/jetpack/connected`

[code]

When we are the owner the response would look like:
[code]

So we'll just need some adjustments in the UI to show some alternative text if active is `yes` and owner is `no`. It would need to be changed [here](https://github.com/woocommerce/google-li

[2021-07-08 10:05] mikkamp commented on #363
The user can't really take any action, because a currency can't be set for a [CampaignBudget](https://developers.google.com/google-ads/api/reference/rpc/v8/CampaignBudget). Changing the currency on the account is not available as mentioned [here](https://support.google.com/google-ads/answer/9841530?hl=en), so they would have to create a new ads account.

So both when creating a campaign and viewin

[2021-07-08 14:56] #840 closed, assigned to mikkamp

[2021-07-09 03:42] j111q commented on #782
Hi team, I discussed this with the Googlers this morning.

For now, let's implement:

1. Use full description
2. If no full description, then use short description

Googlers preferred a full description to be the default over the short description, as they would prefer more data to be sent rather than less data.

This should help anyone whose products are being rejected for a blank full descriptio

[2021-07-09 08:00] mikkamp commented on #782
We already implemented "use short description if full is empty" in #783 (released in 1.1.0). The comment you linked to was from before that release, so I imagine they aren't experiencing that anymore.

So I guess this will need to be addressed once we decide how to allow more granular control.

[2021-07-09 08:33] j111q commented on #782
Oh okay great 😁  Good that we did it that way - Googlers were not keen to go with the short description over the full one. Thanks @mikkamp!

[2021-07-09 11:55] #787 closed, assigned to mikkamp

[2021-07-11 14:55] ybestoreservice opened #873 "missing the most important options, Category Mapping"
## Technical

## User story

## Technical

## Figma link

## Acceptance criteria

## Unknowns

## Out of bounds/rabbit holes

## Event tracking

[2021-07-12 08:24] mikkamp commented on #861
Not only does an empty batch trigger a `handle_complete`, if any of the products are filtered / removed from the batch then the next batch won't be scheduled.

This is because of the check [here](https://github.com/woocommerce/google-listings-and-ads/blob/1.1.0/src/Jobs/AbstractBatchedActionSchedulerJob.php#L78):

[code]

If the first batch retrieves 100 simple products and variations, and some of

[2021-07-12 14:41] layoutd commented on #873
Thanks for the suggestion @ybestoreservice, it would be great to have you add your ideas to the [Ideas Board](https://ideas.woocommerce.com/forums/133476-woocommerce?category_id=403986), which is where developers go to look for future plugin features and improvements.

[2021-07-12 14:41] #873 closed, assigned to nobody

[2021-07-13 04:09] findingsimple commented on #52
I think 2) still needs to be addressed a little i.e. last I checked I don’t think disconnect works if Jetpack or WCpay are also installed

I'll shift to a later milestone

[2021-07-13 04:11] findingsimple commented on #784
Moved to a later release.

[2021-07-13 06:59] findingsimple commented on #52
Found some time to fire up a test site - the behavior I previously mentioned/saw "clicking disconnect just refreshes the page"  is no longer present however we still leave the jetpack connection as-is and redirect the user to the getting started page - only disconnecting the other accounts.

If the user clicks to start the setup process again, on step 1 they'll notice Jetpack is still connected an

[2021-07-13 07:19] findingsimple opened #877 "Refresh/resubmit offers after 25 days instead of 28 days"
GLA currently refreshes product offers every 28 days so they do not expire on GMC(as per recommendations)  https://github.com/woocommerce/google-listings-and-ads/blob/bb09821bfb653304e1951d337fb02ab72e5dcc3a/src/Product/ProductRepository.php#L294

However his results in users being alarmed by expiring soon message within/from the GMC

To address the situation we will try reducing the refresh to ev

[2021-07-13 07:54] #877 closed, assigned to nobody

[2021-07-14 07:38] j111q commented on #363
Yes to this.

Got it, yeah let's do this. I do hope it would be quite an edge case.

**Copy for the warning:**

`Note: The currency set in your Google Ads account is AAA, which is different from your store currency, BBB. [Read more](https://support.google.com/google-ads/answer/9841530?hl=en)`

LMK if this is ok!

[2021-07-14 07:57] j111q opened #882 "Add two CES prompts to get more product feedback"
## What is a CES prompt?
It's a little toast that appears on the bottom left of the user's screen, asking the user for feedback on a task they've just completed. [Link to CES GitHub issue](https://github.com/woocommerce/woocommerce-admin/issues/5259)

## Prompt 1
Prompt 1 should appear immediately after User successfully completes initial setup flow.

![Setup1](https://user-images.githubuserconten

[2021-07-14 12:13] tomalec commented on #864
For the front-end tests/jest we can start with just `--coverage`, but I :+1: Coveralls

[2021-07-14 12:47] nima-karimi opened #883 "Do a clean uninstall"
Once the plugin gets uninstalled, remove all plugin data and options from the DB. This can be done by either using the `register_uninstall_hook` action or creating an `uninstall.php` file (similar to WooCommerce core).

WooCommerce core checks for a constant called `WC_REMOVE_ALL_DATA` and only removes data if it has been defined. We could follow a similar approach to make this optional for the us

[2021-07-14 14:03] aheckler opened #884 "Cannot complete setup/onboarding process"
### Describe the bug:

Setup/onboarding process cannot be completed. When I get to this screen, clicking Continue doesn't do anything. JS errors in console:

![Markup on 2021-07-14 at 09:57:59](https://user-images.githubusercontent.com/5512652/125634831-aea34045-03a2-4b29-b8eb-539ae6773df5.png)

### Expected behavior:

The Continue button should work and setup should be able to complete normally.

[2021-07-14 14:15] mikkamp commented on #884
Reproducible with either WooCommerce 5.5 or a newer version of WooCommerce Admin (>= 2.4)

[2021-07-14 14:34] eason9487 commented on #884
The working laptop is not with me, so I can't actually test it. Would it be fixed if don't use the sharing dependency of **@woocommerce/components** with WC/WC-admin?

1. Remove
    https://github.com/woocommerce/google-listings-and-ads/blob/88ac79b3decba7a39d4b3cbf006d25b606b5ae6d/webpack.config.js#L19
    https://github.com/woocommerce/google-listings-and-ads/blob/88ac79b3decba7a39d4b3cbf006d25b

[2021-07-14 14:52] eason9487 commented on #884
https://github.com/woocommerce/woocommerce-admin/blob/v2.4.0/packages/components/src/form/index.js#L104-L114

`onSubmitCallback` is deprecated, but it should still be workable. Seems it's not the root cause.

[2021-07-14 15:17] tomalec commented on #884
I think the problem is both `onSubmit` and `onSubmitCallback` are defined for some reason. I'll investigate it for 30-60mins more, if I won't find the root cause, I'd try detaching shared dependency as [suggested above](https://github.com/woocommerce/google-listings-and-ads/issues/884#issuecomment-879946317)

[2021-07-14 15:19] tomalec commented on #884
Ok so the root cause is faulty deprecation handling in `Form` component, as it sets the default value of `onSubmit: () => {},` so which is always truthy. Then the default noop is called in case `onSubmitCallback` is provided.

I'll fix it on our end by providing both callbacks.

Respective issue in `woocommerce/components` https://github.com/woocommerce/woocommerce-admin/issues/7351

[2021-07-14 17:24] EricaKuschel commented on #884
Adding ticket here for follow up: 4139132-zen
* Customer cannot update email currently which would allow the site to match the Google Merchant Center.

[2021-07-14 18:09] tomalec opened #886 "Add e2e tests for onboarding flow"
Onboarding flow is our critical path, which preferably should be rock solid and stable.
End-to-end tests could significantly help to assure that. Unfortunately, this is actually the trickiest part to test, as it requires the site to be live to connect it to Jetpack, WP, Google, and MC accounts.

## User story

As a developer, I'd like to quickly assert that critical functionality - onboarding setu

[2021-07-14 18:24] tomalec commented on #884
GLA workaround is ready at https://github.com/woocommerce/google-listings-and-ads/pull/885.
I'll work on the actual fix in `woocommerce/components` for other plugins tomorrow https://github.com/woocommerce/woocommerce-admin/issues/7351

[2021-07-14 22:59] zhollenbeak commented on #884
Another ticket 4137257-zen

[2021-07-14 23:55] solstudioim commented on #884
The user in this ticket seems to be affected: 4086698-Zen

[2021-07-15 03:00] eason9487 commented on #884
Thank you all for the report! [1.2.1](https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.2.1) has been released for fixing this critical issue.

Resolved by #885

[2021-07-15 03:00] #884 closed, assigned to tomalec

[2021-07-15 07:57] #784 closed, assigned to nima-karimi

[2021-07-15 09:26] aheckler commented on #884
I followed up on all the tickets posted here just now.

[2021-07-15 11:21] mikkamp opened #887 "Variable Subscriptions attempting to sync"
### Describe the bug:
It's a pretty rare scenario, but if we have have Variable Subscription products saved, the variations are saved with the product type set to `variation`. With the Subscription plugin active, these are skipped (seems like a filter changes the product type there), however when we deactivate the Subscription plugin and sync all products, it still picks up those variations and tr

[2021-07-15 11:51] mikkamp opened #888 "Orphaned variation halts creating batches"
### Describe the bug:
When updating all products (async), if we encounter an orphaned variation the action `gla/jobs/update_all_products/create_batch` fails (since it fails it doesn't process any followup batches for the remaining products. The error that's given is:

[code]

One way to get around this is to go to WooCommerce > Status > Tools and use the tool to cleanup the orphaned variations. Al

[2021-07-15 12:09] mikkamp commented on #887
When trying to sync the orphaned variation by ID. We can see that the `is_sync_ready` skips over the product because the parent is 0 here: https://github.com/woocommerce/google-listings-and-ads/blob/1.2.1/src/Product/ProductHelper.php#L280

But then when we get the visibility this isn't done which throws the exception:
https://github.com/woocommerce/google-listings-and-ads/blob/1.2.1/src/Product/P

[2021-07-15 13:31] tomalec opened #890 "🏗 Bring back colors for Travis builds - move bundlewatch to GH actions"
It seems Travis loos all colors when any environment variable is set.
https://travis-ci.community/t/ansi-colors-in-console-does-not-work-anymore/6608/2

We do have one for bundlewatch job. That means we lost colors for all builds and jobs just to support this one.

We could move it to GH actions, so only this action will be colorless.

## User story
As a developer, I'd like to see colorful lobs in

[2021-07-16 02:20] eason9487 opened #891 "Add a function for users to be able to delete their Merchant Center sub-account"
## User story

As a user, if my Merchant Center sub-account was created by this plugin, I want to be able to delete it via the plugin.

- when disconnecting accounts
- when uninstalling the plugin
- any else?

Relevant requests:

- https://wordpress.org/support/topic/how-to-delete-google-merchant-centre-account/
- 4127778-zen

Possible solutions:

1. Add one more checkbox for user to delete sub-ac

[2021-07-16 15:17] #488 closed

[2021-07-19 16:13] tomalec commented on #498
(FWIW, this is another reason to consider using Web Components more ;) - you can deliver the entire scaffold as plain, cheap HTML, with inlined SVGs that compress efficiently and do not put much stress on CPUs.)

[2021-07-19 16:41] melek commented on #572
Another customer also wants to be able to set the `shipping_label` field manually, and I believe this feature would be a great way to provide that option. 4153913-zen

[2021-07-20 05:44] eason9487 commented on #363
Just notice this problem is more critical than I originally thought. My ads account is set to **USD**, and my store currency is using **JPY**. In this case, a very large campaign budget setting error would occur:

1. In the campaign creation page, it shows **JPY** currency on the input field, and the recommended budget range below is shown in JPY as well.
    ![2021-07-20 13 23 04](https://user-im

[2021-07-20 06:43] findingsimple commented on #886
I think that will be tricky to do without investing a lot of time with setup and also maintainance.

It won't be true e2e as you say but I think mocking or having some way to mock connection states is probably a better approach.

[2021-07-20 09:19] eason9487 commented on #363
Since it cannot specify the budget currency when creating campaigns, to fix this https://github.com/woocommerce/google-listings-and-ads/issues/363#issuecomment-883081178 problem, a solution could be:
- Change the whole budget section UIs to use the ads account currency
    - "Daily average cost" input
    - "Monthly max, estimated" input
    - recommended budget range text
- Change the `ads/campai

[2021-07-20 10:01] tomalec commented on #270
Sorry, I didn't comment earlier, I mostly agree with what you stated here, and don't have much constructive input, other than my high-level comments

1. In general I like [the idea of keeping errors close](https://github.com/woocommerce/google-listings-and-ads/issues/270#issuecomment-863412160) to the state nodes they refer to. Thanks to that, as a consumer, in the view, I don't need to think wher

[2021-07-20 10:03] tomalec commented on #270
Speaking of `lodash.set` `setWith`

Personally, besides even of Calypso approach, I like to limit the number of dependencies, to keep the code more lightweight, flexible, explicit, as it allows new/3PD folks to jump in easier, reduces technical debt, bugs & security investigation time, etc.

Calypso team [already stated few other good reasons](https://calypsop2.wordpress.com/2021/02/24/the-path-to

[2021-07-20 10:30] eason9487 commented on #882
Hey @j111q, I have two questions:

1. For **prompt 1**, after completing the setup, it will show [the success modal](https://github.com/woocommerce/google-listings-and-ads/pull/632) first. And user might 1) dismiss/close the modal, 2) open the product feed page in a new tab, 3) browse to the ads setup page. If a user goes the 3) path, then they would run into **prompt 2** after finishing the ads s

[2021-07-20 10:35] eason9487 commented on #882
Dev note

- Library: https://github.com/woocommerce/woocommerce-admin/tree/main/packages/customer-effort-score
- Usage in WC-admin: https://github.com/woocommerce/woocommerce-admin/blob/38fbb4aedd0f21cf21ddaa6af93e48564fd35324/client/customer-effort-score-tracks/customer-effort-score-tracks.js#L107-L135

[2021-07-21 02:07] j111q commented on #624
Apologies for the late reply on this and thanks @eason9487 for chatting it through with me 🙏

Let's use `Successfully connected through Jetpack` for the text.
So that IF they really need to disconnect for whatever reason, they know they can go to their Jetpack connection to do so. But hopefully that would be a very uncommon scenario.

[2021-07-21 03:18] findingsimple commented on #863
Added link to figma file - this is ready to start work on as a priority. There may be some final minor tweaks in the next few days but is ok to start.

[2021-07-21 09:06] eason9487 commented on #863
Users can set their business information at Google's Merchant Center console as well, and the phone number is able to verify there. Maybe we need to consider the case of user had finished the setup? Otherwise, we might override the verified phone number. 🤔

![image](https://user-images.githubusercontent.com/17420811/126463206-60adab18-1924-4975-8b7b-1fea92568ef1.png)

[2021-07-21 09:25] j111q commented on #863
Are we able to detect during onboarding that they already have a verified number in GMC's console?

[2021-07-21 09:43] layoutd commented on #863
It looks like the `accounts.get` endpoint returns a phone number value if it's been verified:
<https://developers.google.com/shopping-content/reference/rest/v2.1/accounts/get>

So we _could_ detect a verified number during setup.

[2021-07-21 10:45] tomalec commented on #406
We discussed it today on Dev call, the general summary was:
- We are not the ones actually using the recorded data, so it's hard to judge what is needed/better.
- Tracking just the intent seems fine, unless it's used to track page loads. But there should be a separate even for that.
- Either way, it behaves we need to specify in the event description. So, the peers using that data would be able to

[2021-07-21 10:54] tomalec commented on #886
We discussed it today on Dev call, the general summary was:
- Testing it to-the-very-end of external APIs may be problematic for a number of reasons:
	- Tests would become fragile when we depend on external APIs and server
	- they would take much longer to execute
	- we may reach API call limits, or even account creation limits for our MC accounts.
- We would try to mock external/Google APIs, so w

[2021-07-21 11:07] tomalec commented on #652
We discussed it today on Dev call, the general summary was:
- Hopefully, it affects only a small set of use cases when a user fetches a date for a large period
- `per_page` is correlated to the amount of data we receive, but there is no 1:1 direct information on if there are any more `products|programs` or `intervals` to be fetched.
- The real samples for testing the UX are not easy to obtain. We

[2021-07-21 11:08] tomalec commented on #652
Given the free listings reports, API is flaky it would be nice to have an error solution as in https://github.com/woocommerce/google-listings-and-ads/issues/270 done first, so we could act on errors coming for individual pages.

[2021-07-21 11:22] layoutd commented on #317
This feature can't be implemented unless:
- Changes are made to the Google API to allow batch requests.
- We accept adding multiple (possibly _many_) extra API requests to the Ads account setup process.

The requests for account information (name, access, etc.) can't be batched because the don't share a common Account ID. For users with multiple Ads accounts, the process of retrieving the relevant

[2021-07-21 11:30] layoutd commented on #816
After some internal discussion, the preferred way to take advantage of this information already provided in the WooCommerce settings would be:
- Pre-populate the `Target Audience` countries with the `Selling location(s)` countries, but allow the merchant to make changes (if, for example, advertising to a subset of selling locations).
- Include a notice if a country in `Selling location(s)` isn't a

[2021-07-21 14:57] Fusionbytetech opened #895 "Does not Activate"
### Describe the bug:
Activation fails with fatal error.

### Expected behavior: For the plugin to activate.

### Actual behavior:
Plugin could not be activated because it triggered a fatal error.

Fatal error: Uncaught RuntimeException: Failed to locate plugin /var/www/wp-content/plugins/google-listings-and-ads in /var/www/wp-content/plugins/google-listings-and-ads/vendor/jetpack-autoloader/class

[2021-07-21 16:06] mikkamp commented on #895
Hi there,

This repository is not intended for support requests.

The best place to get support is the [WordPress.org Google Listings and Ads forum.](https://wordpress.org/support/plugin/google-listings-and-ads/)

If you have a WooCommerce.com account, you can [start a chat or open a ticket on WooCommerce.com](https://woocommerce.com/my-account/create-a-ticket/).

Based on the error message it loo

[2021-07-21 16:06] #895 closed, assigned to nobody

[2021-07-21 16:26] layoutd commented on #863
To clarify, it looks like from the Merchant Center UI, you can only save a phone number by verifying it, but from the API you can save a phone number without verifying it. If a phone number is detected for the Merchant Center account, there are two options:
- Request confirmation to overwrite (similar to Site URL), or
- Assume that it's verified.

[2021-07-22 07:19] nima-karimi commented on #887
I tested this issue with the https://github.com/woocommerce/google-listings-and-ads/pull/894 PR and even though the exception is still thrown, product syncing goes without disruption since we silently log the issue and skip the product.

We would still fetch those subscription products from DB and try to sync them because once the subscription plugin is disabled, the product types are returned as

[2021-07-22 07:28] mikkamp commented on #887
I think the solution in #894 is sufficient. This is a rare scenario since most customers that have these kind of products will have the plugin active. My main intent with this issue was to ensure that the syncing doesn't fail/halt when it encounters a product it is unable to sync.

[2021-07-22 10:00] #883 closed, assigned to nima-karimi

[2021-07-22 10:15] j111q commented on #863
Got it. Added this screen in Figma:
![Setup_ConfirmReq_09](https://user-images.githubusercontent.com/65582817/126623199-24df558d-679d-4942-828b-3d9f6b9e7825.png)

So IF we detect a verified number, then we show the word "Verified" under the number.
If the user clicks "Edit", they are led to the same experience as New user.

Also, IF we detect a business address already in GMC, **we should ignore i

[2021-07-22 10:19] nima-karimi commented on #860
I wonder if we could link to the [WordPress.org reviews section](https://wordpress.org/support/plugin/google-listings-and-ads/reviews/#new-post) instead. Many users install the plugin from the WordPress.org plugin directory, and if they go to our [WooCommerce.com reviews page](https://woocommerce.com/products/google-listings-and-ads/#reviews), they get the following message:

On the other hand, Wo

[2021-07-22 10:24] j111q commented on #860
That's a great point. Let's do that instead 😅

[2021-07-22 10:47] nima-karimi commented on #839
Just a side note: we also have a bunch of places in our own code where the name is written like `Google Listings and Ads` (for example, in the `Plugin Name` section of `google-listings-and-ads.php` file, and in some of the errors). Should we also replace all those references in our code with `Google Listings & Ads`?

[2021-07-22 10:48] nima-karimi commented on #831
Closing this in favor of https://github.com/woocommerce/google-listings-and-ads/issues/860

[2021-07-22 10:49] #831 closed, assigned to nobody

[2021-07-22 10:59] mikkamp commented on #839
We'd have to be careful with changing that one. Because on WordPress.org the plugin slug is auto generated from the plugin name. I'm not a 100% sure if this can be changed since we completed the initial submit, but I think we can leave it as is and replace it in all other locations where it's shown to the user.

Also some parts in readme.txt where it can be updated.

[2021-07-23 03:54] #624 closed

[2021-07-23 06:48] mikkamp opened #900 "Bump WordPress tested version to 5.8"
### Describe the issue:
Normally we can use the WooRelease option `--wp_tested=x.y` to bump the WordPress tested up to version. However in our extension we only have the header line in the readme.txt file and not in the main plugin file. WooRelease throws an error if we try to bump this version.

So the following header should be included:

[code]

Once that's added WooRelease will take care of bu

[2021-07-23 09:28] eason9487 commented on #863
Hey @j111q, there are some requirements might not be met.

1. The `Verified` state of phone number in the setup flow
    - According to https://github.com/woocommerce/google-listings-and-ads/pull/896#issuecomment-884852892, we don't know if the phone number was verified nor was set from where.
    - Assume a user's number is `+1 201-555-0123`, and
        - If user had set and verified it via Goog

[2021-07-23 09:49] j111q commented on #863
Got it. 👍

Let's remove the "Verified" label completely for the Lite version then.
So if you already set it up through GMC, you will see this:

![image](https://user-images.githubusercontent.com/65582817/126765342-32e16d26-0de6-4be2-ac3c-c65e2918245e.png)

If you click edit, it will look like this, where the country code is empty (you have to fill it again):

![image](https://user-images.githubuse

[2021-07-23 10:34] eason9487 commented on #863
@j111q

Could it be filled with existed country code and phone number? Then it would have consistency with the settings page.

Supposed all uses whose number is unverified would be asked to complete the verification after the full version eventually. I think it's ok.

[2021-07-23 13:11] mikkamp commented on #900
Travis can be bumped as well to test with recent versions: https://github.com/woocommerce/google-listings-and-ads/blob/trunk/.travis.yml#L31
Latest up to L-2

[2021-07-23 14:05] tomalec commented on #363
Can we get it, and how cheap is the currency for the other endpoints? For the dashboard and report pages, we already make a number of API requests (~8), and the data coming from 5 they are not complete without currency.

So my first idea is to add 9th request to `/wc/gla/ads/connection` and block the rendering summary, reports, programs list before we get this response as well.

But I wonder, mayb

[2021-07-26 06:14] j111q commented on #863
Oh yes please, if we can do that, let's please do that!

[2021-07-26 08:51] tomalec commented on #884
The fix for WooCommerce Admin bug was merged and will be published in the upcoming release.
https://github.com/woocommerce/woocommerce-admin/pull/6708

[2021-07-26 10:20] j111q commented on #882
This is the one we should go with, thank you for checking!! 🙏

Yes, follow the existing implementation of CES in wc-admin. No, the prompts shouldn't show if event tracking is turned off.

[2021-07-26 19:08] ecgan commented on #900
@mikkamp , I have created PR #904 for this. If it looks good, I will merge it and then make a release tomorrow. 🙏

[2021-07-27 09:15] #887 closed, assigned to nima-karimi

[2021-07-27 09:15] #888 closed, assigned to nima-karimi

[2021-07-27 12:03] solstudioim opened #906 "Supporting new multi-client account Merchant Center account"
### Describe the bug:
I came across a user, 4166380-Zen, who has a [multi-client account Merchant Center account](https://support.google.com/merchants/answer/188487?hl=en) and they can't use this type of Merchant Center account with Google Listing & Ads.

Also, it seems there is no mention of incompatibility of multi-client Merchant Accounts with Google Listings & Ads

### Expected behavior:
When

[2021-07-27 12:26] #900 closed, assigned to ecgan

[2021-07-27 14:14] #618 closed

[2021-07-27 21:53] melek opened #907 "Add an option, hook, or dedicated description field which can process shortcodes for synced descriptions."
## User story

A forum user is using shortcodes to help construct their product descriptions ([click here to view the post](https://wordpress.org/support/topic/description-is-not-synced-along-with-products-2/)). For a large shop, custom shortcodes are one useful  strategy to keep description content aligned across many products. Including allowed HTML is already a great step for store owners to ch

[2021-07-28 09:02] mikkamp opened #908 "Google IDs not stored as an array causes fatal"
### Describe the bug:
We got the following error log from a site:

[code]

When we refresh the Merchant Statuses we use a raw DB query to retrieve all the Google ID's from the postmeta `_wc_gla_google_ids`, so there doesn't seem to be any way to add some custom code to manipulate these results. The query could be filtered and get different results, but that would be a pretty aggressive code snippe

[2021-07-28 10:52] #861 closed, assigned to mikkamp

[2021-07-28 11:23] mikkamp opened #910 "Detect contact information and notify if not set"
This is part of #863. Just splitting it out into a separate issue so we don't work on overlapping functionality.

This will cover detecting if a phone number/address has been set for existing users. We will set a flag for this which can be used to add an inbox notification prompting them to set the details. As well as add it to the issues table.

At the moment the verification API is not available

[2021-07-28 14:25] tijosh commented on #845
Original reporter notes a lingering fatal error using Brizy Pro plugin while on most current version of GLA (1.3.0):

Can you take another look at that @mikkamp ?

4179454-zen

[2021-07-28 14:55] tomalec commented on #906
It happens to be our core architectural limitation, that we do not support multi-client accounts.

It seems we need to state that clearer in our docs.

If that's about to be a feature request. We would have to request new APIs and architecture from Google.

[2021-07-28 21:14] tomalec commented on #498
Unfortunately, my [PR](https://github.com/woocommerce/google-listings-and-ads/pull/897) introduced a bug, as it removed SVGs not only from JS bundle but also from `.zip`. See https://github.com/woocommerce/google-listings-and-ads/pull/897#issuecomment-888246189

[2021-07-29 09:17] eason9487 commented on #863
📝  Note for backend dev - Please let me know if we have a more proper constant for the new step:

https://github.com/woocommerce/google-listings-and-ads/blob/3adc30a8fc5bdfcf08cc97160b91750818c1c64f/js/src/setup-mc/setup-stepper/stepNameKeyMap.js#L2-L6

[2021-07-29 10:04] mikkamp commented on #845
Thanks for the report I was able to reproduce the issue, it turns out there were still some deprecated functions being used by another library, which is resolved in #915

[2021-07-29 10:28] tomalec opened #916 "Consider switching to **`@woocommerce/`**`dependency-extraction-webpack-plugin`"
Currently we use `@wordpress/dependency-extraction-webpack-plugin` in quite outdated version, to [wrangle](https://github.com/woocommerce/google-listings-and-ads/blob/trunk/webpack.config.js#L19-L20) WooCommerce components.

So far there is no problem directly connected to it. But I recall struggling with some `/components` dependencies in the past (like https://github.com/woocommerce/google-listi

[2021-07-30 06:13] #908 closed, assigned to nima-karimi

[2021-07-30 07:18] #907 closed, assigned to nima-karimi

[2021-07-30 11:40] #805 closed, assigned to nobody

[2021-08-02 00:39] findingsimple commented on #916
Thanks @tomalec

[2021-08-02 02:26] eason9487 opened #923 "Remove all "STEP [NUMBER]" headers"
It's a follow-up of https://github.com/woocommerce/google-listings-and-ads/pull/914#discussion_r680147956

Remove all "STEP [NUMBER]" headers from

- MC setup
- Ads setup
- Free listings edit

[2021-08-02 02:30] j111q commented on #923
Yes, thanks for catching that - it was one of the design tweaks proposed by @shivanarrthine and I think it's better too, removes any unnecessary text. 👍 Thank you!!

[2021-08-02 02:32] eason9487 commented on #923
@j111q, thank you for confirming!

[2021-08-02 02:49] eason9487 opened #924 "Change the step number icon style to align with the latest design"
It's a follow-up of https://github.com/woocommerce/google-listings-and-ads/pull/914#issuecomment-890087206

Change the step number icon style to align with the latest design.

## Unknowns

Do we need to 100% stick to the Figma design for the shared components imported from `@wordpress/components` and `@woocommerce/components`?

[2021-08-02 03:01] j111q commented on #924
Generally no. Use shared components instead! Unless it's really really different, in which case, please let me know. But for this one, I think it's pretty similar so it should be fine.

[2021-08-02 03:06] eason9487 commented on #924
@j111q, thank you for clarifying!

Close this issue according to this comment.

[2021-08-02 03:06] #924 closed, assigned to nobody

[2021-08-02 09:31] solstudioim commented on #906
Hi @tomalec we've stated in our doc lately that this extension doesn't support multi-client accounts yet: https://docs.woocommerce.com/document/google-listings-and-ads/google-listings-and-ads-faqs/#section-44

[2021-08-02 10:34] tomalec commented on #906
Thank you @solstudioim.

----

I wonder if there is also an alternative path for a merchant that has a multi-client account, so they could move an existing sub-account from their MCA to our MCA. Like:
1. Disconnect Merchant Center and Google accounts via /wp-admin/admin.php?page=connection-test-admin-page
2. Go to Google MCA account,
3. disconnect individual sub-account,
4. Go to the onboarding, C

[2021-08-02 19:00] thuautp commented on #906
Hi @jconroy ,

The user in the ticket came back with more details about why they have an MCA account:

[2021-08-02 20:58] jonathansadowski opened #929 "Cannot run composer i if your directory setup has spaces."
**Describe the bug**
Running `composer i` chokes if the directory within which it is run contains spaces. This was introduced in

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo within a directory containing spaces.
2. Run `composer i`.
3. Notice that it fails, with an error message caused by the space in the path.

**Expected behavior**
`composer i` succeeds

This appears to have

[2021-08-02 20:59] jonathansadowski commented on #929
Note: this is a tooling bug, so I'm not sure if the bug label should apply

[2021-08-03 03:35] findingsimple commented on #347
[Merchant identified in the forums ](https://wordpress.org/support/topic/product-id-prefix-problem-with-remarkiting/ )that the `gla_` prefix used when submitting products to the Merchant Center currently interferes with remarketing campaigns as product ids won't match when used in conjunction with extensions like the [Woo Google Analytics Extension](https://es.wordpress.org/plugins/woocommerce-goo

[2021-08-03 06:12] findingsimple commented on #347
Generic = [Standard Remarketing](https://support.google.com/google-ads/answer/2453998?hl=en-AU)

[Source](https://support.google.com/google-ads/answer/2476688)

GLA will support standard remarketing out of the box through its use of the global site tag.

Dynamic remarketing will require additional events be added to the site. Currently the events added by the Woo Google Analytics Integration use a

[2021-08-04 11:21] mikkamp opened #931 "Connection Test is not usable for other accounts"
### Describe the bug:
Even though the Jetpack connection is usable for every administrator account on the site, the Connection Test page requires both a valid blog token and a valid user token. If Jetpack was connected with a different account then the user token will be empty.

There are several conditional checks on the Connection Test page which check `$blog_token && $user_token` which we'll ne

[2021-08-04 11:55] mikkamp opened #932 "Large product description prevents syncing"
### Describe the bug:
In the [API docs](https://developers.google.com/shopping-content/reference/rest/v2/products#Product) it doesn't mention any specific limit for the description field. However the [Help Article](https://support.google.com/merchants/answer/6324468?hl=en) does mention a limit of 5000 characters, if it's larger it will get truncated.

In our code we don't set a requirement limit t

[2021-08-04 15:10] mikkamp opened #933 "Pre sync errors being skipped in the issues table"
### Describe the bug:
Some of the pre-sync errors are being skipped in the issues table, which seems to be coming from this line of code: https://github.com/woocommerce/google-listings-and-ads/blob/1.3.0/src/MerchantCenter/MerchantStatuses.php#L494

The errors are saved as an associative array so key [0] will be empty in a case like this:

[code]

It's not exactly clear if it's always an associati

[2021-08-04 17:49] tomalec commented on #886
Besides mocking Google API, we also need to find a way to mock/test Jetpack connection, which is not even tested by `woocommerce` itself https://github.com/woocommerce/woocommerce/issues/25741

[2021-08-04 19:52] tomalec commented on #886
(assigning to myself, as frust…motivated with support rotation experience :sunglasses:, I did some experiments and managed to mock Jetpack connection in e2e tests. I'd publish a draft with my findings probably after the rotation week)

[2021-08-05 04:28] findingsimple commented on #863
Nice work all, I think we just need to land https://github.com/woocommerce/google-listings-and-ads/pull/928

[2021-08-05 09:13] mikkamp opened #935 "Incorrect error response when connecting merchant"
### Describe the bug:
In our code when we are claiming the URL we check for the error 403 (and if it's a sub account) we send that error on to the UI including the URL details, indicating that the claim failed. [#code](https://github.com/woocommerce/google-listings-and-ads/blob/1.3.0/src/API/Site/Controllers/MerchantCenter/AccountController.php#L436-L450)

Our UI handles this and checks for a 403

[2021-08-05 11:50] mikkamp commented on #931
User in 4189258-zen came across the same issue.

[2021-08-06 08:56] eason9487 commented on #863
📝  Dev note: bug fixes (#936, #937, #938) have to be merged before release.

[2021-08-06 09:08] #498 closed

[2021-08-06 17:21] tomalec commented on #775
Here is an example of a merchant experiencing such a problem 4203273-zd-woothemes

It seems there is no error message displayed in the UI even suggesting the Jetpack is an issue but,
- Dashboard and Reports pages throw errors
- Paid Performance Card is forever loading

	![image](https://user-images.githubusercontent.com/17435/128548552-9ee3f253-5f28-4dac-8ef1-bec664defdb0.png)

- Settings are fore

[2021-08-09 10:05] #910 closed, assigned to mikkamp

[2021-08-09 11:02] mikkamp opened #939 "Postcode is not always required"
### Describe the bug:
When we edit the contact information we only allow the address to be updated if street,city,country,postcode are all populated. State can be optional for some countries so it's not included in the list. But postcode is another one which is optional for some countries. In the WooCommerce backend it does not require these store fields, but in the frontend there is some conditio

[2021-08-09 11:31] mikkamp commented on #939
This is also evident in the initial onboarding.

![image](https://user-images.githubusercontent.com/11388669/128699507-dcd57fe1-a5ad-453b-bfa8-90fa626b76b1.png)

I'm unable to click the "complete setup" button until I've added a postcode. Related to #634 it would be helpful to get feedback on why the button is disabled, it's not directly evident that the postcode is missing.

[2021-08-09 16:57] tomalec commented on #863
We discussed on Slack with @ecgan that even though the track events description in [the original issue](https://github.com/woocommerce/google-listings-and-ads/issues/863) state

not

It would be valuable to add another event. And track when the page is loaded with or without the phone number. So we could, track merchants leaving the setup/form as providing the phone number has a hurdle for them.

[2021-08-10 07:52] #932 closed, assigned to nobody

[2021-08-10 12:55] #931 closed, assigned to mikkamp

[2021-08-10 14:40] #929 closed, assigned to nobody

[2021-08-11 07:09] #933 closed, assigned to nima-karimi

[2021-08-11 11:38] nima-karimi opened #950 "Create API and reference documentation"
A developer documentation similar to [WooCommerce core's](https://developer.woocommerce.com/#reference-docs) could be very useful for those who wish to extend GLA, integrate it with other extensions, or modify its functionality via hooks and filters.

For example, WooCommerce has the following reference doc:
https://woocommerce.github.io/code-reference/

In which they provide information about all

[2021-08-11 17:04] jakehodges opened #952 "Guzzle conflict"
Still getting a conflict with Guzzle after updating to 1.4.0. Having this plugin activated is throwing a Guzzle error with my application.

PHP Fatal error:  Uncaught Error: Call to undefined function GuzzleHttp\\choose_handler() in /nas/content/live/theflagstaging/wp-content/themes/twentyfifteen-child/vendor/guzzlehttp/guzzle/src/HandlerStack.php:42

Please let me know if I can provide any more i

[2021-08-11 20:11] JPry commented on #952
@jakehodges `twentyfifteen-child` sounds like a custom child theme. Could you provide a sample of how you're using the Guzzle library in the child theme?

[2021-08-12 05:02] findingsimple opened #953 "Merchants left hanging during billing setup for existing accounts"
**How to replicate**

* Attempt to connect an existing Google Ads account that does not have billing set up and create an ad campaign
* On step 3 of the initial Ads setup flow you'll see a "Setup billing" button that takes you to https://support.google.com/google-ads/answer/2375375
* The help text says "Once you have completed your billing setup, your campaign will launch automatically" however th

[2021-08-12 05:11] findingsimple opened #954 "Unable to type to filter countries during ads onboarding"
### Describe the bug:

I noticed we can type to filter countries during MC onboarding but during Ads onboarding its not possible.

I'm wondering if this is intended (perhaps I need a certain number of countries to be available) or an issue with the component or our implementation?

<img width="489" alt="Screen Shot 2021-08-12 at 2 33 22 pm" src="https://user-images.githubusercontent.com/355014/129

[2021-08-12 09:23] j111q opened #956 "Allow stores to mark themselves as an Adult-oriented account"
## Context
Google automatically detects an "adult" URL. When this happens, the store needs to mark themselves as an adult-oriented account, otherwise they can't create an account.

Proposed solution:
![Screen Capture on 2021-08-12 at 17-18-17](https://user-images.githubusercontent.com/65582817/129172160-1f6207b3-ea65-4b98-85ba-5987abceceab.gif)

Link to Figma: https://mc.a8c.com/pb/29f96/

## Out

[2021-08-16 10:38] mikkamp commented on #956
I did some further testing and scanning through the logs for this issue. The create Merchant Account call doesn't seem to fail on the terms in the website URL, but instead on the name that we provide when creating an account. We use the site title for this which can be set in WordPress > Settings > General.

[code]

For reference the API can return the following error messages depending on how man

[2021-08-17 04:58] #863 closed, assigned to nobody

[2021-08-17 05:09] findingsimple commented on #956
Thanks @mikkamp, so to confirm - after testing more its actually to do with the account name set/used in the Merchant Center.

That's a good thought, I can't think of anything we could guarantee was free of issue unless we used a number

[2021-08-17 05:19] findingsimple commented on #782
Stick with the filter for now implemented in #879 based on "Googlers were not keen to go with the short description over the full one."

[2021-08-17 05:19] #782 closed, assigned to nobody

[2021-08-17 05:24] findingsimple commented on #736
Related to https://github.com/woocommerce/google-listings-and-ads/issues/775 so closing in favor of detecting the connecting is lost/broken and handling that better

[2021-08-17 05:24] #736 closed

[2021-08-17 05:26] findingsimple commented on #541
Adding to the next patch release milestone - if it can't be replicated lets close the issue instead of having it hang around

[2021-08-17 05:43] findingsimple opened #962 "Submit business contact information - full version"
From August 9th the Merchant Center required additional contact information to be submitted during MC setup.

[Previous issue here](https://github.com/woocommerce/google-listings-and-ads/issues/863)

We implemented the lite version of the flow while A[PIs for phone verification](https://developers.google.com/shopping-content/guides/phoneverification) are being implemented.

[The Phone verification

[2021-08-17 06:02] findingsimple commented on #939
cc @j111q @shivanarrthine for input

[2021-08-17 06:19] mikkamp commented on #956
Yes, we don't use it much in our extension because we would need to do multiple requests to get the names when listing all the accounts.

My initial thoughts would be to use something based on a date string (we also need to come up with a default when the site name is empty as this fails). Or alternatively since we get the exact terms back in the error message, we could use a filter to remove them

[2021-08-17 08:45] #952 closed, assigned to nobody

[2021-08-17 09:22] j111q commented on #956
Hmmmmmmm interesting. I gave this some thought - actually, **let's not enable the adultContent flag on the account** if it's not a compulsory step for them to create an account. We shouldn't assume ALL their products are Adult just based on a site name. We can rely on the Google product disapprovals to highlight if they need to set adultContent on their products/account, after they submit their pr

[2021-08-17 09:35] mikkamp commented on #956
Yes that should work, it will greatly simplify the changes needed, since we won't need any changes in the UI.

[2021-08-17 10:05] j111q commented on #956
Yes. Thank you @mikkamp!

[2021-08-18 03:32] eason9487 commented on #541
I still can't reproduce it. Hey @ecgan, could you help to check it?

[2021-08-18 09:38] eason9487 commented on #962
Hi @j111q, (please let me know if I should ping Shiva 🙏 )

I think the error cases of verification codes might happen more frequently than other operations, such as incorrect codes or expired. Do we still show these errors to users via the error notification popup at the left-bottom side of page?

[2021-08-18 09:47] eason9487 commented on #962
Note for backend devs:

Currently, the phone number and store address are updated via the same API at the same time. But there is a separate process to verify phone number and get back the verification result in the full version. The design or change of this API might have a more significant impact scope. We probably need to clarify it further and earlier. Please let me know if it needs more curre

[2021-08-18 09:57] j111q commented on #962
@eason9487 yes do ping me only, that's fine! 😄

Hmmmm yeah I was just thinking about it too. At first I was assuming we would just use the little pop-up, but then I realised it would probably be better in context, since it's not an error for the entire page 🤔

How about something like this:

![image](https://user-images.githubusercontent.com/65582817/129878650-04c55f38-950a-47f7-82e2-f8303edfff75.

[2021-08-18 10:12] eason9487 commented on #962
@j111q, thanks for the reply!

How about show the error at this UI state? Therefore, users would no need to redo the verification method selection if they keyed in wrong verification codes. Or click the "Resend code" button if it has expired.

![image](https://user-images.githubusercontent.com/17420811/129879472-5b0c3b48-f490-4454-89e9-72c0bb60e482.png)

And at the same UI state for the phone call

[2021-08-18 10:16] j111q commented on #962
Hmm yes possible.

Was just thinking we could use one error state for both verification methods for simplicity.
Also, this might be easier if the user needs to **switch** verification methods. In the current design, if you want to switch methods, it's not clear how to go back... You might have to refresh the page, which people might not want to do out of fear they lose all their progress. Thoughts

[2021-08-18 10:22] eason9487 commented on #962
Would it work if we change the text of the "Edit" button to something like "Back" or "Change phone number or verification method"?

![image](https://user-images.githubusercontent.com/17420811/129879472-5b0c3b48-f490-4454-89e9-72c0bb60e482.png)

[2021-08-18 14:20] tomalec commented on #954
It has an attribute `isSearchable` set to `false` https://github.com/woocommerce/google-listings-and-ads/blob/add/886-e2e-jetpack/js/src/components/paid-ads/audience-section.js#L44:L44 but I'm not sure if that was on purpose.

[2021-08-18 20:15] joashrajin opened #965 "Fatal Error when WooCommerce is deactivated"
### Describe the bug:
If you try to enable the plugin while WooCommerce is deactivated or removed, it triggers this error:
`Fatal error: Uncaught Error: Undefined constant "Automattic\WooCommerce\GoogleListingsAndAds\Internal\Requirements\WC_VERSION" ...`

This can happen if you have disabled all plugins and then try to activate them all again.

### Expected behavior:

A message should be shown to

[2021-08-19 00:10] findingsimple commented on #954
@j111q do you think this should be consistent?

[2021-08-19 03:22] j111q commented on #954
Yes it should be consistent and you should be able to search by typing! Good catch!!

[2021-08-19 03:44] findingsimple commented on #954
Thank you!

[2021-08-19 07:53] j111q commented on #962
Hmmmmmm. Okay I tried out a few iterations here and all seemed a little weird.
This one felt like it works best to me:

![image](https://user-images.githubusercontent.com/65582817/130029010-0f87b02b-883b-49c3-9657-9b9f83ee5238.png)

It would be a new "footer" to the card, that shows all the time, even without any error:

![image](https://user-images.githubusercontent.com/65582817/130029081-04b47d3

[2021-08-19 08:05] eason9487 commented on #962
Thank you @j111q. It looks good to me, and it has consistent UI and behavior with the MC account connection. 👍

![image](https://user-images.githubusercontent.com/17420811/130031229-160d0557-b7d3-4121-a1e9-b0f121d050f7.png)

[2021-08-19 08:35] j111q commented on #962
Yes haha okay cool 👍  Thanks Eason!

[2021-08-19 08:42] ecgan commented on #541
@eason9487 , I'll take a look at it. 👌

[2021-08-19 16:08] tomalec opened #969 "Support stores without title"
### User story
As a merchant, I'd like to be able to create MC account, even though my store does not have a name.

### Describe the bug:
When [we request](https://github.com/woocommerce/google-listings-and-ads/blob/add/886-e2e-jetpack/src/API/Google/Proxy.php#L108:L108) a new Google Merchant Center account, we use [blog name](https://github.com/woocommerce/google-listings-and-ads/blob/add/886-e2e

[2021-08-19 16:13] mikkamp commented on #969
Just want to link PR #964 as it also implements a default site name `Account Y-m-d` when site_title is empty.

[2021-08-19 18:49] ecgan commented on #541
I am not able to reproduce this issue, seems everything is working fine now.

Related to the "problematic request and response" mentioned in the issue description, here's what I got in my local environment now:

[code]

Demo video: (https://d.pr/v/z7Vsio)

https://user-images.githubusercontent.com/417342/130126943-3d5f470c-d5c7-4fc5-8750-c8204562c593.mp4

It is working as expected. Closing this is

[2021-08-19 18:49] #541 closed

[2021-08-20 04:24] #923 closed, assigned to eason9487

[2021-08-20 10:48] #954 closed, assigned to ecgan

[2021-08-20 20:44] #965 closed, assigned to nobody

[2021-08-21 18:04] a-danae commented on #572
There was another request for this. 4237559-zen (from forums).

I instructed the user to leave a vote [here](https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/43899639-add-attribute-mapping-to-google-listings-and-ads-s) and [here](https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/43736268-ability-to-map-product-attributes-to-google-conten) in our Woo ideas forum

[2021-08-23 21:38] tomalec commented on #916
In a comment @psealock mentioned (105-gh-woocommerce/pinterest-for-woocommerce #discussion_r679554818):

Unfortunately, it wasn't  "simply" removing `requestToExternal`, as we still need some parts of it to prevent the Card component from rendering incorrectly. But we can remove all the bits related to `@woocommerce/`, ee https://github.com/woocommerce/google-listings-and-ads/pull/976

[2021-08-24 09:55] eason9487 commented on #939
Hi @j111q,

Consider that almost all fields of store address in the WC settings are optional, and we didn't show any required address fields hint/error to users. I think we could take the quick solution that makes the postcode to be optional for now. Although it would still block the submition if one of address-line-1/city/country is empty*, I'm assuming that most users would not be confused by th

[2021-08-25 13:23] #956 closed, assigned to mikkamp

[2021-08-25 13:23] #969 closed, assigned to nobody

[2021-08-26 07:11] nima-karimi opened #978 "Add a message to product inventory tab to set availability date if back order enabled"
Google requires availability date to be set whenever a product's availability is set to `backorder`. We already have an availability date input in the `Google Listings & Ads` tab of the edit product page (added in [https://github.com/woocommerce/google-listings-and-ads/pull/951](https://github.com/woocommerce/google-listings-and-ads/pull/951)) but the user might forget to set that and we do not en

[2021-08-27 06:18] smazur opened #979 "GuzzleHttp autoloader conflicts"
Hi!

We use guzzlehttp library in our WordPress setup. After we installed Google Listings & Ads plugin we start getting fatal errors that certain functions from GuzzleHttp namespace are undefined. I investigated this issue and found that your plugin also uses guzzle library but with namespace prefixing. And the reason why we get those fatals is because of composer autoloader uses the same hash key

[2021-08-27 07:10] mikkamp commented on #979
Thanks for the report @smazur
Would you be able to confirm if you continue to have this problem with version 1.4.2 which was released a few days ago?

The problem you are describing was resolved in #957. In that PR we ensure that the static files are only loaded using the hashed key from our package name. So it shouldn't be loading them anymore for both keys.

If it's still causing issues then wou

[2021-08-27 07:26] nima-karimi commented on #738
This is implemented and merged in https://github.com/woocommerce/google-listings-and-ads/pull/951 and https://github.com/woocommerce/google-listings-and-ads/pull/959

[2021-08-27 07:26] #738 closed, assigned to nima-karimi

[2021-08-27 10:24] nima-karimi commented on #962
Should we allow users to save an unverified phone number or do we only save a phone number after verification?

Merchant Center seems to allow users to save a phone number and displays it as unverified. Would this policy change after rollout?

cc: @j111q

[2021-08-27 12:52] nima-karimi opened #980 "Add PhoneVerification Service"
As part of #962 to implement the full version of phone verification, we need a `PhoneVerification` service to handle contacting Google's API and verify the user's phone.

Given that phone number verification is outside the scope of the `ContactInformation` class, it's best to handle it by another service.

## 1. Add a method to request verification code

This method will call Google's [`accounts.r

[2021-08-27 12:53] nima-karimi opened #981 "Phone Verification: Refactor ContactInformation Service and API"
As part of #962 to implement the full version of phone verification.

## `ContactInformation` Service

Since after rolling out phone verification, we always verify the user's phone number before setting it in Merchant Center, the methods for setting phone number will become irrelevant. Therefore, this class needs to be refactored so that it only handles updating the store's address.

Given that th

[2021-08-27 12:55] nima-karimi opened #982 "Phone Verification: Add API endpoints for requesting phone verification code and verifying it"
As part of #962 to implement the full version of phone verification.

We need two new API endpoints that allow requesting a phone verification code from Google (and sending the code to the user's phone), and verifying the user-provided code.

We can build them as part of the current `mc/contact-information` API or create a new route for just the phone verification. Given that we're going to be rem

[2021-08-27 12:57] nima-karimi commented on #962
Added the backend tasks required for the phone verification functionality to the PR description (#980, #981, #982).

[2021-08-28 16:11] tomalec opened #984 "WC vs. WP external `<Link>`s"
### Describe the bug:

I noticed that for external documentation links we use [`@woocommerce/components.Link`](https://woocommerce.github.io/woocommerce-admin/#/components/) with `external` prop, and [occasionally add `<ExternalIcon>`](https://github.com/woocommerce/google-listings-and-ads/blob/develop/js/src/get-started-page/unsupported-notices/index.js#L65), then [manually tweak it](https://gith

[2021-08-30 02:42] eason9487 commented on #984
TIL: there's a `@wordpress/components.ExternalLink` component. 👍   Looks like it's suitable than composing them on our own if wrapping the `<ExternalIcon>` in the clickable link is fine.

👍  upvote for this.

[2021-08-30 03:42] eason9487 commented on #981
There're some logics that need the data of whether the saved phone number is verified. Would it be added to the current `mc/contact-information` API or the new API? And I was thinking the phone number returned from the Google side might be in a different data structure when verified and unverified.

[2021-08-30 03:57] j111q commented on #984
I don't think it was a conscious choice, your suggestion sounds good! 👍 Thanks for checking 😄

[2021-08-30 03:59] findingsimple commented on #984
@ecgan probably has more background but I think there might be have been a gotcha or some preference to do with tracks events

[2021-08-30 04:06] eason9487 commented on #982
📝  Dev note for @nima-karimi

Even though we will add a cooldown time to lock the next retry of calling request phone verification API on the UI, I guess there're still some users who might run into the rate limit. Please help to notice whether the rate limit (error) could be distinguished from Google side response if you happen to reach that limit. 🙏

![image](https://user-images.githubuserconten

[2021-08-30 07:16] j111q commented on #939
Sorry for late reply Eason!!

Can we make it optional **only** for the countries where it is not required (eg. Ireland)?
OR, Not sure if you mean `make it optional for all countries`. My worry regarding`make it optional for all countries` is some countries might have a require postal code by Google, and if so, what would happen?

I think Singaporeans are pretty used to being an outlier here 😆  and

[2021-08-30 07:39] nima-karimi commented on #982
I added a few notes to the `Error handling` section of the issue:

Is this what you meant by distinguishing the rate limit error, @eason9487?

[2021-08-30 07:53] eason9487 commented on #982
Yes. I was thinking it would be nicer if we could tell users, who already have reached the rate limit, that they need to wait four hours till later. Thanks!

[2021-08-30 08:09] nima-karimi commented on #981
Good point 💯 It'd be good to normalize the phone number to a consistent format. Added a note to the issue.

The Account Business Information API doesn't indicate whether a phone number is verified or not. It just returns the phone number itself. And the newly introduced phone number verification APIs do not provide a way to inquire about the phone number's verification status. I went through the G

[2021-08-30 15:29] gglobalstep opened #986 "[GlobalStep] PHP error gets triggered upon creating/editing a product when "Google listing and ads" plugin is active."
## Bug Description:
PHP error gets triggered upon creating/editing a product when "Google listing and ads" plugin is active.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC 1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all

[2021-08-30 16:37] ecgan commented on #984
TIL for me too, didn't notice the `@wordpress/components.ExternalLink` component. 👍

I think that within us WooCommerce ecosystem, we should use the `@woocommerce/components`'s `Link` component. Currently, [inside the component](https://github.com/woocommerce/woocommerce-admin/blob/49d3ad51f176640f72a56acbadc970974d9b9f03/packages/components/src/link/index.js), there isn't really any code specific

[2021-08-31 07:05] smazur commented on #979
The issue is not reproducing any more. Thanks for quick update.

[2021-08-31 07:13] findingsimple commented on #979
Thanks @smazur , closing

[2021-08-31 07:13] #979 closed, assigned to nobody

[2021-08-31 18:03] rodelgc commented on #986
Hi @gglobalstep,

Thank you for reporting the issue. I was able to reproduce the issue. I get the PHP error message when I updated an existing product.

<img width="1664" alt="Screen Shot 2021-09-01 at 2 00 47 AM" src="https://user-images.githubusercontent.com/4509348/131553234-0dd999f2-dc0d-49ae-828e-60e97f4b0692.png">

Google Listings and Ads is being developed in another repository:  [woocommer

[2021-09-01 04:24] findingsimple commented on #986
@nima-karimi can you take a look at this one can confirm please?

thanks @rodelgc

[2021-09-01 06:27] nima-karimi commented on #986
I can confirm the error. However, this doesn't seem fatal since the product can still be edited. Wonder if we should get out a patch release or leave it for 1.5.

[2021-09-01 07:35] findingsimple commented on #986
👍  I think its fine to queue up a patch release for next week for the porter. If anything else comes up this week it can go with  it. Like you say its just a warning by the looks.

[2021-09-01 16:18] layoutd opened #988 "PHP notice when adding variations"
### Describe the bug:
When adding a new variation to a variable product, a PHP notice is thrown:
[code]

### Expected behavior:
No PHP notice when adding a variation.

### Actual behavior:
PHP Notice when adding a variation.

### Steps to reproduce:
1. Install GLA and complete the Merchant Center onboarding.
2. Add or edit a variable product.
3. Use "Product data" > "Variations" > "Add Variation"

[2021-09-02 03:18] findingsimple commented on #988
Thanks @layoutd - this looks similar to https://github.com/woocommerce/google-listings-and-ads/issues/986

@nima-karimi can you double check the handling for everything when adding/editing products please?

[2021-09-02 03:39] findingsimple opened #989 "Increase in merchants submitting blank domains from mid-july"
### Describe the bug:

The Google team noticed an increase during July of blank domains being submitted during MC onboarding.

<img width="1283" alt="Screen Shot 2021-09-02 at 12 56 33 pm" src="https://user-images.githubusercontent.com/355014/131777018-97e13d1c-a32b-4542-b08c-d1f6a1726a35.png">

We shipped https://github.com/woocommerce/google-listings-and-ads/issues/796 i[n June](https://github.c

[2021-09-02 04:32] eason9487 commented on #962
Hey @j111q,

Since the data returned by Google API for both verified and unverified phone numbers are the same, we still cannot distinguish whether it is verified or not. All the logic associated with the verification status would not be able to implement. We might need to make some adjustments. For examples:
- No matter the user has saved/verified their phone number at Goolge Merchant Center, the

[2021-09-02 04:59] findingsimple commented on #989
Follow up question to be answered as I couldn't tell -> "Are we allowing merchants to submit empty values as their domain?"

I can see we validate the URL but not sure if we allow blank

[2021-09-02 07:06] findingsimple opened #990 "Trigger a tracks event when the plugin is activated with campaign id."
To help with tracking funnels it would be useful to have a tracks event triggered on [plugin activation](https://github.com/woocommerce/google-listings-and-ads/blob/develop/src/Infrastructure/GoogleListingsAndAdsPlugin.php#L49) that has the ability to capture a campaign id/label/source/referrer or something as a property.

Triggering an event on activation will be doable (it will only trigger for

[2021-09-02 08:53] #986 closed, assigned to nima-karimi

[2021-09-02 09:37] j111q commented on #962
I was under the impression that Google would definitely provide this - @jconroy can we maybe confirm with Peter?

Without this data, we basically can't tell which user has a verified number and which user doesn't have one, right? If that's the case, all we can do is prompt ALL users to verify, and then .... cross our fingers and hope they verified it. We have no way to nudge those with unverified

[2021-09-02 09:38] j111q commented on #962
Yes, I think we should too 😅  Good catch

[2021-09-02 15:41] layoutd commented on #989
After a bit of review, the answer looks like a NO:

- The Merchant Center connection process always uses the [`PluginHelper::get_site_url()` method](https://github.com/woocommerce/google-listings-and-ads/blob/24795b3cfcee28543d752d995490c77ac483b3b0/src/PluginHelper.php#L181) to determine the store's base URL, which in turn invokes the WP `get_home_url()` function, which _does_ have the `home_url`

[2021-09-03 05:45] #988 closed, assigned to nobody

[2021-09-03 09:04] eason9487 commented on #962
@j111q

Right. So it'd be great if Google could provide that information.

[2021-09-06 06:26] j111q commented on #962
Okay got it. I added it to our weekly call agenda with Google to just clarify and see whether there's any solution here. Will circle back on Wednesday after we talk to them! Thanks @eason9487  🙏

[2021-09-06 19:00] tomalec opened #995 "Check compatibility with WC 5.7"
WooCommerce 5.7 is scheduled for release on 14th September 2021

This issue is to track the progress in checking/implementing the compatibility of the plugin with it.

- [x] Check that WC updates to 5.7 without any errors
- [x] Check if WC bundle delivers different/incompatible versions of dependencies we use.
	- I'm not sure if that's the right process to do so (for more see internal article pb0S

[2021-09-07 03:52] findingsimple commented on #962
@caiotramontina @Kheiden hey guys - wondering if you would know what is the recommended way to tell if a user has verified?

[2021-09-09 10:27] eason9487 opened #1000 "Partial authorization for Google account"
Since around mid-July, Google changed the permissions to be optional checkboxes when requesting Google account authorization from users. Those checkboxes are unchecked by default, but the GLA plugin needs at least two permissions to proceed with the MC onboarding flow, and needs another one when setting up the ads account.

To avoid users getting stuck when using the GLA plugin without giving requ

[2021-09-09 11:50] tomalec opened #1001 "Support pasting the phone verification code."
## User story

As a merchant, I'd like to easily copy the verification code from SMS and past it into GLA input fields.
(Personally, I find such flow useful when using my mobile)

Currently, when I paste, only the first character is put into the first number field.

![paste](https://user-images.githubusercontent.com/17435/132680130-2ad011e4-5db3-4f7f-bda1-21e22a762a26.gif)

## Technical

## Figma

[2021-09-09 12:00] tomalec opened #1002 "First number of phone verification is not cleared when clicking "Resend…" button"
_(This is a belated follow up from https://github.com/woocommerce/google-listings-and-ads/pull/993)_
### Describe the bug:
When I click "Resend code" button all the inputs are cleared except the first one, then the number is cleared when I move the focus away.

![first](https://user-images.githubusercontent.com/17435/132681800-c8f7f3b4-90cf-483c-9e15-60919aed6914.gif)

### Expected behavior:
All n

[2021-09-09 12:08] tomalec opened #1003 "Backspace does not remove selected verification code number"
_(This is a belated follow up from https://github.com/woocommerce/google-listings-and-ads/pull/993)_
### Describe the bug:
When I select a number and click <kbd>backspace</kbd>, the focus is moved back, but the number is not removed.

### Expected behavior:

Backspace removes the selection and moves the caret back(left).

### Actual behavior:
Caret Is moved, but the number is not deleted.

### Ste

[2021-09-09 12:14] eason9487 commented on #1002
I think it was introduced by the `value={ value }` in https://github.com/woocommerce/google-listings-and-ads/commit/808e70ec309ce9e1f4a80b1de560a39ea2af0cc2. 🤦‍♂️

[2021-09-09 13:08] tomalec opened #1004 "React warning is thrown when leaving phone verification."
### Describe the bug:

React warns: `Can't perform a React state update on an unmounted component` when you leave the phone verification component while the verification process/promise is pending.

### Expected behavior:
No warning should be thrown.

### Actual behavior:
React throws:
![reaxct state](https://user-images.githubusercontent.com/17435/132691401-9466794a-44d8-42b4-ac1a-1160137ba669.gi

[2021-09-09 17:50] tomalec commented on #201
@jconroy I wonder whether it's much value with tracking here all those issues. Given our sweet dependency hell (pb0Spc-1LK-p2), AKA:
- we support a range of WP & WC versions
- which comes with a range of individual versions
- we don't know which versions are delivered with WC
- sometimes it's not even a released version, but a specific commit from branch https://github.com/woocommerce/woocommerce-

[2021-09-09 18:00] tomalec opened #1005 "Primary destructive button does not render disabled state"
### Describe the bug:

The primary destructive button does not render disabled state, due to our hacks around `@wordpress/components.Button` https://github.com/woocommerce/google-listings-and-ads/blob/develop/js/src/css/shared/_gutenberg-components.scss#L7

### Expected behavior:

This is how it looks if we remove all our hacks in WP 5.8.1
![image](https://user-images.githubusercontent.com/17435/1

[2021-09-09 19:19] tomalec commented on #995
I performed the checks mentioned above. Didn't find any new or blocking issue.
@layoutd do you want to do some check from the PHP perspective, or should we just bump the versions?

[2021-09-09 19:25] layoutd commented on #995
If you did the smoke tests, that should about do it. I ran the compatibility analyzer and didn't come up with anything  either. Thanks @tomalec!

[2021-09-09 19:37] tomalec commented on #995
Closing as done, then. I added the note to our release sheet. Version bump should be released as [`1.4.4`](https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.4.3)

[2021-09-09 19:38] #995 closed, assigned to tomalec

[2021-09-10 02:09] danielbitzer commented on #982
@eason9487 currently I have the response as this:

<img width="745" alt="Screen Shot 2021-09-10 at 11 38 36 am" src="https://user-images.githubusercontent.com/1892137/132787691-cdc9e9e6-0814-4f8b-8f70-d294ffedfc46.png">

[2021-09-10 06:49] j111q commented on #962
Comment in another Google doc from @caiotramontina:

Given the above ☝️ , I have tweaked the Figma file and removed the places where it shows `Verified`, and instead we will only show `Unverified`. As Caio mentioned, `Unverified` should appear when there is an account level issue of type: `PENDING_PHONE_VERIFICATION`. I think we shouldn't show `Verified` if we don't definitively know that it IS ve

[2021-09-13 06:26] j111q commented on #1000
**Yes**, we should ask for all 3 permissions during the re-connection process shown in #838.

We should not allow the user to have one Google account for MC and a different Google account for Ads. So I'm guessing we'd need some kind of warning or info here to the user to guide them to choose the correct Google account?

[2021-09-13 08:07] eason9487 commented on #962
Thanks for replying, @j111q

Not sure where I did wrong. I tried two different Google Merchant Center accounts (359541474 and 456021378) by [this doc](https://developers.google.com/shopping-content/reference/rest/v2.1/accountstatuses/get), but no matter the phone numbers were empty or unverified, none of them got the account level issue with `PENDING_PHONE_VERIFICATION` type. It doesn't appear in

[2021-09-13 08:15] j111q commented on #962
Hmmm noted @eason9487. Pinged Caio and CCed you.

[2021-09-13 12:06] findingsimple commented on #995
Thanks @tomalec ❤️

We can bump the versions on the next release with actual code changes. No need for a specific release to bump tags if its not generating any warnings.

[2021-09-13 19:53] caiotramontina commented on #962
This is probably due to the fact that enforcement has not yet started. I've asked for internal confirmation that this is in fact the correct enum that will be utilized as id of the AccountLevelIssue and if there is anyway to create a test environment in the meantime. Will followup as soon I have an answer.

[2021-09-14 10:51] findingsimple opened #1008 "WooCommerce Coupon Integration"
## Objective

We want to build a seamless integration with WooCommerce which will enable Google to get the WooCommerce merchants promotion data and relevant mapping so that we can show the available promotions to consumers on Google.

## Overview

We will provide an option for users to explicitly share coupons on Google.
And then based on coupon modifications and product modification events on sha

[2021-09-15 05:12] #1002 closed, assigned to nobody

[2021-09-15 05:12] #1003 closed, assigned to nobody

[2021-09-15 05:12] #1004 closed, assigned to nobody

[2021-09-16 01:17] danielbitzer opened #1011 "Probable issue in `CompleteSetup` inbox notification criteria"
Originally brought up here: https://github.com/woocommerce/google-listings-and-ads/pull/1010#pullrequestreview-755283245

@layout noted that:

- `\Automattic\WooCommerce\GoogleListingsAndAds\Notes\CompleteSetup` Line 67:

This doesn't seem to be [a criteria anymore](https://github.com/woocommerce/google-listings-and-ads/commit/41c16313e8e0ee77fbcaff4b29c2d1be4033ff72#diff-7cebe8ef86c9f8e3c886840da

[2021-09-16 02:22] findingsimple commented on #1011
🤔

That might be a mistake based on https://github.com/woocommerce/google-listings-and-ads/issues/546#issuecomment-833195030

[2021-09-16 02:27] findingsimple commented on #1011
Yeah unless I am missing something that's a logic mistake 🙈  I'm not allowing myself to code anymore.

[2021-09-16 02:29] danielbitzer commented on #1011
We all make mistakes sometimes, well I know I do 😆

[2021-09-16 02:34] danielbitzer commented on #1011
I just checked the code in question and it _is_ checking for 5 or more orders 🙌

[2021-09-16 02:49] #980 closed, assigned to nima-karimi

[2021-09-16 05:00] danielbitzer commented on #860
@j111q we could also randomize the link so half the time it links to wordpress.org vs woocommerce.com?

I also wonder if we should reach out to the wc.com team to ask them to allow reviews on free products even if the customer hasn't purchased it.

[2021-09-16 05:03] danielbitzer commented on #860
@j111q what about rounding to the nearest hundred and then showing that number in the note?

[2021-09-16 05:22] j111q commented on #860
@danielbitzer:

This makes sense to me! 👍

Oooh nice idea!
So to clarify, do you mean:
For **current/existing users, who have >100 clicks**, we round down to nearest hundred, and show that number.
For **current/existing users who have currently less than 100 clicks, AND future users** , we will detect when they hit 100 clicks and congratulate them on that number.

[2021-09-16 05:25] danielbitzer commented on #860
Yes exactly this 😄 would be pretty easy I think.

[2021-09-16 05:31] j111q commented on #860
My fav sentence 😜  Let's do it! Thanks for the great ideas @danielbitzer!

[2021-09-16 07:47] danielbitzer commented on #860
<img width="534" alt="Screen Shot 2021-09-16 at 5 15 28 pm" src="https://user-images.githubusercontent.com/1892137/133571713-cdea9396-91f2-4a88-87e3-d9e12f65f45d.png">

It's kinda funny to me for some reason 😆

[2021-09-16 08:15] j111q commented on #860
Hahahahhaha 'cause it's like so specific I think. WELL better than saying 100+ if you have 5300 clicks I guess 😆

[2021-09-16 08:23] danielbitzer commented on #860
Haha nah I really like it!

Side note: I'm not sure why the note has been added "9 hours from now" maybe a WP Admin bug 😬

[2021-09-16 08:27] j111q commented on #860
Yes it feels celebratory 🥳  Guess you are a time traveller 🙃

[2021-09-17 06:00] danielbitzer commented on #1011
I removed that incorrect comment in cee235c17d7fa7095ab69f3e0fc023cd18a139f0

Closing as there are no more issues here to fix.

[2021-09-17 06:00] #1011 closed, assigned to nobody

[2021-09-17 11:56] drwpcom opened #1013 "Norwegian not recognized as a supported language"
### Describe the bug:
When Norwegian is the Site language in WordPress, it's impossible to set up Google Listings & Ads. The error is:
<img width="789" alt="Screen Shot on 2021-09-17 at 09-08-55" src="https://user-images.githubusercontent.com/30090682/133778334-1e335c3f-da91-46ab-8cd7-bd026c7e8e46.png">

### Expected behavior:
Since [Norwegian is one of the supported languages by Google](https://s

[2021-09-17 12:07] eason9487 commented on #1013
Some references:

- Language code - https://www.loc.gov/standards/iso639-2/php/langcodes-keyword.php?SearchTerm=Norwegian&SearchType=ALL
- Currently, GLA uses `no` as the Norwegian language code - https://github.com/woocommerce/google-listings-and-ads/blob/1.4.3/src/GoogleHelper.php#L179

[2021-09-17 13:05] layoutd commented on #1013
Also > https://linguistics.stackexchange.com/a/36794

Very interesting issue, looks like `no` as a language code is kind of a catch-all, but `nb` is [Bokmål, which is "the preferred written standard of Norwegian for 85% to 90%[5] of the population in Norway"](https://en.wikipedia.org/wiki/Bokm%C3%A5l). In [Google's list of supported languages](https://support.google.com/merchants/answer/160637?hl=

[2021-09-21 12:10] j111q commented on #962
FYI (to record this here) - I have split the design to “Before verification can be detected” and “After verification can be detected” - let me know if it makes sense. https://www.figma.com/file/eQ9O4m2flzrcAiDMXkOW0m/?node-id=1%3A145

[2021-09-22 06:56] danielbitzer commented on #860
@j111q technically speaking do you think we can just check for 10 conversions? They would have to setup at least 1 ad campaign in order to have any conversions right?

[2021-09-22 06:58] j111q commented on #860
True and yes 👍  😆  Let's just do that.

[2021-09-22 07:17] #981 closed, assigned to nima-karimi

[2021-09-22 07:34] danielbitzer commented on #860
https://googleforwooextension.wordpress.com/2021/09/22/ops-design-dev-weekly-sync-with-google-22-september-2021/#comment-135

@j111q could you let me know what the updated title should be and the number of impressions to require before adding the note?

[2021-09-23 10:24] eason9487 commented on #962
After discussing with @j111q about this question quoted from https://github.com/woocommerce/google-listings-and-ads/issues/962#issuecomment-911157548

The changes are

- adjust the layout of `<StoreAddressCard>` for both usages in MC onboarding and GLA Settings pages
- split the editing of phone number and store address into individual sub-pages in GLA Settings

[2021-09-23 13:08] kevin25 commented on #572
Please add this feature. It's really important

[2021-09-24 00:39] #982 closed, assigned to danielbitzer

[2021-09-24 04:50] findingsimple commented on #989
Thanks for the investigation @layoutd I'll see if we can get any more info from the Google team that might help us pin point things

[2021-09-24 12:06] tomalec opened #1024 ":nail_care: Simplify `.~/utils/urls.js`"
## User story
I was about to add another URL for[ a new settings page](https://github.com/woocommerce/google-listings-and-ads/issues/962#issuecomment-925686034) to our URL helper, to have its URL hardcoded in one place to https://github.com/woocommerce/google-listings-and-ads/blob/develop/js/src/utils/urls.js

I noticed there is a lot of redundant boilerplate, that requires adding URL details in t

[2021-09-24 12:45] tomalec commented on #962
@j111q I guess we need to separate missing data warning as well 2a4c0-pb/#bash
![image](https://user-images.githubusercontent.com/17435/134676102-0f5a496e-a0c0-4cd1-8697-dc30a6f5ebe4.png)
As "Add information" would have to point to two separate pages at once.

[2021-09-24 16:23] j111q commented on #962
Oh great catch, thanks for that @tomalec.
Can we do it like this? Updated the design in Figma as well.

![image](https://user-images.githubusercontent.com/65582817/134708622-9a5ea7f8-6766-4c56-a0c0-58201b858591.png)

[2021-09-24 17:47] tomalec commented on #962
Thanks, that's more or less what I already started implementing.

WDYT of moving warning icon to the same line? to make the height of the card closer to the one w/o the message, to make the layout less jumpy as it loads.
![image](https://user-images.githubusercontent.com/17435/134718643-5f801aea-d5e4-40fe-9fac-58f800284877.png)

There is still a difference, but that's only one line of text more ad

[2021-09-24 18:39] tomalec commented on #962
Also, I experimented a little with preloaders

#### Previous:

![spinner](https://user-images.githubusercontent.com/17435/134724207-cbd14797-8077-43cf-89ba-014c08a5a947.gif)
#### Proposed:
![inline preloader](https://user-images.githubusercontent.com/17435/134723533-1f239abd-77fe-4d12-8dff-ab369ebdc9bd.gif)
IMHO, it gives the user the size and shape of data to anticipate, and is less mesmerizing.

[2021-09-24 20:02] ecgan commented on #1024
@tomalec ,

[code]

On the consuming side, how do we want to differentiate the array and function, and call and use them accordingly? 🤔

---

I looked into https://github.com/woocommerce/google-listings-and-ads/blob/6930290c85c60a825a92998e5cda5f2070cb4e7e/js/src/utils/urls.js and thought about this, what do you think if we have the following:

[code]

Then, on the consuming side, we would have:

[2021-09-27 04:11] eason9487 commented on #1024
The current implementation works for me since its cognitive load is low. And the `URLs` pattern solution works for me as well.

I bet it won't have more logic in the future. 😎  Even if the need arises in the future, we could put it on the consumer side or the callback might still satisfy of adding simple logic.

[2021-09-28 17:29] tomalec opened #1027 "Impaired UX/A11Y of internal button links."
\_This is a follow-up from [https://github.com/woocommerce/google-listings-and-ads/pull/1025#discussion_r717329726](<https://github.com/woocommerce/google-listings-and-ads/pull/1025#discussion_r717329726>), and local issue to address broader one [https://github.com/woocommerce/woocommerce-admin/issues/7725\_](<https://github.com/woocommerce/woocommerce-admin/issues/7725_>)

### Describe the bug:

[2021-09-29 13:12] tomalec opened #1028 "Different currency warning is shown w/o currency"
_(This is a follow up from a slack discussion p1632910406112300-slack-C01E9LB4X61)_

### Describe the bug:

@layoutd experienced a scenario when the different Ads-WC currencies warning is shown:

![image](https://user-images.githubusercontent.com/17435/135272598-69473272-24e2-48f2-8f08-e21490585945.png)

The reason may be twofold:
1. Account is there but disconnected, and w/o currency
2. There is

[2021-09-29 21:09] tomalec commented on #962
@j111q I updated the Store Address setting card:
The one in Figma looks like:
![image](https://user-images.githubusercontent.com/17435/135344395-cfa1234f-dc60-4bae-a8a5-eed6cb852e3f.png)

So far we are using an external icon set for the "reload" icon:
![image](https://user-images.githubusercontent.com/17435/135344474-c43135ff-5a87-4241-877e-b601484f430a.png)

I noticed we have "Update" icon in the

[2021-09-30 11:46] findingsimple commented on #1028
Agreed

[2021-09-30 11:47] findingsimple commented on #1028
Although I don't fully grok that element

[2021-10-01 03:48] eason9487 opened #1033 "Submit business contact information - after phone verification status is available"
#### UPDATE: A new method

The verification status of the phone number can be obtained from the `AccountBusinessInformation->getPhoneVerificationStatus()`. So the following method of getting from an account-level issue would be an alternative.

#### Original method

We implemented the full version of business contact information for phone verification. However, since the phone verification status

[2021-10-01 03:52] eason9487 commented on #962
Close this issue by opening a new issue records remaining tasks.

[2021-10-01 03:52] #962 closed, assigned to nobody

[2021-10-04 02:40] kevin25 commented on #1028
I got the same issue. And it synced the different currency (in my case it's CA though i set my store using USD) then GMC disapproved my products.

[2021-10-04 09:28] tomalec commented on #1028
Hi @kevin25, thanks for chiming in.

Do I get it right that this is more or less what happened at your end?
1. Set your store to use USD
2. You set up Merchant Center Account via GLA plugin
3. You set up Ads Account via GLA plugin (with USD)
4. Then, you noticed the "Different currency" banner with CAD (or blank?)
5. Then, your Google Merchant Center disapproved your products.

[2021-10-04 09:44] kevin25 commented on #1028
Yes, that's right.

[2021-10-05 06:47] j111q commented on #1033
Hello @eason9487, thank you so much for the clear summary of outstanding issues! 🙏  And thank you @tomalec for all the great suggestions!! TLDR; 👍 👍 👍

I like it! 👍  Agree.

Agree, great proposal 💯  I think we do have this type of loading pattern elsewhere in Woo as well, so that aligns nicely.

Yes, let's use that instead!

[2021-10-05 14:05] tomalec opened #1036 "Make "Verify phone…" a submit button"
## User story

As a merchant verifying phone number, especially one using the keyboard as input, I'd like to easily submit a verification code, by filling the code then pressing <kbd>enter</kbd>

## Technical

As we are not using native `<form>` and `<submit>`/`<button type="submit">` HTML elements, those actions does not work out of the box.

## Figma link
n/a

## Acceptance criteria

## Unknowns

[2021-10-05 17:01] tomalec opened #1037 "Cleanup navigation related code"
### Describe the bug:

Currently, navigation-related code is scattered around our codebase in multiple places. It makes it hard to add new pages or change the navigation flow. Some of it is a result of Woo convention of adding pages - separate setup in PHP separate in JS. But I believe some of it could be cleaned up on our end.

Here is the list of places when we define the navigation:
1. All [`/s

[2021-10-08 19:45] ecgan opened #1041 "WC 5.8 compatibility: Unable to display country name using `useCountryKeyNameMap`"
### Describe the bug:

WC version: [5.8.0-rc.1](https://github.com/woocommerce/woocommerce/releases/tag/5.8.0-rc.1)

I was running smoke test on this plugin with the new WooCommerce version. In the Setup MC Step 2 audience page, the SelectControl does not display the country names in the options list and the selected values.

![image](https://user-images.githubusercontent.com/417342/136615966-ce4a

[2021-10-08 20:30] ecgan commented on #1041
It seems like this is because in the `wc/admin/settings` redux store, we no longer have the `wc_admin:"countries"` data, so when we try to use `useCountryKeyNameMap` to display the country names, it would return blank.

This affects other places too, like the country code dropdown in phone verification, and store address with country name.

![image](https://user-images.githubusercontent.com/417342

[2021-10-11 13:01] ecgan commented on #1041
I've added possible solution in the issue description, just in case the removal of `countries` from the redux store is intentional.

[2021-10-11 14:10] tomalec commented on #1041
Thanks. The other hotfix I was thinking about. Was to simply read it from `window.wcSettings`.

[2021-10-12 07:47] ghost opened #1044 "Google listing & ads plugin disable jquery"
Hello there,

I am using Google listing & ads plugin which is developed by woo commerce, i have few issues.

1. I use google listing & ads plugin with api integration so google merchant center pull product automatically from production.  when i copy site from production into staging. again all product pull from staging and make duplicate into google merchant center.
2. if i disconnect all accounts

[2021-10-12 11:26] eason9487 commented on #1041
📝  Adding some of my investigations

According to the reply we got from team Isotope (p1633722919407700-slack-CBKK5KM41), eventually the solution will be using `@woocommerce/wc-admin-settings` to get non-mutable settings. However, till now `@woocommerce/wc-admin-settings` has not been published on npm yet. Its former name, [`@woocommerce/settings` **1.0.0**](https://www.npmjs.com/package/@woocomme

[2021-10-12 13:03] tomalec commented on #1041
:rocket: Awesome! I love the idea. The solution works even in WC 5.5, it makes the code more synchronous and shorter.

Before the package will be published we'd need `eslint-disable` exceptions, but that would remind us to check it from time to time.

If the WC will stop using `@woocommerce/wc-admin-settings` internally we would switch to whatever solution that suggests or use in the future.

[2021-10-12 13:36] tomalec commented on #1041
A bit of archeology, and a suggestion from my past self ;) (8mo. ago)
https://github.com/woocommerce/google-listings-and-ads/commit/6240456b322d8c9c31c4a34d6fb7f424bed45e7c#diff-d9e831e4e3925644df7d65ac6ba2ad3c319537a65b470a5e4e3818cc866ef577R26

[2021-10-12 14:27] juliaamosova commented on #1044
Hi @haja-rr-dev,

Thank you for reporting the issue. It looks like the issue is on the [Google Listings & Ads](https://woocommerce.com/products/google-listings-and-ads/) plugin side of things. This plugin is being developed in another repository: https://github.com/woocommerce/google-listings-and-ads.

I am going to move your bug report there so that the right team could take a look further.

[2021-10-12 14:45] ghost opened #1045 "Google listing & ads plugin disable jQuery when deactivate/delete"
Hello there,

I am using Google listing & ads plugin which is developed by woo commerce, i have few issues.

I use google listing & ads plugin with api integration so google merchant center pull product automatically from production. when i copy site from production into staging. again all product pull from staging and make duplicate into google merchant center.
if i disconnect all accounts in sta

[2021-10-12 14:48] findingsimple commented on #1045
Duplicate of https://github.com/woocommerce/google-listings-and-ads/issues/1044

[2021-10-12 14:48] #1045 closed, assigned to nobody

[2021-10-12 14:57] ghost commented on #1045
Excuse me ?! did you read what response i've got ?

[2021-10-12 14:58] ghost commented on #1045
@juliaamosova suggest to post issue to this repository, How did u delete ?

[2021-10-12 15:04] findingsimple commented on #1045
@juliaamosova moved the issue to this repo #1044 - so there was no need to create a new issue (this one)

[2021-10-13 04:23] #1041 closed, assigned to tomalec

[2021-10-13 06:04] ghost commented on #1045
ok thank u @jconroy

[2021-10-13 09:36] eason9487 opened #1047 "Enhance CI jobs in the GitHub Actions"
## User story

As a developer, it'd be great

- if the CI could run jobs as fast as possible
- if the CI could run only the jobs that really need to be run
- if the CI could display colorful logs

## Technical

Some possible action items

- [x] Cancel the previous jobs for pull requests that have not been completed - #1224
    - Could be done with the workflow syntax `concurrency`
    - https://do

[2021-10-13 09:55] tomalec commented on #1047
👍

[2021-10-13 10:03] eason9487 commented on #1047
After discussing it on team's dev call, these client files should not be needed when running PHP unit tests. So we could try to dynamically create mocked files, or just add the mocked files to git and copy them to `js/build/`. And it expects to save about 1.2 ~ 2 minutes.

[2021-10-13 11:14] tomalec opened #1048 "Remove workaround for WC-admin navigation bug"
_(This is a follow-up for https://github.com/woocommerce/google-listings-and-ads/pull/1038 and https://github.com/woocommerce/woocommerce-admin/issues/7772)_
## User story

As a developer, I'd like not to maintain too many workarounds :sunglasses:, like https://github.com/woocommerce/google-listings-and-ads/pull/1038/commits/aa86e09df0aeab50658cba72c67e36df4a700154

## Technical

Once
1. - [x] htt

[2021-10-13 11:24] tomalec opened #1049 "Update the WP-admin menu highlight, after navigation"
_This is a follow-up from finding in https://github.com/woocommerce/google-listings-and-ads/pull/1038#pullrequestreview-774899799_

### Describe the bug:

@eason9487  [wrote](https://github.com/woocommerce/google-listings-and-ads/pull/1038#pullrequestreview-774899799):

It happens not only on repeated clicking but also on the navigation that happens beyond the `<MainTabNav>` component (when the `u

[2021-10-13 12:02] tomalec commented on #621
Fixed in https://github.com/woocommerce/google-listings-and-ads/pull/1038

[2021-10-13 12:02] #621 closed, assigned to nobody

[2021-10-15 18:15] tomalec opened #1050 "WC 5.8 compatibility: Title breadcrumb"
### Describe the bug:

As discovered in https://github.com/woocommerce/pinterest-for-woocommerce/pull/224#issuecomment-944496208 the `wp-admin-setting` does not work as I expected, and we need to tweak it a little in this repo as well, and update the code docs, as they are not accurate.

### Steps to reproduce:

1. Checkout the branch
2. `npm install`
3. `npm run build`
4. Open any GLA page, like[

[2021-10-18 11:49] eason9487 opened #1053 "Add a anchor to the Required permissions section in GLA documents on the docs.woocommerce.com"
### Description

It's a follow-up of #1000 after asking @j111q , and it's used in #1052 at https://github.com/woocommerce/google-listings-and-ads/blob/92b08874adc1084b2ccde38954e10787355251d5/js/src/components/google-account-card/auth-google-account-card.js#L18-L22

![image](https://user-images.githubusercontent.com/17420811/137724328-48260dcf-a519-4be4-9d0a-f39ebbdb573f.png)

The anchor of "Read

[2021-10-18 14:45] louwie17 opened #1054 "Depreciated warning of `should_show_tasks`"
### Describe the bug:
There is a depreciated warning of `should_show_tasks` when enabling the Google Listings & Ads plugin

<img width="1808" alt="Screen Shot 2021-10-18 at 9 35 48 AM" src="https://user-images.githubusercontent.com/2240960/137754131-077ae875-5077-41ef-81d3-b62556257510.png">

### Expected behavior:
Should not log the depreciated warning.

### Actual behavior:
A depreciated functio

[2021-10-19 05:09] findingsimple commented on #1054
Thanks @louwie17

[2021-10-20 02:55] findingsimple commented on #860
@j111q sorry to bother while you are on your Jam. Just wanted to triple-check the above to wrap things up.

[2021-10-20 04:59] j111q commented on #860
Yes sorry, should've closed the loop here - it's good to go as is! 👍  🚢

The team was aligned to revisit the other convo around Ad Budget / Set Up notifications separately, as those are still being discussed in terms of copy and timing.

[2021-10-21 05:25] findingsimple opened #1058 "“availibility” unknown “enum-value”"
Noticed the [following topic](https://wordpress.org/support/topic/ungultiger-enum-wert-in-feld-availability/) in the support forums

[code]

I haven't had a chance to investigate so posting here for follow up

[2021-10-21 05:51] findingsimple opened #1059 "Conflict with “Advanced Coupons for WooCommerce Free” Plugin"
Noticed a report from a user [in the support forums](https://wordpress.org/support/topic/conflict-with-advanced-coupons-for-woocommerce-free-plugin/) that GLA is conflicting with "[Advanced Coupons for WooCommerce Free](https://wordpress.org/plugins/advanced-coupons-for-woocommerce-free/)"

I haven't had time to replicate, creating an issue to follow up. I've asked for additional information in ca

[2021-10-21 13:40] #990 closed, assigned to layoutd

[2021-10-22 08:41] #1050 closed, assigned to nobody

[2021-10-22 19:40] Parentivincent commented on #572
Hello, I confirm this fields mapping feature would really be a must to properly use this great plugin. Thanks in advance for the upgrade ;)

[2021-10-26 06:24] findingsimple opened #1061 "Improve handling / feedback for countries that don't support coupons/promos"
### Describe the bug:

Coupon that are unable to be synced to (unsupported countries?) still show as pending which may create some confusion.

<img width="1402" alt="Screen Shot 2021-10-26 at 4 50 31 pm" src="https://user-images.githubusercontent.com/355014/138820028-290b67da-a975-42c6-8770-fb521a6a251e.png">

The logs indicate what is actually happening

`2021-10-26T05:57:06+00:00 DEBUG Automatti

[2021-10-26 06:46] findingsimple opened #1062 "Update product channel visibility styling to match coupons/promos - pending sync"
### Describe the bug:

Coupon pending sync and product pending sync status currently differs

Products ->

<img width="314" alt="Screen Shot 2021-10-26 at 5 06 00 pm" src="https://user-images.githubusercontent.com/355014/138822606-91aa27ba-b8ad-4b72-aa72-64ba90502e41.png">

Coupons ->

<img width="306" alt="Screen Shot 2021-10-26 at 5 13 51 pm" src="https://user-images.githubusercontent.com/355014

[2021-10-26 22:47] chennyxie commented on #1061
Hi, I have updated in the coupon feature pull request to disable the channel visibility option for country that not supported yet. I will keep this thread open to more ideas showing unsupported case more elegantly

[2021-10-26 23:24] findingsimple commented on #1061
Thanks @chennyxie ! 🙇

[2021-10-27 16:14] ecgan opened #1065 "UX improvements on account connections"
## User story

This is the main issue to track the work of UX improvement on account connections.

Currently, Step 1 (account connections) of the Onboarding Flow has one of the steepest drop-offs in the funnel. Our goal with these UX improvements is to reduce that drop.

Design with explanation:

![image](https://user-images.githubusercontent.com/417342/139102179-4d138545-be24-4df2-81cd-1d660146b2

[2021-10-29 08:04] kevin25 opened #1070 "Checking expiring items hits 100% CPU"
### Describe the bug:
The query hits 100% CPU for a long time. Looks like it's checking the expiring items.

`SELECT   wp_posts.ID FROM wp_posts  LEFT JOIN wp_term_relationships ON (wp_posts.ID = wp_term_relationships.object_id) LEFT JOIN wp_postmeta ON ( wp_posts.ID = wp_postmeta.post_id AND wp_postmeta.meta_key = '_wc_gla_visibility' )  LEFT JOIN wp_postmeta AS mt1 ON ( wp_posts.ID = mt1.post_id

[2021-11-02 08:40] ghost commented on #1044
Any updates regarding this ?

[2021-11-02 08:42] ghost commented on #1044
May i know how long it will take to fix approx. ?

[2021-11-03 10:20] eason9487 commented on #935
Dev note:
Probably this issue would be addressed after the partial oauth #1000 finished.

[2021-11-03 10:44] nima-karimi commented on #1044
Hi @hajakutbudeen-dev 👋

This repository is not intended for support requests. The best place to get support is the [WordPress.org Google Listings and Ads forum.](https://wordpress.org/support/plugin/google-listings-and-ads/)

If you have a WooCommerce.com account, you can [start a chat or open a ticket on WooCommerce.com](https://woocommerce.com/my-account/create-a-ticket/).

The behaviors descri

[2021-11-03 10:44] #1044 closed, assigned to nobody

[2021-11-04 09:32] #808 closed, assigned to nima-karimi

[2021-11-04 14:23] chennyxie commented on #1062
Hi, just to confirm this has been fixed in the latest version of the PR

[2021-11-05 06:30] j111q commented on #1053
FYI @eason9487 I've added the anchor ID here which can be used for the link: https://woocommerce.com/document/google-listings-and-ads/#required-google-permissions

We're still finalising the copy updates, but I think it's fine to just use this link for now!

[2021-11-05 07:00] eason9487 commented on #1053
Thanks for the updates! @j111q

Closing this issue due to the link anchor has been added.

[2021-11-05 07:00] #1053 closed, assigned to j111q

[2021-11-05 08:36] eason9487 opened #1078 "Shipping values flash during the onboarding setup"
### Describe the bug:

@layoutd found this issue.

When entering shipping rates/times, sometimes the input values will flash between empty, old value, and new value.

### Expected behavior:

Apart from the currency/number formatting that might change the input value, it should not flash the old/empty value on the `<input>` field after moving out the input cursor.

### Actual behavior:

#### Appear

[2021-11-05 09:48] budzanowski opened #1080 "WC 5.9 compatibility - migrate should_show_tasks to task list API."
### Describe the bug:
In WC5.9 the `should_show_tasks` method was deprecated. We should use task list API instead. For reference https://github.com/woocommerce/woocommerce-admin/pull/7577
<figure class="wp-block-table" style="box-sizing: border-box; border: 0px; font-family: inter, -apple-system, system-ui, blinkmacsystemfont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Hel

[2021-11-05 11:18] nima-karimi commented on #1058
Seems like the problem was caused to another plugin because it also happens when they've disabled GLA: https://wordpress.org/support/topic/ungultiger-enum-wert-in-feld-availability/#post-15038872

However, when I checked [Google's doc for the `Availability` field](https://support.google.com/merchants/answer/6324448?hl=en) I noticed the supported values for `in stock` and `out of stock` have change

[2021-11-05 11:18] #1058 closed, assigned to nima-karimi

[2021-11-07 07:01] ghost commented on #1044
Thanks for your replay @nima-karimi

[2021-11-08 10:31] findingsimple commented on #1080
Ncie thanks @budzanowski

[2021-11-08 13:11] layoutd opened #1085 "JavaScript error in WooCommerce dashboard after Merchant Center onboarding"
### Describe the bug:
A JavaScript error appears on the main WooCommerce dashboard page after completing Merchant Center onboarding (tested in WooCommerce 5.8 and WooCommerce 5.9 with the `develop` branch of Google Listings & Ads):

![image](https://user-images.githubusercontent.com/228780/140746395-37888fcc-25d7-4b0c-9a33-40ec093f916d.png)

### Expected behavior:
No error after onboarding.

### A

[2021-11-08 13:44] #1054 closed, assigned to nobody

[2021-11-08 13:44] #1080 closed, assigned to nobody

[2021-11-08 14:50] dreamtooloud commented on #1013
Also reported in zd-4438478

[2021-11-09 05:20] findingsimple commented on #935
Good call @eason9487 - thanks!

[2021-11-09 05:54] findingsimple commented on #860
Both  #1012 and  #1066 have been merged

[2021-11-09 05:54] #860 closed, assigned to danielbitzer

[2021-11-09 06:55] eason9487 commented on #1000
Closing this issue due to all functions having been completed and merged to `develop`.

[2021-11-09 06:55] #1000 closed, assigned to eason9487

[2021-11-09 09:27] eason9487 commented on #1085
Thanks for catching this issue! 🙏  It was introduced by #1073. 😭

[2021-11-09 10:32] #1085 closed, assigned to eason9487

[2021-11-09 13:25] ecgan opened #1089 "Unable to install node modules based on `.nvmrc` with Node.js v16 (LTS)"
### Describe the bug:

In `.nvmrc` file, we have the following specified:

https://github.com/woocommerce/google-listings-and-ads/blob/77df8588f6b2e7a4ef4bf3a4d47cf92836845fce/.nvmrc#L1

On [2021-10-26](https://nodejs.org/en/blog/release/v16.13.0/), Node.js v16.13.0 becomes the new active LTS version.

When I was doing some testing, my command line shell automatically detected the new Node.js LTS

[2021-11-10 09:20] eason9487 commented on #935
Tested with adding partial oauth feature. There's a [permission scopes check](https://github.com/woocommerce/google-listings-and-ads/blob/77df8588f6b2e7a4ef4bf3a4d47cf92836845fce/js/src/setup-mc/setup-stepper/setup-accounts/index.js#L40-L42) before proceeding with merchant connection, so it will no longer encounter the **403** error - `Request had insufficient authentication scopes.`

The **403**

[2021-11-10 09:20] #935 closed, assigned to nobody

[2021-11-10 09:49] chriseilander commented on #1059
Having the same problem, disabling the "Advanced Coupons for WooCommerce Free" makes it possible to get into the setup. When that plugin is enabled it just generates a blank page on the admin backend.
[woo system.txt](https://github.com/woocommerce/google-listings-and-ads/files/7511571/woo.system.txt)

I've also set wp-debug to true, but it didn't generate a message on screen. Also no debug log fi

[2021-11-10 14:03] #1089 closed, assigned to ecgan

[2021-11-10 14:23] tomalec commented on #201
I'm closing the issue, as I believe all the external issues are covered/ worked around to a sufficient extent.

I believe for any future issue, we can create an issue in an external repo, then add a link in a code comment in our code-base, close to the workaround, so it could be easily revisited later and removed if no longer needed.

[2021-11-10 14:23] #201 closed

[2021-11-11 03:32] kevin25 commented on #1070
Can anyone look into it and optimize it please?

[2021-11-12 03:27] ianlin commented on #1059
I was looking into this problem yesterday with @eason9487 and he found this is because of the plugin [Advanced Coupons for WooCommerce Coupons][acfw] (**ACFW**) uses [wp_enqueue_script][wp-enqueue-script] to [register their script that depends on `wc-admin-app`][acfw-code].

According to [wp_register_script's document][wp-register-script-more-info], it says:

That is, since **ACFW**'s script depen

[2021-11-12 04:06] findingsimple commented on #1059
Hi @jkohlbach 👋 was stalking ACFW and was wondering if you would be a good person to loop into this conversation?

(also not sure if we've ever crossed paths in WP Aus community 👋 )

[2021-11-12 04:20] jkohlbach commented on #1059
G'day, yes, Advanced Coupons, that's us!

Let me get the team to take a look and we'll see what we can do on this end.

[2021-11-12 04:24] findingsimple commented on #1070
Hi @kevin25 👋

Thanks for using and getting involved with GLA!

This repository is not intended for support requests. The best place to start the process is with the [WordPress.org Google Listings and Ads forum](https://wordpress.org/support/plugin/google-listings-and-ads/) or if you have a WooCommerce.com account, you can s[tart a chat or open a ticket on WooCommerce.com](https://woocommerce.com/

[2021-11-12 05:44] jkohlbach commented on #1059
Hey all, first thanks for including me here in this discussion – hit me up on WooCommerce Slack @jconroy! Would be great to connect.

Seems after some testing, looks like we're able to drop the wc-admin-app dependency on that script in Advanced Coupons. Seems we added it so we'd know the admin app was loaded so we could then do our thing.

We'll take care of this on an upcoming patch but i'm not s

[2021-11-12 05:48] jkohlbach commented on #1059
Cheers also to @ianlin and @eason9487 for their excellent detective work. 谢谢你，朋友们!

[2021-11-17 07:35] #1013 closed, assigned to ianlin

[2021-11-17 07:53] ianlin commented on #1013
Hey @damiannep and @dreamtooloud, this is fixed in #1091 and it will be included in the next release. Thanks for reporting!

[2021-11-17 10:02] tomalec commented on #1028
Could you specify the
- exact version of GLA that you're running,
- exact currencies that show up?

Confirm that the issue still happens in 1.6.0 (or at least 1.5.0+)?

[2021-11-17 11:02] puntope commented on #1036
@tomalec

I'm working on this issue.

Could you explain to me step by step in order to find that phone number input in the plugin admin page?

[2021-11-17 11:05] puntope commented on #1001
@tomalec

I'm working on this issue.

Possible to have step by step guide in order to reproduce the issue?

Thanks!

[2021-11-17 12:11] puntope commented on #1036
1. Setup Merchant Page
2. Section 4 (Confirmation page)

![Screenshot 2021-11-17 at 13 11 26](https://user-images.githubusercontent.com/5908855/142198316-9add5412-b947-4816-8fae-5c6d02bdcf11.png)

[2021-11-17 12:13] puntope commented on #1001
1. Setup merchant page
2. Section 4 (Confirmation)
3. Send Verification code

![Screenshot 2021-11-17 at 13 12 38](https://user-images.githubusercontent.com/5908855/142198630-6d8ccde7-0afb-4433-97fb-8e3284b8d0f5.png)

[2021-11-17 15:01] AGarcia1963a opened #1096 "When setting up Google Listings and Ads, it defaults to a Google Merchant account this is not the one I want to setup. How do I change it at setup? I am stuck...please help."
### Describe the bug:

### Expected behavior:

### Actual behavior:

### Steps to reproduce:

1.
2.
3.

### Additional details:

[2021-11-17 15:02] AGarcia1963a commented on #1096
When setting up Google Listings and Ads, it defaults to a Google Merchant account that is not the one I want to set up.  How do I change it at setup or somewhere else?  I am currently stuck in the setup pages.  Help!

[2021-11-17 15:05] layoutd commented on #1096
Hi @AGarcia1963a  👋

Thanks for using Google Listings & Ads!

This repository is not intended for support requests. The best place to start the process is with the [WordPress.org Google Listings and Ads forum](https://wordpress.org/support/plugin/google-listings-and-ads/) or if you have a WooCommerce.com account, you can s[tart a chat or open a ticket on WooCommerce.com](https://woocommerce.com/my

[2021-11-17 16:20] smazur opened #1097 "Invalid value additional_image_links"
### Describe the bug:

I found following message in log and some of our products do not sync to merchant center because of this error.

[code]

### Expected behavior:
Products with multiple images should properly sync.

### Actual behavior:
Products with multiple images do not sync.

### Additional details:
After applying following code the issue disappeared.

[code]

Also need to change additiona

[2021-11-17 16:26] tomalec commented on #1036
Sorry, that I didn't add detailed steps in advance. I created it in the times when the flows and URLs where this component was available were quite volatile. And I consider this a feature request for a single component, regardless of its placement.

Yep, that's one way to get this view:
#### Setup
1. Start the setup `/wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc`
2. Complete the setu

[2021-11-17 16:30] tomalec commented on #1001
Sorry, that I didn't add detailed steps in advance. I created it in the times when the flows and URLs where this component was available were quite volatile. And I consider this a feature request for a single component, regardless of its placement.

Yep, that's one way to get this view:
#### Setup
1. Start the setup `/wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc`
2. Complete the setu

[2021-11-17 17:09] puntope opened #1098 "Replace deprecated keyCode atttribute in Verification Code Control."
## Summary

Checking into [verification-code-control.js](https://github.com/woocommerce/google-listings-and-ads/blob/develop/js/src/components/contact-information/phone-number-card/verification-code-control.js)

I saw a chunk of code using the deprecated attribute `keyCode`.  It should be replaced by `code` attribute

Check here the deprecation notice:
https://developer.mozilla.org/en-US/docs/Web/

[2021-11-17 17:19] puntope opened #1099 "Persist Phone Number and Country Code after clicking edit"
## User story

As I user I want to be able to click edit and modify my phone number without re-filling it.

![ezgif-4-d8ffff68d7c0](https://user-images.githubusercontent.com/5908855/142249663-0f566ee8-84e8-4848-b462-bb13a073edfe.gif)

## Steps to reproduce

1. Onboarding - Setup Merchant page
2. Go to the final step Confirmation
3. Insert your country code and phone number
4. Click on "Verify phon

[2021-11-18 02:45] findingsimple commented on #1059
Thanks so much for dropping in @jkohlbach love your work.

I'll close this issue for now as your team is taking care of things.

[2021-11-18 02:45] #1059 closed, assigned to ianlin

[2021-11-18 04:26] findingsimple commented on #989
Closing pending more info

[2021-11-18 04:26] #989 closed, assigned to nobody

[2021-11-18 04:30] #1096 closed, assigned to nobody

[2021-11-18 04:35] findingsimple commented on #1070
Hi @kevin25 we haven't heard anything yet. If/when you open a support ticket - please feel free to reference this issue and include as much additional information/context about your set up as you can. We can reopen once we have some more information to go off.

[2021-11-18 04:35] #1070 closed, assigned to nobody

[2021-11-18 05:25] findingsimple commented on #1008
Closed with https://github.com/woocommerce/google-listings-and-ads/pull/1014

[2021-11-18 05:25] #1008 closed, assigned to nobody

[2021-11-18 05:30] findingsimple commented on #906
Closing for now. As per https://github.com/woocommerce/google-listings-and-ads/issues/906#issuecomment-890877121 we have a doc that indicates we don't support multi-client accounts.

[2021-11-18 05:30] #906 closed, assigned to nobody

[2021-11-18 05:32] findingsimple commented on #890
I think we can close this one right?

[2021-11-18 05:37] #162 closed

[2021-11-18 05:39] findingsimple commented on #22
Closing in favor of https://github.com/woocommerce/google-listings-and-ads/issues/882

[2021-11-18 05:39] #22 closed

[2021-11-18 05:39] #21 closed

[2021-11-18 05:40] #165 closed

[2021-11-18 05:55] eason9487 commented on #890
Yes. And some workflows of GitHub Actions have similar missing color problems. I updated to #1047. Closed this one.

[2021-11-18 05:55] #890 closed, assigned to nobody

[2021-11-18 08:11] kevin25 commented on #1070
I chat with your support and they will investigate it. This is really serious issue.

[2021-11-18 14:46] puntope opened #1101 "No message on invalid phone number"
### Describe the bug:

As I user I want to receive a descriptive error if I entered my phone number wrong

![Screenshot 2021-11-18 at 13 46 54](https://user-images.githubusercontent.com/5908855/142436401-5515553d-ff08-4046-974c-6892dcf4b7f7.png)

### Expected behaviour:

1. Go to Merchant Setup page (Onboarding)
2. Go to the last step
3. Enter a bad phone number like 111111111
4. You see an error

[2021-11-19 15:17] anto67ba opened #1103 "interrupeted activation"
### Describe the bug:
if you by mistake do insert wrong google account and do interrupt the installation there is no way to insert/change it. i stopped the configuration de-installed the plug in, re-installed it but still i do see the wordpress and google account that i do not want to use

### Expected behavior:
when removed the plug-in should clean all the database info inserted

### Actual behav

[2021-11-22 05:42] findingsimple commented on #1103
Hi @anto67ba thanks for taking the time to post. I'll tag our designer on this as an FYI (@j111q) to keep it on our radar for enhancing but close this out for now as it will require broader considerating/design changes and planning.

[2021-11-22 05:42] #1103 closed, assigned to nobody

[2021-11-22 12:24] #1036 closed, assigned to puntope

[2021-11-23 17:10] puntope commented on #1097
Hey there @smazur

Thanks for using Google Listings & Ads!

We were unable to reproduce the issue with additional_image_links. Could be maybe an outdated version or a compatibility plugin I would say. Anyway, I saw you solved it with some hooks.

Given that, I wanted to point out that this repository is not intended for support requests or opening tickets. The best place to start the process is wi

[2021-11-23 17:10] #1097 closed, assigned to puntope

[2021-11-25 09:04] nima-karimi opened #1111 "WooCommerce Shipping Zones Integration - Syncing countries, rates, and methods"
### Objective
The goal is to build an integration with WooCommerce core shipping zones and methods so that merchants need not enter their supported shipping countries, methods, and rates manually when going through onboarding.

### Overview
We will automate the process of filling the shipping information only at a country level by fetching the shipping zones information from WooCommerce settings a

[2021-11-25 10:49] smazur commented on #1097
Hi @puntope

Your reply made me get back to investigate our problem deeper. I found that fix solution provided above is wrong. Also I found that `$wc_product->get_gallery_image_ids()` returns 1-based array of ids and that causes `json_encode` to convert php array to json object and additional_image_links validation failure. Consider following code:

[code]

We have filter that excludes featured im

[2021-11-26 08:13] nima-karimi opened #1116 "Shipping Integration - Prefill target audience countries"
As part of #1111

On the onboarding wizard, the target audience is currently set to the store’s base country by default. The user has the ability to change that value and add multiple countries. This value determines the list of supported shipping countries for the store.

![image](https://user-images.githubusercontent.com/73110514/143409704-f2269ea2-a3c2-47ab-bd28-aa0bfb7a3e6d.png)

The objective

[2021-11-26 11:28] nima-karimi opened #1117 "Shipping Integration - Map shipping rates and methods"
As part of #1111

The objective is to modify the functionality of the onboarding wizard (and the "edit free listing wizard") to automatically map the WooCommerce Shipping Zone configurations to the Google shipping methods and rates.

Currently, the user can set a flat shipping rate for each target audience selected in the previous step. They can also enter a minimum order price for which they offe

[2021-11-26 11:31] nima-karimi opened #1118 "Shipping Integration - Map shipping classes"
As part of #1111

The shipping classes are only available for the flat shipping option and can be defined in each shipping zone for that method only. Using them, the user can define multiple flat rate shipping costs for different product classes (or groups).

The Merchant Center allows defining a separate rate per shipping label for each shipping service. This is the same concept as shipping class

[2021-11-29 08:35] eason9487 opened #1121 "Consider adjusting the request permission scopes of Google account to minimum required for current operation"
It's a follow-up after the Partial OAuth (#1000) was added.

## User story

As a merchant user, I expect the plugin re-asks me to grant the minimum required of my Google account permissions for the current operation when there are insufficient permissions, rather than including currently unwanted permissions of the current operation.

## Technical

Currently, the GLA plugin requires the following

[2021-11-29 12:42] arg6063 opened #1122 "After Updating plugin "Google listing & ads" plugin stopped working automatically"
### Describe the bug:
After Updating plugin "Google listing & ads" plugin stopped working. Completely showing error
"There was an error loading Google Merchant Center contact information."

### Expected behavior:
It was working fine 2 days ago.

### Actual behavior:

### Steps to reproduce:
1. I just updated extension. it was working fine but without any changes it stopped working completly
2. it

[2021-11-30 07:57] #1065 closed, assigned to ecgan

[2021-11-30 10:57] puntope commented on #1122
Hey there @arg6063

Thanks for using Google Listings & Ads!

This repository is not intended for support requests or opening tickets. The best place to start the process is with the WordPress.org Google Listings and Ads forum or if you have a WooCommerce.com account, you can start a chat or open a ticket on WooCommerce.com support.

The support team will help guide you through some problem solving

[2021-11-30 10:57] #1122 closed, assigned to puntope

[2021-12-01 21:20] tomalec opened #1129 "E2E tests are failing on `develop`"
### Describe the bug:

It seems e2e tests were not updated to reflect implementation changes, as they are not run on CI.

### Expected behavior:

E2E tests should pass.

### Actual behavior:

Two tests fail:
[code]

### Steps to reproduce:

1. `npm run docker:up`
2. `npm run test:e2e`

### Additional details:

[2021-12-03 07:43] nima-karimi commented on #1117
The shipping cost for flat-rate and pickup methods can be defined as mathematical equations including variables such as order items quantity, total cost, and a percentage fee:

![image](https://user-images.githubusercontent.com/73110514/144519100-af987a9c-92fb-4cb6-b15b-af8fd808173e.png)

Google supports adding a percentage-based shipping rate but it doesn't have any parameters for specifying a sh

[2021-12-03 10:04] #1129 closed, assigned to puntope

[2021-12-06 02:12] findingsimple opened #1138 "Inbox Notifications - Logic Adjustments"
## User story

We have 4 existing notifications on GL&A today, 3 of which act as a mechanism to guide users towards completing MC setup or beginning ads setup (CompleteSetup.php, SetupCampaign.php, SetupCampaignTwoWeeks.php).

However, we are currently not seeing a significant lift on merchants completing their ads account setup after receiving an inbox notification.

The goal is to improve this.

[2021-12-06 02:14] #1062 closed, assigned to ianlin

[2021-12-06 02:18] findingsimple opened #1139 "Inbox Notifications - Copy Adjustments"
## User story

Partner issue to https://github.com/woocommerce/google-listings-and-ads/issues/1138

We have 4 existing notifications on GL&A today, 3 of which act as a mechanism to guide users towards completing MC setup or beginning ads setup (CompleteSetup.php, SetupCampaign.php, SetupCampaignTwoWeeks.php).

However, we are currently not seeing a significant lift on merchants completing their ad

[2021-12-06 09:22] budzanowski opened #1141 "Fatal error on plugin deactivation."
### Describe the bug:

Fatal error on plugin deactivation.

### Expected behavior:

The plugin deactivates without errors.
### Actual behavior:

### Steps to reproduce:

1. Set up a new site with WooCommerce installed
2. Install GLA plugin.
3. Make sure that WP debug is set to log and display
4. Go to Plugins page and deactivate the plugin
5. The error:
![image](https://user-images.githubuserconte

[2021-12-06 09:50] findingsimple commented on #1141
Updated title to "Fatal error on plugin deactivation" and added to a 1.8.1 milestone

[2021-12-06 16:40] ecgan opened #1143 ""Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>." in Tip in Setup MC"
### Describe the bug:

If we open browser dev tools and visit the Setup MC page, we would see the following error message in the console: `"Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>."`

![image](https://user-images.githubusercontent.com/417342/144882811-b178d2b6-013f-4fcf-86fa-e749c29df550.png)

This is because we are using the `@wordpress/components`' Tip compon

[2021-12-10 05:34] ianlin commented on #882
Hey @j111q, I've got a question when developing this feature, here's an video:

https://user-images.githubusercontent.com/914406/145521153-cf63d01d-c4e4-4c83-8fd3-942f7507f03c.mov

From the video you an see that, since the success modal has higher z-index than the CES prompt, i.e. success modal is on top of the CES prompt. We cannot click the CES prompt unless the success modal is closed. Here are

[2021-12-10 07:25] j111q commented on #882
Thank you @ianlin for the detailed notes and video! 🤩 I think I remember discussing this with @ecgan at some point a while ago actually, haha.

I think (1) the above behaviour is okay (although not ideal). For (2), I don't want the user to accidentally close the success modal because that should be the most important thing for them to look at in this moment of the flow, and for (3), I would rather

[2021-12-10 11:24] #484 closed

[2021-12-10 14:37] ecgan commented on #882
@j111q ,

Do you mean the discussion comments we had in this internal P2 pbIy4N-1Jn-p2? 😄

---

@j111q @ianlin ,

Yeah I'm also thinking it would be better to trigger the CES prompt after the success modal is closed.

If we were to show the CES prompt under the modal (as shown in @ianlin's video), I think that CES prompt is quite distracting, and it might make users want to go click on the CES pro

[2021-12-13 06:31] ianlin commented on #882
@ecgan Thanks for the useful suggestion! I also read the internal P2 `pbIy4N-1Jn-p2` and was really impressed by the discussion there. 👍

I'd go for this at this stage because as you said using a `Step 3` for the `give feedback` requires more efforts for both design and development. I'm definitely looking forward to seeing this in the future. 😄

@j111q

I would love this to be implemented as well

[2021-12-13 06:42] j111q commented on #882
Cool, let us know what you find!! And thanks again for flagging it.

Just keep in mind that the CES prompt is _less important_ than the contents / buttons of the success modal. Getting their feedback through the CES prompt is good, but ideally should happen when "nothing else" is happening.

[2021-12-16 18:47] ecgan opened #1158 "Shipping rates batch saving is not working correctly"
### Describe the bug:

I'm testing using the current develop branch (2968a761128516d6) and noticed that the shipping rates API for batch saving and loading is not working as expected. It seems like shipping rates were being overridden, causing some values to go missing.

📹  Demo video with my voice:

https://user-images.githubusercontent.com/417342/146429463-f79b560c-8bfd-4192-8b5b-27e38cb356b8.mo

[2021-12-17 02:36] #270 closed

[2021-12-17 10:09] puntope opened #1159 "Refactor needed in shipping-rate / shipping-time"
## User story
As a developer I want to have a good development experience and prevent bugs and unpredictable errors created by Duplicated code. As a developer I  want to follow the best coding practices like [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)

## Context
Discovered after reviewing this issue https://github.com/woocommerce/google-listings-and-ads/pull/1157#discussion_r7712

[2021-12-17 15:50] eason9487 commented on #1159
This is duplicated with #274. Also, there are more relevant follow-up items in #288.

[2021-12-17 17:34] peterfabian commented on #746
Not totally sure if this is the same problem, but in 4616326-zen, it seems like this has actually brought the site down for a customer (they're not using Query Monitor).

Error:
[code]

SSR:
[code]

[2021-12-20 05:18] findingsimple commented on #1159
[Closing as a duplicate](https://github.com/woocommerce/google-listings-and-ads/issues/1159#issuecomment-996827621)

[2021-12-20 05:18] #1159 closed, assigned to nobody

[2021-12-20 13:10] mikkamp commented on #746
If we look at that stack trace it's throwing an exception when it reaches the code `DESCRIBE {$tablename}`. That's the way the `dbDelta` function checks to see if the table already exists.

If we look at WP it uses the function `mysqli_error` to retrieve the error, and if `suppress_errors` is set it will silently continue. However PHP allows you to change the way MySQL errors are reported using th

[2021-12-21 03:00] findingsimple commented on #1141
Closed in https://github.com/woocommerce/google-listings-and-ads/pull/1142

[2021-12-21 03:00] #1141 closed, assigned to budzanowski

[2021-12-21 03:08] findingsimple commented on #839
I think next step here is doing bit of an audit and identifying exactly where the name needs to be updated

[2021-12-21 03:11] #557 closed

[2021-12-21 07:44] findingsimple commented on #939
@jorgemd24 this is perhaps something you could investigate and try and progress.

[2021-12-21 14:22] eternal6666 opened #1163 "After 30 days all product removed from google ads"
After 30 days all product removed from google ads.
I have free and paid campaign set.
In product feed Automatically synced to Google with today date but on status it shows Not synced. In channel visibility is Sync and show. How can I sync with google again and why its removed all after 30days?

[2021-12-21 16:45] puntope opened #1165 "GMC Account Review Request"
## User story

As a merchant, I want a Request Account Review button directly in the Issues section of the plugin. I don't want to proactively log in to and navigate through Google Merchant Center in order to request an account review for re-approval.

## Internal Project Thread Link
pcTzPl-bx-p2

## Figma link
https://www.figma.com/file/eQ9O4m2flzrcAiDMXkOW0m/Google-Listings-%26-Ads-v1.x?node-id=

[2021-12-21 21:46] findingsimple commented on #1163
Hi @eternal6666

Its how merchant center works

Sorry for hassle - there is a daily scheduled action that checks for expiring products and resubmits them a few days early. It sounds like this is failing for you somewhere.

This isn't a support channel so I would recommend heading over to WooCommerce.com and submitting a support ticket so our happiness team can help you problem-solve.

[2021-12-21 21:46] #1163 closed, assigned to nobody

[2021-12-22 12:00] #1158 closed, assigned to nima-karimi

[2021-12-27 04:51] eason9487 commented on #1078
Reopen this issue as it is not fully resolved. Ref: https://github.com/woocommerce/google-listings-and-ads/pull/1157#issuecomment-998102961

[2021-12-27 06:15] #882 closed, assigned to ianlin

[2021-12-28 05:59] kosiew opened #1170 "Class 'Automattic\WooCommerce\GoogleListingsAndAds\API\Google\DateTime' not found in /srv/htdocs/wp-content/plugins/google-listings-and-ads/src/API/Google/Proxy.php"
### Describe the bug:

Customer encountered an error when click Create Account at
`wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc`

![image](https://user-images.githubusercontent.com/29057562/147532935-2713fbf1-79c3-425b-9e08-930eb852ea16.png)

Found this error in the logs:

[code]

### Expected behavior:

Customer is able to create Google Merchant account.

### Actual behavior:

A cri

[2021-12-28 08:29] puntope commented on #1170
Howdy @kosiew ,

I'm unable to reproduce the issue on my side:

These were my steps:

- Install a new atomic site in WP.com.
- Install  and configure WooCommerce
- Install Google Listings and Ads
- Create a new Google Account
- Click on Create account in Google Merchant Center section

The account was connected successfully

Pasting here my SSR as well (seems like matching the customer one)

[code

[2021-12-28 09:56] mikkamp commented on #1170
It's missing a `use DateTime;` line at the top of the file. Which apparently got removed in this commit https://github.com/woocommerce/google-listings-and-ads/commit/861166e23932d97f646c4f2e3c1ce5207891e974

It's still being used by the function `default_account_name` though, so it should remain in place. This function is only called if there is no Site Title set. So it would most likely need to b

[2021-12-28 10:03] kosiew commented on #1170
@mikkamp You are right!

The site title is blank for this site.
![image](https://user-images.githubusercontent.com/29057562/147554680-3d6c2115-eefa-4dca-93a5-13134c978497.png)

[2021-12-28 10:05] nima-karimi commented on #1170
Hmm. The `default_account_name` method didn't exist in that class when checking the `src/API/Google/Proxy.php` file version in https://github.com/woocommerce/google-listings-and-ads/commit/861166e23932d97f646c4f2e3c1ce5207891e974:

https://github.com/woocommerce/google-listings-and-ads/blob/861166e23932d97f646c4f2e3c1ce5207891e974/src/API/Google/Proxy.php

Sounds like a merge conflict 🤔

[2021-12-28 14:46] puntope commented on #1078
I also had it while I was testing for WC6.1.0 the values are not refreshing well when you focus from one to another.

With cursor focus

https://user-images.githubusercontent.com/5908855/147577897-956478a8-480e-473e-81c3-7843f56a7ffe.mov

With tab focus

https://user-images.githubusercontent.com/5908855/147578162-ce7f1d30-a70b-40e2-8fbe-da397c31cd44.mov

[2021-12-28 14:59] puntope opened #1172 "Make "Submit verification" code a submit button"
## User story

Similar to #1036

As a user I want to enter my phone code, type my number and press Enter for submitting. Instead of clicking manually on the button like now.

## Technical
Recommended to follow #1100 as a simple and expected way to solve this

## Steps to reproduce
- Start the setup /wp-admin/admin.php?page=wc-admin&path=%2Fgoogle%2Fsetup-mc
- Complete the setup through 4th step /w

[2022-01-03 09:32] jorgemd24 commented on #1078
The root of this issue had deeper implications than expected. See comment about:  [the current implementation](https://github.com/woocommerce/google-listings-and-ads/pull/1157/files/76b976d158e3f0f8ef728e3451f98c6d7e01ef9e#r771529923) and the proposed changes on [#288](https://github.com/woocommerce/google-listings-and-ads/issues/288).

Once the implementations from #288 are accomplished this issu

[2022-01-04 09:59] #1170 closed, assigned to nobody

[2022-01-04 10:21] kosiew commented on #1170
Thanks for the quick action!

[2022-01-06 11:17] eason9487 commented on #939
Reopen this issue because it has not been resolved and there's another new problem.

Please refer to https://github.com/woocommerce/google-listings-and-ads/pull/1169#pullrequestreview-845505681 for more details.

[2022-01-07 05:38] findingsimple opened #1181 "Uptick in API errors (for products.delete and products.insert)"
### Describe the bug:

We've started seeing an uptick in errors since the end of 2021 in products.delete and products.insert.

As of this week we're now also seeing errors with productstatuses.get and accounts.claimwebsite

The Google team have done some digging and believe it to be a _timing_ or retry issue - it looks to them like duplicate requests are being fired off.

### Expected behavior:

R

[2022-01-07 11:34] #939 closed, assigned to jorgemd24

[2022-01-07 12:51] eason9487 opened #1183 "All data on programs and products report pages are not shown"
### Describe the bug:

This was introduced by #1151. And this problem has **NOT** been released yet. 🤞

![image](https://user-images.githubusercontent.com/17420811/148543718-a88e81cd-0aea-4e3a-8078-8b3e42c6dc1b.png)

The root cause is the `'[indexName]'` format of `path` arguments when using `lodash.setWith()`. it means setting the next nested layer of object or array by the index of `'indexName'`

[2022-01-10 09:28] mikkamp opened #1186 "Update Google Ads library"
To be able to use the new [Performance Max Campaigns](https://developers.google.com/google-ads/api/docs/performance-max/create-campaign) we will need to update to at least [v9 of the Google Ads API](https://developers.google.com/google-ads/api/docs/release-notes#v9)

The earliest version that supports v9 is the PHP library version [12.1.0](https://github.com/googleads/google-ads-php/releases/tag/v

[2022-01-11 08:22] eason9487 commented on #1186
After checking through the [Migrating from v8 to v9](https://developers.google.com/google-ads/api/docs/version-migration#v8-v9) document, and [release notes](https://developers.google.com/google-ads/api/docs/release-notes) of v8.1.0 and v9.0. Looks like the change related to GLA implementation only happens on the `GoogleAdsService.Search`. More details of the filtering for `segments` are [here](ht

[2022-01-11 09:57] mikkamp commented on #1186
That's definitely an additional point we need to keep an eye on. It's not clear if we do need to change anything though as we are using the WC Admin function [time_interval_id](https://github.com/woocommerce/woocommerce-admin/blob/main/src/API/Reports/TimeInterval.php#L183), which would convert the date to:

week: 2022-02 (2nd week of 2022)
month: 2021-10 (10th month of 2021)
year: 2022

We use `b

[2022-01-11 11:12] #1183 closed, assigned to eason9487

[2022-01-12 15:17] ecgan opened #1189 "Shipping rate input does not display the correct currency"
### Describe the bug:

In Setup MC flow, the shipping rate input might not display the correct currency. This can happen when users setup a few shipping rates, then go to change the store currency in WooCommerce settings, and then go back to Setup MC to setup the remaining shipping rates.

From the API call inspection, the shipping rate data is saved and retrieved with the correct currency value,

[2022-01-13 07:02] #1189 closed, assigned to ecgan

[2022-01-14 15:48] mikkamp opened #1193 "Limit retries when deleting products"
This issue is part of the investigation in #1181

When we sync products we have both the function `handle_update_errors` and `handle_delete_errors`, which will reschedule the action if we encountered an `internalError`.

When we handle the products to be retried for updating we use the function `ProductHelper::is_sync_failed_recently` to prevent retrying products that failed too many times (5 time

[2022-01-14 15:48] mikkamp opened #1194 "Cleanup products which are not found in Merchant Center"
We've seen a recent Uptick in API errors  which is logged in #1181
A lot of these errors are from the API methods productstatuses.get and products.delete and are classified as a notFound error.

This can happen when for example products have been deleted in the Merchant Center but the sites still has those products marked as synced. We store the Google ID's in the database so we need to update tho

[2022-01-14 16:31] jorgemd24 opened #1195 "When I am deleting countries on the "Choose your audience section" the dropdown to add countries is displayed"
### Describe the bug:

When I am deleting countries on the "Choose your audience section" the dropdown to add countries is displayed. This is unnecessary as my intention is to delete countries not to add countries.

### Steps to reproduce:

1. Go to Edit free listings -> Choose your audience.
2. Try to delete a country.
3. The dropdown to add countries is displayed. This is unnecessary as my inten

[2022-01-17 10:27] eason9487 opened #1198 "Duplicated account issues on the Product Feed page"
### Describe the bug:

Appears 8 duplicated account issues on the Product Feed page.

I also check the API via [the "Try this API" function on Google website](https://developers.google.com/shopping-content/reference/rest/v2.1/accountstatuses/get). And it results in 8 **almost duplicated** account issues. The different parts are the `country` and `destination` properties.

https://github.com/woocom

[2022-01-17 13:26] mikkamp opened #1199 "Update google API library to 2.12.1"
After updating the Ads library to v10 we no longer required the fallback functions, however there were still some dependencies in `google/gax` and `google/auth` that required `guzzlehttp/psr7 ^1.2`. These have now all been changed to allow `^2.0`, so we no longer need to autoload the [fallback file](https://github.com/woocommerce/google-listings-and-ads/blob/1.10.0/composer.json#L40), for Google A

[2022-01-17 13:31] mikkamp commented on #1186
Another point to take into consideration is the updates to `guzzlehttp/psr7` which no longer requires (doesn't exist anymore in newer versions) the autoload file. In order to fully remove the dependency on the old version we would also need to update the Google API library #1199

[2022-01-18 02:58] eason9487 commented on #50
Looks like we could close this because the current e2e doesn't use wp-env, and .wp-env.json was removed from #801.

[2022-01-18 05:02] ecgan commented on #50
@eason9487 , thanks for spotting this. I'm closing this issue.

[2022-01-18 05:02] #50 closed

[2022-01-18 09:37] ianlin opened #1203 "Disconnect all accounts button's style is not disabled when the checkbox is unchecked"
### Describe the bug:

When the user tries to disconnect all accounts a popup modal will appear. There is a button in red called `Disconnect all accounts`  that cannot be clicked unless the checkbox `Yes, I want to disconnect all my accounts` is checked. The colour of the button before the checkbox is clicked is red as well so it is a little bit confusing.

### Steps to reproduce:

1. Have GLA set

[2022-01-18 11:01] eason9487 commented on #1203
This seems to be a duplicate of #1005.

[2022-01-18 16:45] smazur opened #1205 "Poor plugin performance"
### Describe the bug:
Hi there!

After installing Google Listings & Ads plugin i noticed performance degradation on the site. The TTFB difference is about +200ms when plugin is active and inactive. I have used xdebug profiler to find the bottleneck and found that plugin initialization stage takes from 40% to 60% of runtime.

https://drive.google.com/file/d/163-qbhtoAaktznTLFThx1JMmUu0xTwwF/view?us

[2022-01-19 06:09] ianlin commented on #1203
@eason9487 Thanks for pointing this out 😄 Closing this issue.

[2022-01-19 06:09] #1203 closed, assigned to nobody

[2022-01-19 15:25] mikkamp commented on #1205
Thanks for the report @smazur
Do you have any additional details about what type of request you recorded there, is it a frontend (general WordPress page or WooCommerce page) or a backend request?

Could you also provide some details about your environment? Some details from a [WooCommerce System Status report](https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/#sec

[2022-01-20 11:00] smazur commented on #1205
@mikkamp
The issue appears on both front- and backend.

<details>
<summary>WordPress Environment</summary>

[code]

</details>

[2022-01-21 05:04] #311 closed

[2022-01-21 07:25] ianlin commented on #1195
Closing this issue based on the conclusion in [this PR](https://github.com/woocommerce/google-listings-and-ads/pull/1200#issuecomment-1017111320). Feel free to reopen it if anything needs to be added.

[2022-01-21 07:25] #1195 closed, assigned to ianlin

[2022-01-21 14:59] mikkamp commented on #1181
Based on the investigation we did for these errors the largest amount of errors was `notFound`. Which occurs when the extension tries to interact with products that are no longer present in the Merchant Center. One of the reasons this could happen is because a user manually deletes products from the Merchant Center.

The issues #1193 and #1194 have been created to target the specific reasons why t

[2022-01-21 14:59] #1181 closed, assigned to nobody

[2022-01-22 08:57] SirDarcanos commented on #873
@layoutd I do not think this should be considered a feature to be added. It should be considered as something important just missing in the plugin and to be added. Sometimes Google might assign the wrong category automatically. We should be able to map WC categories to Google Categories in WooCommerce, or set it individually for each product.

[2022-01-24 03:25] eason9487 opened #1210 "Ads campaign creation and edit APIs do not respond with errors when parameters are invalid"
### Describe the bug:

Ads campaign creation and edit APIs do not respond with errors when parameters are invalid.

### Steps to reproduce:

1. Checkout `0cd7cc9556535559a4bcae409cedd7e02d852518`
1. ~Change store currency to "Japanese yen (¥)" in the WC general settings.~ Change the **Number of decimals** to 3 in WC Settings: `/wp-admin/admin.php?page=wc-settings`.
1. Open browser DevTool.
1. Go t

[2022-01-24 06:40] findingsimple commented on #1198
@j111q could you remind us (i'm feeling rusty) how we should be presenting issues that are the same but for different target countries.

[2022-01-24 06:41] findingsimple commented on #1181
Thanks for the follow up @mikkamp

[2022-01-24 06:51] findingsimple opened #1212 "Spend Match Update - Update WPORG page"
**Context**

Google is changing customer ad credit incentives for Google Listings & Ads from Spend Match $150 to Spend Get $500 on Feb 2, 2022.

We need to update the [WPORG landing page content](https://wordpress.org/plugins/google-listings-and-ads/)

Refer to the messaging update tracker for content updates

Internal link: pcTzPl-eI-p2 (Copy of content below but you might need more context)

---

[2022-01-24 07:02] findingsimple opened #1213 "Spend Match Update - SetupCampaign.php Inbox Notification"
**Context**

Google is changing customer ad credit incentives for Google Listings & Ads from Spend Match $150 to Spend Get $500 on Feb 2, 2022.

We need to update some of our existing inbox notifications to accommodate these changes

Refer to the messaging update tracker for content updates

Internal link: pcTzPl-eI-p2

Due to the Feb 2 deadline - these updates will need to take precent over the c

[2022-01-24 07:14] findingsimple opened #1214 "Spend Match Update - In Product Updates"
Google is changing customer ad credit incentives for Google Listings & Ads from Spend Match $150 to Spend Get $500 on Feb 2, 2022. The fulfillment period will also be changed from 30 days to 60 days.

We need to update various parts of content within the extension as a result

Refer to the messaging update tracker for content updates

Internal link: pcTzPl-eI-p2 (Copy of content below but you migh

[2022-01-24 15:59] j111q commented on #1198
Thanks for flagging this one @eason9487 .

This 👆 was what we intended to happen, I believe. So if it's the same issue for multiple countries, we only show it once. The reason was because we didn't want to spam the user with so many issues for multiple countries, when typically we know that if it's an issue in one country, it's probably going to be the same in other countries.

LMK what y'all thin

[2022-01-25 09:40] #445 closed

[2022-01-25 09:47] eason9487 commented on #1210
Reopen this due to it's accidentally closed by #1211

[2022-01-25 10:40] eason9487 commented on #1198
Thanks for replying @j111q .

I looked at Google Merchant Center and they're also merged as one issue item. If we also use a consistent way, it'd be less confusing for users when they check on both admin websites. Also, we could consider further adding a similar expandable UI to prompt users if needed in the future.

![Kapture 2022-01-25 at 18 31 30](https://user-images.githubusercontent.com/17420

[2022-01-26 09:19] #1005 closed, assigned to nobody

[2022-01-26 10:30] ecgan commented on #1214
Note: I have updated the issue description above to include info on fulfillment period and free ad credit eligibility box.

Hat tip to @eason9487 for noticing this. 🎩

[2022-01-26 13:29] mikkamp commented on #1205
From initial testing I was able to see a difference on frontend requests from 180ms > 360ms after activating the plugin.

There is very little we do on the frontend such as:
- Add a code to the header for site verification
- Google tracking snippet

Based on that I think we should be stricter on what part of the plugin gets loaded on the frontend. We have some of it load conditionally based on `is

[2022-01-28 13:29] #1186 closed, assigned to mikkamp

[2022-01-28 13:29] #1199 closed, assigned to mikkamp

[2022-02-01 13:30] mikkamp opened #1227 "Separate unit testing for SiteVerification class"
Followup issue for #1226

In addition to creating the unit testing, we need to recheck the purpose of the SiteVerificationController. If it's still being used/needed then it can reuse some of the functionality to verify the site from the SiteVerification class instead of having the logic contained within the controller class.

[2022-02-01 14:08] nima-karimi opened #1228 "WooCommerce Shipping Zones Integration - Syncing rates for states/provinces and postal codes"
## Objective
The aim is to provide integration with WooCommerce shipping zones so that the shipping rates are set for various regions such as states, provinces, and postal/zip codes can be automatically synchronized with Google Merchant Center.

## Overview
In this milestone, we will set up the system required to automatically map the supported shipping methods defined for each state/province or z

[2022-02-02 06:38] nima-karimi opened #1229 "Shipping Integration - Store and return mapped Google locationIds"
As part of #1228

To map the shipping rates for regions of a country such as a state, province, etc. to Merchant Center we need to map the stored WooCommerce IDs for those regions to a list of corresponding locationIds supported by Google.

To provide some background (more info available on #1228):

- `locationIds` is a property of the [LocationIdSet](https://developers.google.com/shopping-content

[2022-02-02 08:09] nima-karimi opened #1230 "Shipping Integration - Map rates for provinces/states and postal codes"
As part of #1228

This issue is dependent on #1229.

At the end of milestone one, we currently have an integration with WooCommerce shipping zones. However, it only works at a country level. Meaning that the shipping methods are all grouped together and synchronized for each country. Even if they are defined at a more granular level such as a state or zip code.

Each WooCommerce shipping zone can

[2022-02-02 09:53] nima-karimi opened #1231 "Shipping Integration - Syncing the rates for provinces/states and postal codes"
As part of #1228

This issue is dependent on #1230.

Once we have the rates for supported subregions of shipping countries, we can submit them to Merchant Center by modifying the `API/Google/Settings` class.

The rates for sub-regions and postcodes will be submitted only if the user has chosen the “automatic” shipping option during onboarding.

The `update_shipping_rates` method and other related

[2022-02-02 09:56] nima-karimi commented on #1228
I've created three separate issues for this epic but they each depend on the previous one:

- #1229
- #1230
- #1231

[2022-02-02 12:21] mikkamp opened #1232 "Add Google dashicon for product attributes"
For editing product attributes we add a new tab in Product Data which uses the default icon. Since it's using the dashicon font and there is one available for Google we can change it to match the [Google icon](https://developer.wordpress.org/resource/dashicons/#google)

![image](https://user-images.githubusercontent.com/11388669/152152577-9a772411-c499-4d0b-831f-81c1055ba7b5.png)

Similar to the a

[2022-02-04 12:27] mikkamp commented on #1194
I created a [branch](https://github.com/woocommerce/google-listings-and-ads/tree/fix/1194-cleanup-not-found-products) with a scheduled cleanup task to remove any products that are not found when we retrieve the Merchant Status. It is working to cleanup the products, but after further testing it seems we might not want to add this cleanup task.

Google products can take up to 30 minutes to become a

[2022-02-04 12:37] mikkamp opened #1233 "Cleanup synced products locally when disconnecting Merchant Center account"
As a followup to #1194 we have the following scenario which is not handled:

1. User connects a merchant account (waits for all the products to sync)
2. User disconnects merchant account (we don't clean up products on disconnect)
3. User connects another merchant account, which triggers a product sync and they are redirected to the product feed page
4. On the product feed page it will fetch all st

[2022-02-04 12:49] mikkamp commented on #1194
As part of this issue there was also a suggestion to add a cleanup/sync process which would check the data in MC and make sure we are up to date. Based on the best practices documentation, it seems it's not intended to use the API in this way. It specifically states "[Don't use the API to regularly retrieve product information you have uploaded](https://developers.google.com/shopping-content/guide

[2022-02-04 13:30] mikkamp commented on #1194
For some history on why we decided to switch to batch requests, the PR for this is #769. There were quite a few optimizations in there but it seems the main reason to switch was to optimize for speed:

Another comment from that PR:

So maybe it's time to move to a scheduled action. When it was first implemented we didn't have the overview on the product feed page:
![image](https://user-images.gith

[2022-02-07 05:33] #1138 closed, assigned to JPry

[2022-02-07 05:33] #1139 closed, assigned to JPry

[2022-02-10 02:56] #363 closed

[2022-02-10 11:12] mikkamp opened #1239 "Update retry fails to schedule retry when internal errors occur"
### Describe the bug:

When we update a product and we receive an internal error response we reschedule the product to be retried by calling the action hook `woocommerce_gla_batch_retry_update_products`. However the function `can_schedule` is called first to check if there is already an action scheduler task with the same hook name and the same list of arguments which is running.

So if we get a s

[2022-02-10 20:43] jorgemd24 commented on #1205
After doing some investigation I could narrow down the problem. I used Qcachegrind & xDebug to get the following reports.

Results from cachegrind with the plugin disable:

![image](https://user-images.githubusercontent.com/2488994/153480336-bdcd8f61-948c-45e8-bcc3-66baa3789db7.png)

Results with the plugin enable:

![image](https://user-images.githubusercontent.com/2488994/153480702-add21840-2a9f

[2022-02-11 08:13] mikkamp commented on #1205
The amount of ms it's adding is going to be relative to the speed of your system and whether it's been served from a virtual container (which can be the case with docker on MacOS).

Since you referred to the Notes in particular I was wondering if we can change the NoteInitializer a bit. We added a scheduled action to ensure these notes are only checked once a day. But we pass an array of notes to

[2022-02-13 13:21] jorgemd24 commented on #1205
Yes, it is relative to the host, what I wanted to communicate was that the difference between running or not `GoogleAdsFailures::init()` could be significant.

Thanks for this suggestion, we could load the instances in the add_notes function so it will be only called when the cron schedule is triggered. For this, we need to update the NoteInitializer constructor into ActionSchedulerInterface & Con

[2022-02-14 07:50] mikkamp commented on #1210
I noticed the same while working on the PMax campaigns. The easiest solution is to just remove the `$e->getCode()` lines which will force the controller to default to a 400 error message. Although it would be nicer to dig a bit deeper in the error messages to get a more descriptive error.

You'll need to actually set the ads account to Japanese Yen, not just the store currency to reproduce it with

[2022-02-14 08:31] mikkamp commented on #1205
We have a mix of how we handle this in various classes. But if the container is not needed in the constructor then the class can implement the ContainerAwareInterface and use the trait ContainerAwareTrait.

Yes that's exactly what I meant. If I search for `implements.*Service` I find 66 results, but `implements.*Registerable` finds 36 results. So it would initialize a lot less classes, although so

[2022-02-14 11:20] eason9487 commented on #1210
@mikkamp

Thanks for noticing this! I updated the replicate steps of this issue.

Changing the error message to an array will affect response structure in several places on outer layers. I think it might require a more generic error structure design and then refactor both client-side and server-side.

To avoid the wider impact scope, I tended to make the HTTP status codes correspond to actual erro

[2022-02-14 12:39] mikkamp commented on #1210
My suggestion was to convert the ApiException to an array of errors, so it would be easier to pick out the right error message. So only the message passed to outer layers would change, which as far as I understand wouldn't affect the client-side. However a followup issue sounds good, since it will work well in combination with mapping the error code.

[2022-02-14 19:54] jorgemd24 commented on #1205
Thanks, I used  ContainerAwareTrait to load the instances. I created PR #1244.

I tried updating it to `$services = $this->container->get( Registerable::class );` however the Registerable:class needs to be added to at least two providers CoreServiceProvider and JobServiceProvider to make the plugin work. I think at the end it will load a similar number of instances and I do not see any significant

[2022-02-15 08:04] #1210 closed, assigned to eason9487

[2022-02-15 08:20] mikkamp commented on #1205
I'm not sure I follow why those two providers would need to be Registerable. They extend the [AbstractServiceProvider class](https://container.thephpleague.com/3.x/service-providers/) so we don't need to call it's register function explicitly. If there isn't a significant performance change then it's probably best to leave it as is anyway.

I'll take a closer look at the PR since that looks like i

[2022-02-15 15:29] jorgemd24 commented on #1205
As far as I understand the `Registerable interface` needs to be added in the `provides array` of at least one of the providers so it can load the definitions related to that alias. Otherwise, it is throwing `Registerable is not being managed by the container or delegates` because the container does not have any definition yet with the tag "Registerable".

If I add the Registerable interface to the

[2022-02-16 05:23] eason9487 opened #1246 "Improve error handling when operating ads campaigns"
It's a follow-up for https://github.com/woocommerce/google-listings-and-ads/issues/1210#issuecomment-1038760473 and https://github.com/woocommerce/google-listings-and-ads/pull/1242#issuecomment-1039818852.

## User story

- As a merchant, it would be nice to help me enter valid values when creating, editing, and deleting ads campaigns.
- As a merchant, it would be nice to have the exact reason whe

[2022-02-16 05:29] eason9487 commented on #1246
Added the **on hold** label - It would be more proper to handle this at least after finishing the PMax and multi-country targeting projects.

[2022-02-16 11:07] eason9487 opened #1248 "Multi-country targeting for Google Ads campaign"
## Context

### Objective

Enable merchants to target multiple countries in a single Google Ads campaign, reducing management overhead of campaign/budget and increasing the ability of campaign algorithm to scale.

### Overview

Change the functionality of campaign creation and editing to make it be able to specify multiple countries in a single Google Ads campaign.

![image](https://user-images.gi

[2022-02-16 19:01] #1205 closed, assigned to nobody

[2022-02-16 19:41] jorgemd24 opened #1250 "Performance improvements - Limiting the number of classes loaded by the container"
## User story
This is a follow-up from [#1244(comment) ](https://github.com/woocommerce/google-listings-and-ads/pull/1244#pullrequestreview-882686847) and the issue #1205.

### Is your feature request related to a problem?
After the investigation of #1205, we detected that we could limit the number of classes loaded by the container on every request. In PR #1244 we did an improvement related to th

[2022-02-17 07:35] #1232 closed, assigned to message-dimke

[2022-02-21 11:24] message-dimke opened #1259 "Fix ProductFilter to return products and remove `$return_ids` parameter"
Not sure `$return_ids` is needed here. Method is only used at one single place and returns ids. Filters also filter products, so, maybe, should always return products and then, if you need ids, map to get ids outside of filter. This is still going to be another loop, but same time it is not going to raise the order of complexity.
Besides there seems to be a bug in this class with `filter_sync_read

[2022-02-21 15:00] #1193 closed, assigned to nobody

[2022-02-23 13:37] rawdreeg commented on #611
I haven't been able to reproduce this issue locally. I get:

`{"message": "Unable to insert site verification." "id":#id_number}`

Instead of the error described on the issue. Not sure I am missing something. Can anyone reproduce this still? or confirm this is still an issue?

[2022-02-23 17:30] #1233 closed, assigned to nobody

[2022-02-24 12:39] #611 closed

[2022-02-25 20:34] d-voorhees opened #1276 "Conflict with Woocommerce v 6.2.1 leads content API to send incorrect URL"
Woocommerce and WPEngine support helped diagnose and pinpoint this issue, which we have solved for now by reverting to Woo 6.2.

With the update to Woocommerce 6.2.1, the Content API has begun submitting the incorrect product and image URLs to Google Merchant, resulting in Google Merchant removing our products from their listings. This morning we were notified 66 listings had been removed from Goo

[2022-02-28 00:27] findingsimple commented on #1276
Hi!

At face value that doesn't make a lot of sense that your site would have started using a staging URL (not sure how your live site would know about a staging site/url).

By any chance, did you test the 6.2.1 update on a separate staging site with all the same connection details as your live site and in doing so submit staging data to your live merchant center account? Or alternatively, has som

[2022-02-28 00:28] #1276 closed, assigned to nobody

[2022-03-02 02:27] findingsimple opened #1278 "Additional data points for tracker snapshot"
In https://github.com/woocommerce/google-listings-and-ads/pull/1167 we introduced some changes to inbox notifications.

This included some additional conditions
* has_account_issues
* has_at_least_one_synced_product
* is_setup_started (ads)

The marketing team would like to use these data points/conditions for some marketing campaigns and as such would like this information exposed in tracker snap

[2022-03-02 13:21] mikkamp commented on #775
We have the design specs ready how this should be handled in the UI: pcTzPl-mN-p2

However before that's implemented the initial stage would be to detect we've been disconnected in the backend, so we can flag to the UI that a reconnect is needed.

We have a similar "global" connection status for the Google account. In the backend we keep track of this using the GOOGLE_CONNECTED option, whenever we

[2022-03-04 10:59] mikkamp opened #1285 "Performance data error always links to MerchantCenter"
### Describe the bug:
When we are unable to load performance data we show an error and suggest for them to view the data in Merchant Center.

![image](https://user-images.githubusercontent.com/11388669/156748752-14117bdc-6632-412b-9fce-b8bcc0546e04.png)

We reuse the PerformanceCard for both free listings and paid campaigns. But if it fails for paid campaigns we want to redirect them to view the d

[2022-03-04 11:29] nima-karimi opened #1286 "BaseController::prepare_item_for_response only works on the first level depth"
The `BaseController::prepare_item_for_response` method is usually run in our API controllers to prepare a data item for the response. It formats the data according to the schema defined for each endpoint.

Some properties, however, are defined as `objects` in the endpoint schemas and can introduce another level of properties to the schema. At the moment `BaseController::prepare_item_for_response`

[2022-03-04 11:39] mikkamp commented on #1286
Just wanted to add that we want to do this for both `object` and `array`. Here is a list of the [primitive types](https://developer.wordpress.org/rest-api/extending-the-rest-api/schema/#primitive-types) for reference.

[2022-03-04 13:34] ecgan opened #1287 "Shipping rates UI changes: Change `saveShippingRates` into custom hook"
## User story

This is a follow-up to https://github.com/woocommerce/google-listings-and-ads/pull/1262#discussion_r817832807:

In addition, we might want to consider doing the following too, based on https://github.com/woocommerce/google-listings-and-ads/pull/1262#discussion_r817858184:

Another suggestion is mentioned in https://github.com/woocommerce/google-listings-and-ads/pull/1262#discussion_

[2022-03-04 19:48] ecgan opened #1288 "Shipping rates UI changes: Initial value for offer free shipping card in Setup MC and Edit Free Listings"
## User story

- Follow-up to PR: https://github.com/woocommerce/google-listings-and-ads/pull/1266#discussion_r819861021:

Setup MC should have initial unchecked option:

![image](https://user-images.githubusercontent.com/17420811/156141135-01399b43-852e-42f2-8610-b9af336819bb.png)

Edit Free Listings should have initial checked option, either yes or no, since they are editing existing records.

D

[2022-03-04 20:00] ecgan opened #1289 "Shipping rates UI changes: Validation for offer free shipping and minimum order amount"
## User story

- Follow-up to PR https://github.com/woocommerce/google-listings-and-ads/pull/1266#pullrequestreview-895997852:

![2022-03-01 19 13 12](https://user-images.githubusercontent.com/17420811/156159366-cebeb6d7-90b3-4135-a141-adbd7b1db4ea.png)

[2022-03-06 13:30] ecgan opened #1290 "Shipping rates UI changes: Navigate away prompt shows up when users edit and change back to original value in Edit Free Listings"
- This is a follow up to PR review comment: https://github.com/woocommerce/google-listings-and-ads/pull/1266#pullrequestreview-895997852

https://user-images.githubusercontent.com/17420811/156161814-f3029a2b-b992-4cc7-a3ae-d15184d6a5ba.mp4

https://user-images.githubusercontent.com/17420811/156161880-84aa632f-cec4-47ab-a05a-719b1e7cfa1b.mp4

From https://github.com/woocommerce/google-listings-and-

[2022-03-06 15:49] ecgan opened #1291 "Shipping rates UI changes: Changing a shipping rate's `rate` to 0 should clear its `options.free_shipping_threshold`"
- This is a follow-up to PR review comment: https://github.com/woocommerce/google-listings-and-ads/pull/1267#pullrequestreview-898730646

https://user-images.githubusercontent.com/17420811/156556576-0dc4f798-c036-46d9-af9e-4f701e25af9d.mp4

[2022-03-07 03:43] danielk-am opened #1292 "Activating Google Listings & Ads (before WooCommerce) led to a fatal error."
### Describe the bug:

Fatal error caused when Google Listings and Ads was activated before WooCommerce.

https://user-images.githubusercontent.com/92185881/156963422-3d32890b-5502-412d-8693-031d80ebe663.mov

The short version above where Google Listings & Ads was activated without WooCommerce.

https://user-images.githubusercontent.com/92185881/156963625-d8b51365-2eb3-4756-837b-56e368eef59d.mp4

[2022-03-07 04:52] eason9487 commented on #1290
📝  Another related comment - https://github.com/woocommerce/google-listings-and-ads/pull/1266#issuecomment-1060192535

[2022-03-07 09:10] ecgan opened #1293 "Shipping rates UI changes: Remove "all countries" label from shipping rate and shipping time"
- This is a follow-up from Slack thread: p1646642340764349-slack-C01E9LB4X61
- P2: pcTzPl-ep-p2
  - List all countries individually above the text field in the `Estimated shipping rates` and `Minimum order` cards.
  - List all countries individually above the text field in the `Estimated shipping times` card.

In existing code, shipping rate and shipping time label might show up as "Shipping rates