[2022-03-07 10:10] mikkamp commented on #1292
The error is easy to reproduce by activating Google Listings & Ads with WooCommerce deactivated.

[code]

The error comes from when we try to track the [activation source](https://github.com/woocommerce/google-listings-and-ads/blob/1.11.1/src/Infrastructure/GoogleListingsAndAdsPlugin.php#L61). But since WC is not activated [`maybe_register_services`](https://github.com/woocommerce/google-listings-

[2022-03-07 12:10] rawdreeg commented on #1292
@mikkamp I see we have a PluginValidator class that provides the validate() method, shouldn't this be able to return false if WooCommerce is not installed?

https://github.com/woocommerce/google-listings-and-ads/blob/develop/src/Internal/Requirements/PluginValidator.php#:~:text=public%20static%20function%20validate()%3A%20bool%20%7B

Maybe we should write a validator class that checks whether WooC

[2022-03-07 12:30] mikkamp commented on #1292
Discussed it more in Slack. But to follow up here, the WCValidator checks both if WC is active and if it's the right version, see: https://github.com/woocommerce/google-listings-and-ads/blob/1.11.1/src/Internal/Requirements/WCValidator.php#L39

[2022-03-07 12:43] rawdreeg commented on #1292
@mikkamp explained that:

This line of code is the problem: https://github.com/woocommerce/google-listings-and-ads/blob/1.11.1/src/Infrastructure/GoogleListingsAndAdsPlugin.php#L61

The container didn't register any services, so it returns a fatal that it's not available. Making the ActivatedEvents class Activateable and then adding an activate function that call maybe_track_activation_source coul

[2022-03-07 12:49] rawdreeg commented on #1292
@mikkamp Just curious, if we needed to store a state of needing a later call to activate as soon as all the dependencies have been met, this login would run on plugin_loaded, correct?

[2022-03-07 13:00] mikkamp commented on #1292
Not sure what hook it would run on, but it would have to be after `plugins_loaded` to confirm all the dependencies are met. What I meant with that statement is that we need to somehow detect when all the plugin dependencies have been met, and then re-run this bit of code:

[code]

Because when we first activated Google Listings & Ads, that code was run with `registered_services` as an empty array.

[2022-03-08 04:59] findingsimple opened #1296 "Update copy for Free Listings Merge"
At the end of March, Free and Enhanced Listings will be merged together (enhanced listings will not exist) - they will simply be free listings.

As a result, a number of content areas within the extension will need to be checked and updated to reflect the change.

* Get Started / Landing Page
* Product Feed Overview (and tooltip/pop-up content)

![image-9](https://user-images.githubusercontent.com

[2022-03-09 06:19] eason9487 opened #1304 "Shipping rates UI changes: Incorrectly saved shipping settings when editing free listings"
### Describe the bug:

- This issue is duplicated in:
	- https://github.com/woocommerce/google-listings-and-ads/issues/1387 by @nima-karimi .
	- https://github.com/woocommerce/google-listings-and-ads/issues/1402 by @ecgan .

When editing free listings, the final saved shipping settings (shipping rates and shipping times) could be incorrect if we change the target audience.

https://user-images.git

[2022-03-09 08:28] #1229 closed, assigned to nima-karimi

[2022-03-09 10:15] eason9487 commented on #1290
After discussing with @ecgan, this issue was transferred to me.

[2022-03-09 10:57] mikkamp commented on #1292
Based on our discussion we decided to go with a solution where we will prevent the plugin from being activated and show the reason why with the failed dependency. The reason should be shown in all the following circumstances:
- Activate single plugin
- Bulk plugin activation
- Activate through CLI

Preventing the plugin from being activated can be loosely based on the solution [here](https://wordp

[2022-03-09 12:01] #1291 closed, assigned to ecgan

[2022-03-09 14:09] mikkamp commented on #1292
Also wanted to mention that if the PHP version doesn't match (VersionValidator), we don't even register the activation hook. The plugin will still activate, but just do nothing and show a persistent admin notice. If they then update PHP and leave the plugin without reactivating, it will also miss calling the activation hook.

It's a bit of an edge case, but we might want to take it into considerat

[2022-03-09 14:49] ecgan commented on #1293
Done in PR #1297.

[2022-03-09 14:49] #1293 closed, assigned to ecgan

[2022-03-10 03:12] eason9487 commented on #1290
Fixed in #1307

[2022-03-10 03:12] #1290 closed, assigned to eason9487

[2022-03-10 09:21] ecgan commented on #1288
Fixed in #1302, closing this issue.

[2022-03-10 09:21] #1288 closed, assigned to ecgan

[2022-03-10 11:22] tomalec opened #1311 ":nail_care: Drop WC < 6.0 workaround from `full-content` layout"
GLA is now compatible with WC 6.3, according to our team tests.

### Describe the issue:

1. The `WC tested up to` was not updated https://github.com/woocommerce/google-listings-and-ads/blob/develop/google-listings-and-ads.php#L15
2. The workaround introduced in https://github.com/woocommerce/google-listings-and-ads/pull/1206/files#diff-1b8407a0e185b837137891f362cd7c3b2e8d553b388a6e4ea73cd11f38de3

[2022-03-10 14:06] mikkamp commented on #1198
Thanks for the report, I'm able to reproduce the same results. Although from my recollection this wasn't the case when we created the code for it.

When we created the code for retrieving product issues we explicitly check if the issue description has already been recorded and we then merge the list of countries. This can be seen [here](https://github.com/woocommerce/google-listings-and-ads/blob/1

[2022-03-11 01:29] #1212 closed, assigned to ecgan

[2022-03-11 01:29] #1213 closed, assigned to JPry

[2022-03-11 01:29] #1214 closed, assigned to ecgan

[2022-03-11 10:30] mikkamp opened #1316 "Product issues can seem duplicate for variable products"
### Describe the bug:

When we show the product issues (on the Product Feed page), we attempt to display the product name including the attributes. Which works well if the attribute names are one word or there are less than 3 attributes.

![image](https://user-images.githubusercontent.com/11388669/157842633-41ab6be7-3fae-4894-a314-fe407bf8c875.png)

However if there are 3 or more attributes or mul

[2022-03-11 11:14] ecgan opened #1318 "Changing `offer_free_shipping` value back and forth causes navigate away prompt to show up"
### Describe the bug:

In Edit Free Listings, when we change the offer free shipping value back and forth, the navigate away prompt would show up. This is because the `offer_free_shipping` value is being grouped as settings, and settings is considered changed.

📹 Demo video of the issue, with my voice:

https://user-images.githubusercontent.com/417342/157856288-1edcfc8e-4b73-4319-b74b-e8b916a46d45

[2022-03-11 12:58] mikkamp commented on #1047
@eason9487 Seems like there are just two pending things left here. But I wanted to comment on the following point:

Seems we are only checking code standards for the `./src` folder: https://github.com/woocommerce/google-listings-and-ads/blob/1.11.1/.github/workflows/php-coding-standards.yml#L27

But we have additional php files which we should be checking, I think we can use the same list as [this

[2022-03-11 13:08] ecgan commented on #1289
Fixed in #1309. Closing this issue.

[2022-03-11 13:08] #1289 closed, assigned to ecgan

[2022-03-11 13:11] eason9487 commented on #1047
@mikkamp, thanks for the information!

I think we could add the missing folders/files during the next two weeks. I will add it to the action items.

[2022-03-11 15:17] mikkamp commented on #1047
I've created PR #1320 which does a stricter check (includes checking warning) and checks all PHP files. That will make it harder to check if this needs to be run for all PR's but it's relatively quick to run, so it might not be much of an issue.

[2022-03-11 15:26] mikkamp commented on #1311
Just linking a related issue which can be unblocked if we bump the minimum WC version: https://github.com/woocommerce/google-listings-and-ads/issues/1048

[2022-03-11 17:29] #1227 closed, assigned to mikkamp

[2022-03-11 19:02] jorgemd24 opened #1323 "Store address - Refresh to Sync"
## User story

As a user, I would expect that once I click the button "Refresh to Sync" the information should be synced to the Google MC,
at the moment the user needs to do two steps to achieve that: Click on "Refresh to Sync" and then click "Save button".

![image](https://user-images.githubusercontent.com/2488994/157934459-decbdcc8-d030-49e4-b68d-0621fad244fc.png)

I think the intention of the

[2022-03-12 16:56] ecgan opened #1324 "Multi-currency issue with shipping rate and minimum order amount: Currency in edit minimum order modal does not match currency shown in the page after edit"
- This is a follow-up to https://github.com/woocommerce/google-listings-and-ads/pull/1267#discussion_r821591256.

https://user-images.githubusercontent.com/17420811/157228468-895c73bb-8f83-40ff-9d96-fa68123fe959.mp4

Note: this issue should be a pretty rare issue to happen. For this issue to happen, users would have to change their WooCommerce currency settings, and then change the shipping rate s

[2022-03-15 12:13] eason9487 commented on #1047
Thank you all for helping with these enhancements! 🙇‍♂️
Closing this issue for that all action items have been implemented. 🎉

[2022-03-15 12:13] #1047 closed, assigned to nobody

[2022-03-15 19:48] jorgemd24 commented on #1286
After the discussion with @mikkamp  about possible solutions using WP validation schema functions such as [rest_sanitize_value_from_schema](https://developer.wordpress.org/reference/functions/rest_sanitize_value_from_schema/) and with the goal to improve the following points:

1. The sanitization of each field.
2. Cast empty arrays to objects when the schema type is "Object".
3. Using the default

[2022-03-16 07:00] #1285 closed, assigned to puntope

[2022-03-16 13:27] mikkamp commented on #1286
I tried to look into this a bit more and find examples of how it's being handled in other extensions. From the examples I found the validation / sanitation based on schema is done mostly for data sent to the API. For responses they mostly ensure it's sanitized as needed but it's not compared to the schema to make sure it matches. The closest I could find is the StoreAPI which has a function [`get_

[2022-03-16 16:20] ecgan opened #1331 "Edit Free Listings: Success notification is shown when there is an API error and saving is not successful"
### Describe the bug:

- This is mentioned in https://github.com/woocommerce/google-listings-and-ads/pull/1313#pullrequestreview-911315044.

https://github.com/woocommerce/google-listings-and-ads/blob/154565b1739ba5a9982caaab60447a05503d00ba/js/src/edit-free-campaign/index.js#L188-L208

https://user-images.githubusercontent.com/17420811/158565390-9cf4b921-0adf-4eda-b37e-a6ec65f972a2.mp4

### Steps

[2022-03-16 17:01] ecgan commented on #1318
Fixed in #1317, closing this issue.

[2022-03-16 17:02] #1318 closed, assigned to ecgan

[2022-03-16 18:23] ecgan opened #1332 "Setup MC: batch saving shipping rate suggestions throws error when suggestions contain non-"flat-rate" method"
### Describe the bug:

When users have a non-"flat-rate" method in their WooCommerce store settings, and they go to Setup MC Step 3 shipping rates section, they would see an error message popup saying "There was an error trying to save shipping rates."

When we look into the API calls, in shipping rates suggestions API (`GET /mc/shipping/rates/suggestions`), it returns the shipping rate with "free

[2022-03-16 18:26] ecgan commented on #1332
@nima-karimi , I found this while I was doing some testing. Do you think it makes sense to fix this in the suggestions API?

[2022-03-17 08:27] eason9487 opened #1333 "Bump wp-scripts to 22.1.0 and webpack to v5, and enhance webpack related usages"
## User story

As a developer, it'd be great

- if there were more productive development tools.
- if we could reduce potential security concerns from dependent packages.
- If we could clear some temporary programs that can be resolved along with the dependent package upgrades.

### Describe the solution you'd like

- Upgrade `webpack` version to v5.x, which is used by `@wordpress/scripts` since v

[2022-03-17 13:21] ecgan opened #1335 "Replace Form-related "auto" effects with Form `onChange` handler"
## User story

- This is related to https://github.com/woocommerce/google-listings-and-ads/pull/1313#discussion_r828739436.

Currently in our code base, we have four "auto" effects that are related to Form:

- `useAutoSaveTargetAudienceEffect`
- `useAutoClearShippingEffect`
- `useAutoSaveSettingsEffect`
- `useAutoSaveShippingRatesEffect`

The above four effects are used in the Setup MC flow. They

[2022-03-17 13:31] ecgan commented on #1287
This is done in PR #1313. I'm closing this issue.

[2022-03-17 13:31] #1287 closed, assigned to ecgan

[2022-03-17 19:21] ryanr14 opened #1337 "Support both [unit_pricing_measure] and [unit_pricing_base_measure]"
## User story

If you sell a product based on measurements they seem to get rejected as the extension doesn't support [unit_pricing_measure] and [unit_pricing_base_measure]. At least from 4868841-zen.

### Is your feature request related to a problem?

Yes, it should support the [unit_pricing_measure] and [unit_pricing_base_measure] properties. Otherwise this extension is of no use.

#### How to r

[2022-03-18 08:09] #1198 closed, assigned to mikkamp

[2022-03-18 11:18] mikkamp commented on #388
Most of the refactoring functionality has been addressed in #1208 and #1226.

This has been addressed in #1340 once that is merged this issue will autoclose.

[2022-03-18 11:22] mikkamp commented on #51
This is quite similar to #931 which was resolved for the Connection test page in #947
For the UI we logged the issue in #624 which was resolved in #893

For the multi step setup process we check the Jetpack connection status with the endpoint `wc/gla/jetpack/connected`, this returns the connected account regardless of which site account is being used, so the setup can be continued where it was lef

[2022-03-18 11:22] #51 closed

[2022-03-22 04:44] findingsimple commented on #1337
Thanks @ryanr14 can you add as a feature request to the ideas board please and link here

[2022-03-22 04:44] #1337 closed, assigned to nobody

[2022-03-22 04:51] findingsimple opened #1346 "Add blurb to encourage users to connect child Ads account and not a parent MCC"
### Is your feature request related to a problem?

#### How to reproduce the problem

Create and connect an an MCC account that has child accounts

### Describe the solution you'd like

Initial quick solution is to add a "blurb" to the UI to encourage users to only connect child accounts.

We will likely create follow up project/issues to address the underlying problem at a later point.

## Techni

[2022-03-22 15:30] jorgemd24 opened #1350 "Replacement links for "See What Ads Look like" for PMax"
### Describe the bug:

This is a follow-up related to the replacement text for PMax campaigns. See PR [1342](<https://github.com/woocommerce/google-listings-and-ads/pull/1342>).

At the moment there is no equivalent link for how Ads will look like using PMax. Once the link is available, we need to update the following lines with the new link:

1. [https://github.com/woocommerce/google-listings-and

[2022-03-23 08:58] ianlin opened #1351 "Add a helper function to get supported countries of a continent in GoogleHelper"
## User story

In this [PR](https://github.com/woocommerce/google-listings-and-ads/pull/1341/files#diff-e5e54e70e3677013fec896bd6a8490847bc64b414e5f573c5945804d85733b95R120) and this [PR](https://github.com/woocommerce/google-listings-and-ads/pull/1344/files#diff-e00da6abb755a70b224c15358214801e8057f047e1ba00ba21f3ba056ce8c480R128-R145), they have similar logic to get only the supported countries

[2022-03-24 05:17] #1248 closed, assigned to ianlin, eason9487

[2022-03-24 05:28] j111q commented on #1346
Hi, here's the proposed quick fix:

<img width="2215" alt="image" src="https://user-images.githubusercontent.com/65582817/159864730-e788c9ba-1ca5-4625-ad39-1e87adbb2544.png">

For the `Learn more` link, perhaps we can link to this Google article about manager accounts: https://support.google.com/google-ads/answer/6139186 Open to other suggestions though.

Here's the more ideal / long-term solution

[2022-03-24 06:00] eason9487 opened #1356 "Replace the selector of targeting audiences with TreeSelectControl component"
# Context

It's a follow-up of #1248 - Multi-country targeting for Google Ads campaign

💡  Looks like #112 could be closed after finishing this task.

## Objective

Replace the current selector component of targeting audiences with `<TreeSelectControl>` component. Make it easier for merchants to select countries.

![image](https://user-images.githubusercontent.com/17420811/154234977-da9b289f-6bb2-

[2022-03-24 14:27] #1292 closed, assigned to rawdreeg

[2022-03-24 19:01] ryanr14 commented on #1337
I added it here, but there wasn't a specific Google Listings & Ads plugin.

https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/44951842-support-both-unit-pricing-measure-and-unit-pric

[2022-03-25 06:39] ianlin opened #1362 "Remove delete operations for budgets and ad groups"
## User story

When a campaign is removed (being set to REMOVED status), I'd like the associated budget, ad group, ad group ad, and product group to be ineligible without needing to set REMOVED status to them. Only set REMOVED status to the campaign.

## Technical

Ref: pb0Spc-2pt-p2

Originally when a campaign is removed (set to `REMOVED`) we also set its associated resources (budget, ad group, a

[2022-03-25 09:37] ianlin opened #1364 "GET ads/campaigns API throws error when there are no campaigns"
### Describe the bug:

This is a bug introduced in #1280. When there are no any campaigns in an account, `GET ads/campaigns` will throw an error:

[code]

Because when no campaigns exist it's calling a query:

[code]

We need to add more checks in `combine_campaigns_and_campaign_criterion_results()` method of `src/API/Google/AdsCampaign.php`.

### Steps to reproduce:

1. Remove any existing campai

[2022-03-25 11:07] mikkamp opened #1368 "Compatibility with the cart and checkout blocks"
Project for investigating compatibility with Cart and Checkout blocks: pdGoBY-wb-p2

GLA has the class `GlobalSiteTag` which has two main functions:

#### 1. Track the conversion on the order received page
From my understanding with the checkout blocks it will still redirect to a new page once the order has completed. So this tracking which is injected into `wp_head` should still run. However I th

[2022-03-25 11:58] #388 closed

[2022-03-25 14:38] ecgan commented on #1332
Fixed in #1367, closing this issue.

[2022-03-25 14:38] #1332 closed, assigned to nima-karimi

[2022-03-28 02:56] #1364 closed, assigned to ianlin

[2022-03-28 08:44] #1346 closed, assigned to ecgan

[2022-03-28 10:13] eason9487 commented on #1333
📝  `@woocommerce/eslint-plugin` 2.0.0 was released a few days ago. Probably we could upgrade `eslint` and related packages as well.

[2022-03-28 10:18] #1362 closed, assigned to ianlin

[2022-03-28 11:20] #1172 closed, assigned to nobody

[2022-03-28 11:33] #1278 closed, assigned to rawdreeg

[2022-03-29 08:11] nima-karimi opened #1372 "Shipping Integration - Support locations not covered by other zones"
WooCommerce has a shipping setting that allows the user to set shipping methods for locations not covered by any other zone. This is not included as a normal zone in the values returned by the `WC_Shipping_Zones::get_zones()` method; therefore, we ignore it completely.

![image](https://user-images.githubusercontent.com/73110514/160565002-3244070f-490b-4234-b975-4559b8f654b3.png)

This is a specia

[2022-03-29 11:17] findingsimple commented on #1368
Thanks @mikkamp

[2022-03-29 15:04] mikkamp commented on #1368
#### 1. Track the conversion on the order received page

Confirmed that we are still redirected to a new checkout/order-received page when checkout is done through the Checkout Block. The conversion tracking snippet is added to the head of the page and I can see the event being sent.
We use a `send_to` parameter to send the conversion only to the specific conversion_id/label, so it doesn't send an

[2022-03-29 15:04] #1368 closed, assigned to mikkamp

[2022-03-29 20:35] #1239 closed, assigned to message-dimke

[2022-03-29 20:35] #1259 closed, assigned to message-dimke

[2022-03-30 07:53] nima-karimi opened #1380 "Shipping time is required if we are syncing shipping rates"
### Describe the bug:
Consider the following scenario; A user has stated that they will enter their shipping time settings in Google but they will enter their shipping rates manually or want them to be synced from WooCommerce shipping zones.

![image](https://user-images.githubusercontent.com/73110514/160776868-ce8c0cc6-8f22-45d6-a798-26c8bce8e7fe.png)

When we are submitting shipping rates to Mer

[2022-03-30 10:53] ecgan commented on #1380
This is how I interpret it, or how I think the 🔘  radio button logic should be:

- When shipping rates are "automatic" or "simple", shipping times must be "simple". (We cannot have shipping times "complex", as stated in this issue.)
- When shipping rates are "complex", shipping times must be "complex". (I think it does not make sense to have shipping times "simple" and have them stored in GLA, whe

[2022-03-30 11:02] findingsimple commented on #1380
Getting late for me, I'll have to go digging in notes. I thought we previously had a default value or entry for shippingTime that we submitted. Maybe I'm getting this confused with another value

[2022-03-30 11:10] findingsimple commented on #1380
Does this block onboarding?

[2022-03-30 12:15] nima-karimi commented on #1380
No, we don't have any default values for this. We just leave it as null if no values are set in the database.

Yes, if we can't set a shipping rate then onboarding will fail with this error:

[code]

[2022-03-30 12:19] nima-karimi commented on #1380
I've also noticed another issue: if you have previously set a value for the shipping times and now change the setting to "complex", the UI will still submit those values to the `POST mc/shipping/times/batch` API and the backend stores these values regardless of the option selected by the user.

[2022-03-30 13:31] ecgan opened #1382 "Modify front-end based on shipping rate API changes"
## User story

Shipping rate API is changed in PR https://github.com/woocommerce/google-listings-and-ads/pull/1341:

[code]

In this issue, we would need to modify the front-end / UI side so that the shipping rate section continues to work based on the above changes.

## Acceptance criteria

Loading and saving shipping rates work as expected.

[2022-03-30 13:41] ecgan opened #1383 "Modify front-end based on shipping rate suggestions API changes"
## User story

In PR https://github.com/woocommerce/google-listings-and-ads/pull/1341, shipping rates suggestions API has been changed:

In this issue, we would need to modify the front-end so that Setup MC shipping rate section continues to work based on the above changes.

## Acceptance criteria

Loading the shipping rate suggestions and saving them as shipping rates should work as expected.

[2022-03-31 00:23] findingsimple commented on #1380
Ok well I'm  going to bump to critical

[2022-03-31 00:25] findingsimple commented on #1380
But previously, did we have shipping time value we used, I remember shopify did something like 99 days (we didn't do that) but I thought we did have a way of getting around it

[2022-03-31 05:25] nima-karimi commented on #1380
I think we decided not to set a default because that might confuse users and lead to unexpected results. Especially given that the estimated shipping time is displayed publicly right next to each listing product on Google. if I remember correctly, we also discussed this with Caio and he agreed it won't be a good idea.

[2022-03-31 05:27] nima-karimi commented on #1380
@ecgan Can you please check if this one has an easy fix too? I think this is an important issue and most likely the main reason why this bug has gone unnoticed for so long.

[2022-03-31 06:27] j111q commented on #1380
Thanks for flagging this. To fix it, I think @ecgan's suggestion makes sense:

When shipping rates are "complex", shipping times must be "complex".

I would recommend we don't _show_ the radio options for Shipping Rates though - since it's not something they can change or choose, I think it makes no sense to actually show the options.

I did a quick mock of what that would look like in [Figma](2c1

[2022-03-31 07:53] ecgan commented on #1380
@nima-karimi , I always thought that before those shipping rates and shipping times data are used, the backend API side would check on the `settings.shipping_rate` and `settings.shipping_time` first, as they are like a "master switch" / "parent switch", e.g. if `settings.shipping_time` is `simple`, only then we use the shipping time data (which is like a "child data"). Is it possible / not possibl

[2022-03-31 08:11] nima-karimi commented on #1380
Currently, the API doesn't check anything but this should be easy to implement on the backend side. No need to change anything on the front-end then. I'll create a PR for this change soon.

[2022-03-31 08:48] ecgan commented on #1380
Thank you @nima-karimi ! 🙌  I'm thinking the fixes (UI and API) for this issue should be released as a hotfix. I have created and pushed a branch `hotfix/1.12.1` that is based on the current trunk. Our PRs should then be based on and merged into the hotfix branch, and then we make a release from the hotfix branch when things are ready. 🤞

[2022-03-31 08:50] nima-karimi commented on #1380
I've created a PR for the backend changes here: https://github.com/woocommerce/google-listings-and-ads/pull/1386

I'll cherry-pick it to the hotfix branch as soon as it's merged to develop.

[2022-03-31 09:13] nima-karimi opened #1387 "Shipping time country select input does not update and validate correctly"
### Describe the bug:

When editing a free listing, the shipping time country selector input will not get updated based on the countries selected at the previous step in the onboarding wizard. It seems to retain the values previously entered by the user (and stored in the database).

This leads to another issue where if a user changes the target countries but keeps the number of countries selected

[2022-03-31 12:52] eason9487 commented on #195
@puntope wrote in https://github.com/woocommerce/google-listings-and-ads/pull/1374#issuecomment-1084429913:

I think it's also a good thought for this follow-up issue.

[2022-04-01 04:53] eason9487 opened #1391 "Prevent the GLA button styles from overriding other styles or being overridden by other styles"
### Describe the bug:

1. The GLA button styles might override other styles out of GLA pages.
2. The GLA button styles are overridden by other styles.

### Steps to reproduce:

#### Overrides others
1. Go to Marketing -> Overview
1. Run script via DevTool console:
[code]
1. The styles of just created "Howdy!" button is overridden by GLA styles.
   ![2022-04-01 12 45 38](https://user-images.githubu

[2022-04-01 05:19] ianlin opened #1392 "UX Improvements on Get Started Page"
## Context

### Goal

To better explain the benefits and value of the Google Listings & Ads integration to the merchants, in order to reduce the current drop-off rate of ~31%.

### Overview

1. Highlight more of the benefits of this extension.
    - The current welcome page is underselling the potential value of this extension.
2. Communicate and educate the user about Smart Shopping Campaigns.

[2022-04-01 07:46] j111q commented on #1392
FYI @dominiquevias ☝️ (If there are any design questions, please ping Nikki!)

[2022-04-01 09:48] nima-karimi commented on #1380
https://github.com/woocommerce/google-listings-and-ads/pull/1386 is now merged to develop and cherry-picked into hotfix/1.12.1 branch

[2022-04-01 14:01] ecgan commented on #1380
This issue is fixed in PR #1386 and PR #1389. The fix is released in https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.12.1. Closing this issue.

[2022-04-01 14:01] #1380 closed, assigned to nobody

[2022-04-01 18:35] ecgan opened #1395 "Better shipping rates suggestions"
## User story

This is related to https://github.com/woocommerce/google-listings-and-ads/pull/1341, #1382, #1383.

I was looking into the shipping rates suggestions changes, and I noticed there are a bit of inconsistencies (or, a gap in expectations) in the suggestions data returned. I'm hoping that via this issue, we can have a standardized expectation that can work across the back-end API and fr

[2022-04-01 18:41] ecgan commented on #1395
@nima-karimi , could you look into the above proposal and let me know if it makes sense? 🤔  🙏

I was also confused with some ❓ inconsistencies, not sure if you have answers for them? By implementing the proposal, it should address those inconsistencies.

[2022-04-01 19:09] melek commented on #1276
We've had a recurrence of this issue, also on WP Engine, where a user had about one third of their GMC catalog overwritten with the staging site URL. To resolve the issue they deleted the products in Google, then disconnected/reconnected their Google account on the live site. They reported this worked, but they then had to reconfigure their shipping information in Google (not sure why). 34710573-h

[2022-04-04 10:05] mikkamp opened #1396 "Fatal error when settings are saved with an invalid value"
### Describe the bug:
We save the `gla_merchant_center` options as an array of values for the Merchant Center settings. However if this is not stored in the database as an array (serialized data) it causes a fatal, preventing the Merchant onboarding steps from being completed.

[code]

In two of the cases I looked at the `gla_merchant_center` and it appeared to have been saved with the value `1` (

[2022-04-04 10:08] mikkamp commented on #1396
Temporary workaround to resolve this is to clear up the `gla_merchant_center` value in the `wp_options` table. Or set it to an empty value in the hidden options page `https://domain.com/wp-admin/options.php`.

Once this has been reset the onboarding can be restarted, to resave the shipping and tax settings.

[2022-04-04 10:20] mikkamp opened #1397 "Uncaught exception when sending tracker snapshot"
### Describe the bug:
When sending a tracker snapshot before the Merchant Center account setup has been completed we get an uncaught exception:
[code]

### Steps to reproduce:
1. Start with a site that has not completed the onboarding but has the extension activated
2. Trigger the cron event `woocommerce_tracker_send_event` with a tool like WP Crontrol
3. View the fatal error logs in WooCommerce >

[2022-04-04 10:55] mikkamp opened #1398 "Automatic check for migration version replace"
When we release a new DB migration we must specify which version the migration applies to. We added a step in our [release Wiki](https://github.com/woocommerce/google-listings-and-ads/wiki/Release-Process#prepping-for-release) to ensure this is replaced upon release:

Woorelease doesn't replace this version since it looks specifically for a matching `@since` or `@version` tag. So we need to replac

[2022-04-04 12:01] jorgemd24 commented on #1398
The other day I was looking into some code in WC Gutenberg blocks and I realize that they have one variable named `$version` that seems that is replaced automatically. [See line](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/069cf33a775a042f7bf0f26986704b627c875acf/src/Package.php#L109).

I am not sure if the replacement is made by Woorelase or if there is something else

[2022-04-04 12:26] mikkamp commented on #1398
We don't use a `-dev` suffix in the develop branch, although we could adopt that strategy (WC does the same) since that would give us a specific version to put into the migration script.
Either way they seem to use a shell script to replace the version: https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/bin/version-changes.sh#L19

[2022-04-04 12:47] mikkamp commented on #1276
If the site is copied to a staging site, all the connection settings are also copied over. Unless this is done during the initial sync, it generally won't start automatically syncing all the products as soon as the staging site is created. However since the staging site is also considered as "connected" there are plenty of events that could trigger products to be synced:

- Products have been subm

[2022-04-04 12:56] mikkamp opened #1399 "Staging site can override items in the catalog"
### Describe the bug:
If the site is copied to a staging site, all the connection settings are also copied over. Unless this is done during the initial sync, it generally won't start automatically syncing all the products as soon as the staging site is created. However since the staging site is also considered as "connected" there are plenty of events that could trigger products to be synced:

- P

[2022-04-04 13:15] tomalec commented on #1398
What do you think about adding a feature to WooRealese, so it will replace `x.x.x` in other places indicated by something like `// WRCS: RELEASED_VERSION`, to follow what it does for the "latest" version https://github.com/woocommerce/woorelease/blob/trunk/includes/tools/class-version-bump.php#L165-L183 ?

[2022-04-04 13:28] mikkamp commented on #1398
I think it's a great suggestion to have an option of using WooRelease to replace the version string. Although we'd have to look a little more at what would be the right way to indicate what to replace in the code.

Using the comment `// WRCS: RELEASED_VERSION` means WooRelease would have to replace the version and remove the comment, because we don't want it to be detected again in the next releas

[2022-04-05 07:35] #1397 closed, assigned to mikkamp

[2022-04-05 16:30] ecgan opened #1402 "Edit free listings - change shipping rates and shipping times when audience countries are changed"
### Describe the bug:

In Setup MC, when users go through shipping settings, go back to change / delete audience countries and go to shipping settings again, the shipping settings are cleared and users have to set them up again. This is done by using the `useAutoClearShippingEffect`. This ensures that a country that is not a target audience country will not have the corresponding shipping settings

[2022-04-05 16:54] mxhassani commented on #1396
A similar case in 4923940-zen
The workaround didn't help. Ended up deactivating the plugin.

[2022-04-05 17:34] ecgan opened #1403 "Shipping times section not showing up and unable to proceed through Setup MC"
### Describe the bug:

- This issue comes up from hotfix PR https://github.com/woocommerce/google-listings-and-ads/pull/1389.

When new users install the plugin and go through the Setup MC flow, they might get stuck in the Setup MC Step 3 and unable to proceed because of missing shipping times settings.

When users first arrived at Step 3, they will see the following with "Recommended" (automatic)

[2022-04-05 17:42] songchen2022 opened #1404 "Add Woocommerce gTag remarketing and conversion signals"
## User story
We want to add gTag info in home/product/cart/purchase/add_to_cart page to support remarketing for retail and enhanced ecommerce conversion tracking .

Existing gTag implementation injected GTag script generally in all pages, and implemented barely conversion signals for purchase. Because of missing signals of product visits, add_to_cart events and cart visits, Google’s prediction sy

[2022-04-05 17:51] songchen2022 opened #1405 "#1404"
#1404

_Originally posted by @songchen2022 in https://github.com/woocommerce/google-listings-and-ads/issues/1277#issuecomment-1089113890_

[2022-04-05 17:51] #1405 closed, assigned to nobody

[2022-04-05 19:02] ecgan commented on #1403
Fixed in #1406, closing this issue.

[2022-04-05 19:02] #1403 closed, assigned to ecgan

[2022-04-06 02:23] kaushikasomaiya commented on #1396
The workaround throws a fatal error and WP Admin is no longer accessible.

` Fatal error: Uncaught Error: Cannot unset string offsets in /public_html/wp-content/plugins/google-listings-and-ads/src/DB/Migration/Migration20211228T1640692399.php:75`

Is there any other workaround?

[2022-04-06 02:52] kaushikasomaiya commented on #1396
Another case 4923997-zen

[2022-04-06 13:34] #1396 closed, assigned to nobody

[2022-04-06 16:00] #850 closed, assigned to message-dimke

[2022-04-07 03:15] kaushikasomaiya commented on #1396
Another case 4926752-zen

[2022-04-07 03:19] findingsimple commented on #1396
@kaushikasomaiya I'm not sure there is any point in adding new case links unless you've confirmed the merchants have updated to the latest version released 13 hours ago which has the fix and they are still seeing the problem  https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.12.4

[2022-04-07 03:53] kaushikasomaiya commented on #1396
@jconroy Apologies, I've let them know that the latest version with the fix is released now.

[2022-04-07 06:56] mikkamp opened #1411 "Yoast SEO compatibility layer fails to sync unique identifier values"
### Describe the bug:
When we setup GTIN/MPN through the Yoast SEO plugin and sync the products to the Merchant Center the GTIN's are not unique per product.
Initially reported in https://wordpress.org/support/topic/duplicate-gtins-upc-ean-reported-after-upgrade-to-gla-v1-12-2-v1-12-3/

### Steps to reproduce:
1. Set Yoast SEO and add GTIN numbers per product or use the steps from PR #428 to add G

[2022-04-07 07:12] nima-karimi commented on #1402
I think this is similar to this issue: https://github.com/woocommerce/google-listings-and-ads/issues/1387. Maybe we can merge them?

[2022-04-07 11:17] nima-karimi commented on #1395
This is added in milestone two because now each method is mapped to a different class in the code and might have different options. As I mentioned, we can modify the suggestions to return these as `flat_rate` but the main goal was to have it simple and more or less identical to their representation in WC.

The reasoning for including this was that there might be real-life cases where the customer

[2022-04-07 14:17] ecgan commented on #1402
@nima-karimi , thanks, turns out both issues #1387 and #1402 are duplicates of issue #1304 created by @eason9487 😆  (I remember @eason9487 created an issue for it but I couldn't find it before I created issue #1402).

I'll close both issues as duplicates and copy important information into issue #1304, so we just need to look at one issue #1304.

[2022-04-07 14:28] ecgan commented on #1387
Duplicate of issue #1304, closing this issue.

[2022-04-07 14:28] #1387 closed, assigned to nobody

[2022-04-07 14:29] ecgan commented on #1402
Duplicate of issue #1304, closing this issue.

[2022-04-07 14:29] #1402 closed, assigned to ecgan

[2022-04-07 18:51] ecgan commented on #1395
@nima-karimi , thanks for the detailed explanation. 🙂

---

I would like to take a step back from shipping rate suggestion API, and talk about shipping rate API first (saving and loading shipping rates). It relates to the plan I have in changing the UI code (issue https://github.com/woocommerce/google-listings-and-ads/issues/1382), and relates to your point quoted below: (with my emphasis)

The pl

[2022-04-08 06:10] nima-karimi commented on #1395
Yes, there are no constraints set in their API to prevent this setting.

It should be fairly straightforward to filter these on the backend too but what I meant to say was that there might be actual use cases for this. And if the user chooses the "automatic" option it will be synced to Google.

Through the suggestions API no, but if they choose the "automatic" option this rate will be synced to Go

[2022-04-08 06:57] nima-karimi commented on #1395
Yes as long as the "free_shipping_threshold" is only set on the "free_shipping" methods, it will work fine.

It's not important but it will help reduce the code complexity to have an interim data object when parsing a complex set of data. Currently, the only thing that is similar to the WC structure is that we set the free_shipping type for free shipping rates. Another reason for doing this is tha

[2022-04-08 08:56] ecgan commented on #1395
Ooh, interesting. I'm not sure either, my gut feel says it might make things more complicated in the UI for the users. I think we can put that idea aside. 😂

Thanks for letting me know the reasonings. 🙂

How about the "free_shipping_threshold"? 🤔 If there is no "free_shipping" method, I guess it will show up as "flat_rate" with "options.free_shipping_threshold" like the following?

[code]

If this

[2022-04-08 15:15] ecgan opened #1415 "Display validation error message"
## User story

Currently, we do not have a standard approach and UI design on how to display validation error message.

For example, in Edit Free Listings in the following screenshot, at first it seems like users has entered values for all the fields, but yet the "Save changes" button is disabled, and the users would be left "stucked" with no idea how to proceed or what is wrong. The button is dis

[2022-04-08 16:13] ecgan opened #1416 "Edit Free Listings: Shipping times reappear after saving changes and reloading the page"
### Describe the bug:

In Edit Free Listings, after we delete a shipping time and click on the "save changes" button, it appears to be deleted on the front-end, but when we reload the page, the shipping times still show up. They are actually not deleted at all.

At the code level, if we look for `deleteShippingTimes`, it is only called from Setup MC flow, but not in Edit Free Listings flow.

Note:

[2022-04-11 06:52] nima-karimi commented on #1395
I was thinking it would be meaningless to have a "free_shipping" option on a "flat_rate" method so maybe it would be best to rename it to "minimum_order_amount"?

If you think that would complicate things, we can still return them as `free_shipping_threshold`.

I think so, yes. If the UI code doesn't check or return "free_shipping" methods already then no need for any changes there.

[2022-04-11 08:50] ecgan commented on #1395
If it's just changing the name to make it more meaningful, yeah we can do that, I can change it easily in the UI code. 🙂

Yeah, right now the UI code doesn't have anything related to "free_shipping" method yet.

So I guess on my side, I'll just wait for the changes from your end, and when you are done, I'll do the necessary changes (e.g. the renaming to "minimum_order_amount" above) and test thing

[2022-04-11 12:56] ecgan commented on #1382
Label this issue as `status: blocked`, pending for further API changes as per https://github.com/woocommerce/google-listings-and-ads/issues/1395#issuecomment-1094735523.

[2022-04-11 12:56] ecgan commented on #1383
Label this issue as `status: blocked`, pending for further API changes as per https://github.com/woocommerce/google-listings-and-ads/issues/1395#issuecomment-1094735523.

[2022-04-12 11:41] #1411 closed, assigned to mikkamp

[2022-04-12 11:44] #775 closed, assigned to nobody

[2022-04-14 10:31] ecgan opened #1426 "Code refactor: aggregate shipping time into groups (`getCountriesTimeArray` and `getShippingTimesGroups`)"
- This is a follow-up issue from PR review comment https://github.com/woocommerce/google-listings-and-ads/pull/1420#discussion_r849320285.

Currently, we have two copies of `getCountriesTimeArray` function, in Setup MC and Edit Free Listings:

- https://github.com/woocommerce/google-listings-and-ads/blob/8bf7d9ce54539e8b33d9fe9dc00f01bbc05bd869/js/src/setup-mc/setup-stepper/setup-free-listings/shi

[2022-04-15 07:57] puntope opened #1428 "CES Prompts Showing several times"
### Describe the bug:

While I was testing other PR I noticed the CES Prompt "How easy was it to create a Google Ad campaign?" (maybe some other Prompts as well) are being shown multiple times.

In my opinion, if the Prompt is already there, we should avoid showing it again.

https://user-images.githubusercontent.com/5908855/163542330-a2ae0723-7911-4bae-9d3e-8b84de001330.mov

### Steps to reproduc

[2022-04-15 09:28] ecgan opened #1429 "CSS variables for responsive margin and padding sizes"
## User story

This is a follow-up to https://github.com/woocommerce/google-listings-and-ads/pull/1264#discussion_r818000169.

In our current code base, we have some custom margin and padding sizes like so:

[code]

The reason for using `--main-gap` and `--large-gap` is that they are responsive - their exact value depends on the current screen width. However, by using them in the examples above, i

[2022-04-15 09:47] puntope commented on #1429
Thanks @ecgan 🙏

 Would be cool to extend this issue into also adding other frequent used values (like the 600px) as mentioned here p1650010139538209-slack-CK365S85V

[2022-04-15 16:40] ecgan opened #1431 "Edit Free Listings: Unsaved data navigate away prompt might show up when target audience selected countries are still the same after being modified"
### Describe the bug:

This issue is found in https://github.com/woocommerce/google-listings-and-ads/pull/1409#discussion_r849359401.

In Edit Free Listings Step 1, if we remove a country and add the removed one back, which means the selected countries are the same as the saved ones after these operations, the unsaved data prompt will be shown.

The problem is that even though in the UI the form f

[2022-04-18 09:12] ecgan opened #1433 "Edit Free Listings: Unsaved data navigate away prompt might show up when shipping times are still the same after being modified"
### Describe the bug:

- This issue is a follow up from PR https://github.com/woocommerce/google-listings-and-ads/pull/1409#pullrequestreview-944049302.
- This issue is similar to issue https://github.com/woocommerce/google-listings-and-ads/issues/1431.

In Edit Free Listings Step 2 shipping time section, if we modify the shipping time setting and the values remain the same after modification, the

[2022-04-18 09:25] #1304 closed, assigned to ecgan

[2022-04-18 09:27] ecgan commented on #1416
Fixed in PR https://github.com/woocommerce/google-listings-and-ads/pull/1420, closing this issue.

[2022-04-18 09:27] #1416 closed, assigned to ecgan

[2022-04-19 09:24] sukafia opened #1434 "Jetpack connection can't be disconnected via the hidden page"
### Describe the bug:

The extension hidden page is used to connect as well as disconnect existing connections. However, while testing the recent update, the Jetpack connection can't be disconnected from that page: https://d.pr/i/amHuCz

This suggests the Jetpack connection can't be disconnected at all in the extension (Except all connections are disconnected using the "disconnect all button"). Be

[2022-04-20 03:21] eason9487 opened #1435 "The shipping rates and times form misses the invalid value check"
### Describe the bug:

The shipping rates and times form misses the invalid value check. This problem happens on:
- Onboarding setup page
   - Shipping rate edit modal
   - Shipping setup form
- Free listings edit page
   - Shipping rate edit modal
   - Shipping time edit modal
   - Shipping setup form

### Steps to reproduce:

https://user-images.githubusercontent.com/17420811/164143584-85875c2b-

[2022-04-20 09:16] jorgemd24 commented on #1331
I was having a look at this issue and I have two questions:

1. I understand that the use of [Promise.allSettled()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/allSettled) is because we allow to sync the data even when it is partially successful but is it OK to sync the data even if the rates are not saved successful? Should not it be [Promise.all()](ht

[2022-04-20 10:53] eason9487 commented on #1331
When reviewing the revision of #468, I guess we only focused on the design problem of the silent error, but didn't confirm whether it's OK to sync the data when error occurred. So this might needs more survey. I guess Ideally, if there are any errors that are catchable, then it should be better not to call the `fetchSettingsSync()`.

Apart from the "allowing to call sync the data (`fetchSettingsSy

[2022-04-20 16:40] ecgan commented on #489
Note that I have removed try/catch block in `upsertShippingRates` and `deleteShippingRates` in PR https://github.com/woocommerce/google-listings-and-ads/pull/1313, so now the consumer code are able to catch the error.

We would need to apply similar changes to the `upsertShippingTimes` and `deleteShippingTimes` actions. We can work on that after we work on refactoring shipping times section.

[2022-04-20 16:53] ecgan commented on #1331
@jorgemd24 ,

The `saveShippingRates` -> `upsertShippingRates` does not have try/catch, so when there is an error, the error will be thrown out and can be caught by the consumer. It does not fail silently (I'm guessing you had a typo? Or do we have different interpretation here? 🤔  ). This is intentional, it was done in PR https://github.com/woocommerce/google-listings-and-ads/pull/1313. The idea

[2022-04-20 20:10] jorgemd24 commented on #1331
@ecgan,

In the current scenario, with the following promises:

https://github.com/woocommerce/google-listings-and-ads/blob/8e0ae939a647850e74babe1cb4d1497dee1b9be3/js/src/edit-free-campaign/index.js#L192-L197

I see that if `saveTargetAudience` and `saveSettings` fail I am able to see a prompt in the front-end, this is happening because the try and catch are in the action itself.

![image](https:

[2022-04-21 03:05] eason9487 commented on #1331
@ecgan

It's not just an idea. It was the original requirement but limited by the implementation of **actions.js**. Quoted from https://github.com/woocommerce/google-listings-and-ads/pull/468#issuecomment-819179335, the proposed error message was:

Assume the error message based on the original proposal to interpret the error message when multiple errors occur. I think it's reasonable to show some

[2022-04-21 10:50] ecgan commented on #1331
@jorgemd24 ,

Ahh okay, now I get your meaning of "fail silently" (I thought it was a try/catch block, catching error and do nothing). Thanks. 🙂

Yes, correct.

---

@eason9487 ,

Ahh gotcha, thanks for the link and quote. 🙂 Yeah, to do that, it would need to be implemented with `Promise.allSettled()` eventually.

I'm thinking about the implementation detail on doing this. Putting a note here. It

[2022-04-21 14:17] ecgan opened #1439 "Improving `AppButtonModalTrigger`"
## User story

In PR [https://github.com/woocommerce/google-listings-and-ads/pull/1424](<https://github.com/woocommerce/google-listings-and-ads/pull/1424>), @eason9487 mentioned the following point about the `AppButtonModalTrigger` component:

Note: `AppButtonModalTrigger` was originally created in PR [https://github.com/woocommerce/google-listings-and-ads/pull/475](<https://github.com/woocommerce

[2022-04-21 14:38] ecgan commented on #1439
@eason9487 , let me know what you think on the above ideas. I think they should be able to address your comments that I quoted above. 🙂

[2022-04-25 14:37] jorgemd24 commented on #1331
Thanks, @eason9487 and @ecgan for the comments 🙏

I think now it is clear that using `Promise.allSettled` provides some benefits in this scenario. However, I have my doubts if it is OK to sync the data to the MC when saveShippingRates, saveShippingTimes, etc are failing.  As @eason9487 mentioned before, we will need to do more surveys about it.

From the front-end perspective, I see the benefits t

[2022-04-26 02:40] eason9487 commented on #1356
## Two additional UI problems

### 1. The modal viewport covers the dropdown, and there are double layers of scrollbar in the modal

![kapture-2022-04-15-at-14 43 02](https://user-images.githubusercontent.com/17420811/165207632-cdcde7a8-48b9-4e49-be03-81283d596c03.gif)

#### Expected behavior

The dropdown should not be covered by the modal viewport.

### 2. When the dropdown is open, clicking on

[2022-04-26 09:27] eason9487 commented on #1331
The approach I mentioned in that comment focuses on the error state access of API calls triggered by wp-data selectors and will require a larger code rewrite. While the same pattern could be applied to wp-data actions, I think the "[Let actions signal error explicitly](https://github.com/woocommerce/google-listings-and-ads/issues/489#issuecomment-820598091)" mentioned by @tomalec is also needed in

[2022-04-26 12:53] ecgan opened #1444 "Refactor shipping input controls"
## User story

This is a follow-up to https://github.com/woocommerce/google-listings-and-ads/pull/1410#issuecomment-1108910285 by @ecgan:

Below are screenshots of the shipping input controls:

Shipping rate input control:

![image](https://user-images.githubusercontent.com/417342/165301196-8784cf5a-8c51-4be0-995e-6160a652ae8e.png)

Minimum order input control:

![image](https://user-images.github

[2022-04-26 17:50] ecgan commented on #1331
@jorgemd24 , yeah, I agree with @eason9487's comment above too.

To be more specific, this is what I'm thinking:

[code]

With the above, we can get access to the success and error results in `results`. One thing to note: we need to be careful with the other impacted areas when we "remove its try/catch in actions.js" for `saveTargetAudience` and `saveSettings`, I think it might be good to split th

[2022-04-26 18:08] songchen2022 opened #1446 "Woo Policy Compliance Checks"
## User story

When setting up free listings in google,  there are some checklists that will be reviewed to ensure the merchant meets Google Merchant Center requirements, such as ensuring the store website and products are online and accessible to the customers, ensuring customers are able to successfully add items to the cart and fully complete the checkout process, ensuring customers have at lea

[2022-04-27 05:43] #1356 closed, assigned to eason9487

[2022-04-27 11:35] message-dimke opened #1450 "Products are not synced to Google Merchant Center."
### Describe the bug:

The scheduled job is expecting an array of ids, but got an array of WC_Product objects.
https://github.com/woocommerce/google-listings-and-ads/blob/422de5e11115f6bcb2090309bff239f2bd9508e0/src/Jobs/UpdateAllProducts.php#L110

The bug was introduced with this PR https://github.com/woocommerce/google-listings-and-ads/pull/1361 and tests did not catch it.

### Expected behavior

[2022-04-27 15:44] ecgan opened #1453 "TreeSelectControl label is different from other input control label"
### Describe the bug:

When I look at the shipping rate modal, minimum order modal and shipping time modal, the TreeSelectControl label UI is different from the other input control label. See screenshot below:

![image](https://user-images.githubusercontent.com/417342/165546456-0b90473f-de6b-419e-8afb-6f15c93d8a2b.png)

Another place is in the Setup Ads flow:

![image](https://user-images.githubus

[2022-04-27 18:34] ecgan commented on #1453
Dev note:

I was thinking to modify the TreeSelectControl label CSS here, by removing font-size and color (so that they follow the HTML page CSS) and changing padding-bottom to 4px:

https://github.com/woocommerce/google-listings-and-ads/blob/a8c6c13279f5e68397a1e2d485bd5bdc9790a53d/js/src/components/tree-select-control/index.scss#L21-L26

However, when I look into the latest gutenberg InputContro

[2022-04-28 04:45] eason9487 commented on #1439
Thanks for the ideas!

I think only the first idea is needed. It's low coupling and high flexibility. 👍  And it could be further simplified and made more general, like the commonly used `useToggle` hook. [This is one of the implementations](https://usehooks.com/useToggle/):
- Single one handler to toggle the state.
- Support initial state.
- Flat the restructuring to omit the syntax required when

[2022-04-28 13:49] #1450 closed, assigned to message-dimke

[2022-04-28 16:05] jorgemd24 commented on #1331
Thanks, @ecgan,

Yeah, that makes sense, I will start from there and I think once that part is done we can add a new custom hook to display error messages as @eason9487 mentioned before.

[2022-04-28 16:07] message-dimke opened #1457 "Add more UpdateAllProduct tests."
Some of the tests we might want to add:

- Filter out some products from the batches and confirm that batches continue even if some batch sizes are smaller or empty, see #861
- Test a final batch smaller than batch size (this will identify that `handle_complete` is not always called, which isn't an issue because we never use it)

_Originally posted by @mikkamp in https://github.com/woocommerce/goo

[2022-04-28 17:13] jorgemd24 opened #1458 "Once the Google Ads account is disconnected, the paid campaigns are still showing and the UI allows to create ad campaigns"
### Describe the bug:
Once the Google Ads account is disconnected, the paid campaigns are still showing and the UI allows to create ad campaigns instead of connecting an Google Ads account. The user needs to refresh manually the page to be able to connect a new Ads account.

### Steps to reproduce:

1. Go to settings->disconnect Google Ads account
2. Go to the dashboard (the list of paid ads still

[2022-04-29 06:04] mikkamp commented on #1434
This issue was discussed here: p1650357847631659-slack-C01E9LB4X61

It seems the reason it wasn't disconnecting fully is because of another extension (WCPay) also using the Jetpack connection. In this case GLA just does a "soft" disconnect which only removes itself from the list of connected apps, the Jetpack connection remains connected.

In order to fully disconnect, each of the connected apps m

[2022-04-29 07:36] mikkamp opened #1462 "Error when connecting some existing Merchant Accounts"
### Describe the bug:
There are several reports of receiving the error "Unable to retrieve Merchant Center account status"
See: [#](https://wordpress.org/support/topic/unable-to-retrieve-merchant-center-account-status/) [#](https://wordpress.org/support/topic/unable-to-retrieve-merchant-center-account-status-2/) [#](https://wordpress.org/support/topic/unable-to-retrieve-merchant-center-account-sta

[2022-04-29 07:43] findingsimple commented on #1462
Thanks @mikkamp, i'll mark as high for now as its related to onboarding and you've identified a number of reports

[2022-04-29 09:08] #1458 closed, assigned to eason9487

[2022-05-01 17:43] tomalec commented on #117
Closing as done in https://github.com/woocommerce/google-listings-and-ads/pull/1369 and https://github.com/woocommerce/google-listings-and-ads/pull/1401

[2022-05-01 17:43] #117 closed

[2022-05-01 17:52] tomalec opened #1467 "Confusing properties of `gla_setup_mc` track event"
_(This is a follow-up issue from https://github.com/woocommerce/google-listings-and-ads/pull/1408#issuecomment-1090434772)_
### Describe the problem:

When I was moving around the event tracking docs I noticed that `gla_setup_mc` is rather confusing. Its properties are described as:

I see a few problems here:
1. `trigger` is always set to `click` - do we really need such a property, that always h

[2022-05-02 11:29] puntope opened #1468 "Tree Select Control - Help text breaks focus/blur behavior and tree dropdown position."
### Describe the bug:

Adding a help text in the Tree Select controls creates unexpected behaviour in the component.

https://user-images.githubusercontent.com/5908855/166226588-b5491134-d1e4-4102-a7cd-edb61eff8d36.mov

### Steps to reproduce:

1. Find a section with a helper text in `<SupportedCountrySelect>` for example you can edit `AudienceSection.js `and hardcoding a text in the help prop.
2.

[2022-05-02 16:48] tijosh commented on #634
35355092-hc could benefit from this error logging

[2022-05-03 09:35] ecgan commented on #1382
With PR https://github.com/woocommerce/google-listings-and-ads/pull/1422, this issue should be not needed anymore. Closing this issue.

[2022-05-03 09:35] #1382 closed, assigned to ecgan

[2022-05-03 09:36] ecgan commented on #1383
With PR https://github.com/woocommerce/google-listings-and-ads/pull/1422, this issue should be not needed anymore. Closing this issue.

[2022-05-03 09:36] #1383 closed, assigned to ecgan

[2022-05-03 09:50] ecgan commented on #1435
Dev note / update: I've looked into this issue some time ago and it was a lil bit complicated and quite a rabbit hole because of the duplicated shipping time code in Setup MC flow and Edit Free Listings flow. I was thinking to work on this after doing some code refactor on shipping time section. However, now after another thoughts, I think it is better to look into this now and get this fixed.

[2022-05-03 11:32] #1468 closed, assigned to eason9487

[2022-05-03 13:33] #1453 closed, assigned to ecgan

[2022-05-04 04:07] #1333 closed, assigned to eason9487

[2022-05-04 11:09] eason9487 commented on #112
Close this issue since it's no longer applicable after using the `TreeSelectControl` for all country selectors in #1430.

[2022-05-04 11:09] #112 closed

[2022-05-04 11:43] nima-karimi commented on #1351
@ianlin I've moved the method created for the shipping integration into the GoogleHelper class in https://github.com/woocommerce/google-listings-and-ads/pull/1476. Let me know if that looks okay.

[2022-05-05 04:55] findingsimple opened #1478 "Adjust the conversion rate used for budget recommendations"
We currently have budget recommendations [loaded here](https://github.com/woocommerce/google-listings-and-ads/blob/develop/data/budget-recommendations.csv) which are based on a 3.5% conversion rate.

After some analysis (more time and data) a more accurate conversion rate is 1.9%.

We would like to update the recommendations to use this new conversion rate.

We will still keep it at 10 conversions

[2022-05-05 06:34] #1392 closed, assigned to ecgan, ianlin

[2022-05-05 06:38] layoutd commented on #1478
The original data was provided by the Google team, and we copied it into the CSV.

[2022-05-05 18:05] ecgan commented on #1444
Dev note / update:

I was looking into this issue, creating `EditNumberInputControl` component and trying to make it replace the existing `ShippingRateInputControl`, but the effort and changes needed are bigger than I thought. `ShippingRateInputControl`'s `value` and `onChange` props work with `ShippingRateGroup` type, while `EditNumberInputControl`'s `value` and `onChange` works with number type.

[2022-05-05 19:13] ecgan opened #1483 "Setup MC: Edit shipping rate modal disappears after auto-save shipping rate"
### Describe the bug:

In Setup MC, when users have a slow network connection, perform a shipping rate change (and triggers the auto-save mechanism), and click on the edit button to open the edit rate modal, the modal will disappear when the auto-save is completed.

📹 Demo video of the issue:

https://user-images.githubusercontent.com/417342/167006384-46bf2e3f-42d5-49de-bcda-37fb028c1650.mov

###

[2022-05-06 02:25] #1431 closed, assigned to eason9487

[2022-05-06 04:39] findingsimple commented on #1478
Thanks @layoutd

[2022-05-06 05:01] findingsimple commented on #314
Just noting that I believe we're still seeing issues as a result of size of the extension e.g. "Auto install fails, manual upload also fails."

[2022-05-06 07:03] mikkamp commented on #314
Linking a [branch](https://github.com/woocommerce/google-listings-and-ads/tree/cleanup-google-ads-services) that I created a while back. What that does is it removes unused Services in the Google Ads library, which results in about 10MB of files less. Now that we completed all the unit testing for classes that use the Ads library I feel more comfortable pushing that across the line. Are we adding

[2022-05-06 08:33] #1435 closed, assigned to ecgan

[2022-05-06 11:24] #1483 closed, assigned to ecgan

[2022-05-06 11:54] jorgemd24 opened #1489 "Enhancement - TreeSelectComponent should clear the previous search when an option is selected."
### Describe the enhancement:
When I am looking for an option in the TreeSelectComponent, I am expecting that once one option is selected, the search should be clear so I can search for another item without deleting the previous search manually.

### Steps to reproduce:

1. Go to Edit Free listings -> Update the Audience country
2. Search for any country, select the country, for example Italy
3. S

[2022-05-06 14:21] #1462 closed, assigned to mikkamp

[2022-05-07 21:08] strarsis opened #1490 ""Create Google Merchant Center Account" for Google Account with existing Google Merchant Center Accounts"
### Describe the bug:
The setup assistant only offers a "Create Google Merchant Center Account" action after having connected to a Google Account that already has one or multiple Google Merchant Center Accounts.
I don't want to just try out what happens when I use "Create Google Merchant Center Account", because it may cause issues with the existing accounts...

### Steps to reproduce:

1. Start t

[2022-05-09 02:44] findingsimple commented on #314
I'd like to yep

[2022-05-09 02:54] findingsimple commented on #1490
Hi @strarsis GLA [does not currently support MCAs](https://woocommerce.com/document/google-listings-and-ads-faqs/#section-45) - it's on our radar but not prioritized.

Please [head over to our ideas board](https://ideas.woocommerce.com/forums/133476-woocommerce?category_id=403986) and post an idea for us to track popularity - if we get more requests we'll look into it. (excuse the spam in there I

[2022-05-09 02:54] #1490 closed, assigned to nobody

[2022-05-09 03:03] strarsis commented on #1490
Out of curiosity: What would happen if I connect to a MCA-using Google Account and hit the "Create Google Merchant account" in the setup assistant?
Would this just cause an error by Google ("Google Merchant account (a MCA one) already exists"? Or would this interfere with the existing Google Merchant MCA account, e.g. somehow unlinking it with the Google account or overwriting it?

And couldn't I

[2022-05-09 06:52] findingsimple commented on #1434
Noting that a PR was recently merged https://github.com/Automattic/jetpack/pull/23991 that Deprecated the soft disconnect functionality and then later reverted https://github.com/Automattic/jetpack/pull/24104 because it was breaking connections on a number of sites.

This issue identified that we should probably revisit how we're handling the connection in general - so I'll create a project intern

[2022-05-09 07:08] findingsimple commented on #886
@tomalec wondering how far we got to completing this one and whether we can look at breaking it up, removing you from assigned in case others want to tackle it etc.

[2022-05-09 08:31] #1351 closed, assigned to ianlin

[2022-05-09 09:05] mikkamp commented on #1490
Hi @strarsis

If you click "Create Google Merchant account" in the setup assistant it will create a new sub-account, of the WooCommerce MCA. A Google account can be connected to multiple merchant accounts so it will not interfere with any existing MCA's that the same Google account has access to.

As you mentioned the other alternative is to create a sub-account and link it to a Google account. Th

[2022-05-09 13:09] strarsis commented on #1490
@mikkamp: Good to know. Though I already use a MCA Google Merchant Account, I would like to keep this structure.
I hope MCA support is added soon to this plugin!

[2022-05-09 14:45] strarsis commented on #1490
@mikkamp: I understood correctly that one Google Account can only have one single "normal" Google Merchant Account, right?
When one Google Account should manage multiple Google Merchant Accounts (like an agency for multiple customers),
a MCA is required, right? Because I created a MCA because I was only able to manage one and only one single Google Merchant Account with my own Google Account, but

[2022-05-09 17:32] #1457 closed, assigned to message-dimke

[2022-05-10 07:48] mikkamp commented on #1490
A single Google account can be connected to multiple Merchant accounts. The option to create / connect a new merchant account is not available on the merchants dashboard. But it can be done through the API, for example if you use the Google Listings and Ads extension to create a new account.

[2022-05-10 10:35] #1048 closed, assigned to eason9487

[2022-05-10 10:35] #1311 closed, assigned to eason9487

[2022-05-11 09:20] ianlin opened #1497 "Suggest that do not pass `eventName` prop to `AppDocumentationLink` component"
_This is a follow-up issue from https://github.com/woocommerce/google-listings-and-ads/pull/1492#discussion_r868813591._

### Describe the problem:

There is a shared component [AppDocumentationLink](https://github.com/woocommerce/google-listings-and-ads/blob/cbc4a9d3b66279eeee8225d1ae0b97cdc1216d29/js/src/components/app-documentation-link/index.js) that wraps the [TrackableLink](https://github.co

[2022-05-11 10:37] eason9487 commented on #806
I have looked into the current version of `SummaryNumber` and `Tooltip`'s implementations, but there is no ideal way to fix this issue. Using `onToggle` instead of `href` will change the layout and style of `SummaryNumber`. It might be the closest way but needs to override many CSS.

Other workarounds such as using **React Portal**, hijacking the click event from the topper layer, or replacing it

[2022-05-13 11:10] wyter commented on #1462
5207582-zen, asked them to wait for the fix to be shipped in a coming update.

[2022-05-15 21:46] Snaacks commented on #1462
Issue also reported in HC-30412511

[2022-05-16 08:19] #1165 closed, assigned to puntope

[2022-05-16 09:56] #1497 closed, assigned to ianlin

[2022-05-16 12:46] datapaganism opened #1506 "Ability to map attributes to Google's attributes"
## User story

It would make this integration extremely powerful to be able to link attributes and variations to Google's standards so products no longer get suspended after importing

### Is your feature request related to a problem?

#### How to reproduce the problem

### Describe the solution you'd like

A new menu that would ask the user what attribute they want to link to a drop down of the G

[2022-05-17 08:35] #1399 closed, assigned to mikkamp

[2022-05-17 12:38] mikkamp commented on #1506
Thanks for the report @datapaganism, although this request is covered by issue #572. We also have issue #15 to cover bulk updating product attributes.

I'm going to close this issue in favour of the linked issues, but feel free to add any points we might be missing there. We currently don't have a specific timeline when either will be implemented but it's on the list.

There is also a matching ide

[2022-05-17 12:38] #1506 closed, assigned to nobody

[2022-05-18 00:12] chennyxie opened #1509 "Expand supported promotion country list for 4 more countries"
The promotion sync on Google surface now is open for in total 5 coutnries:
https://developers.google.com/shopping-content/reference/rest/v2.1/promotions?hl=en

Our promotion sync supported countries can match all the countries by expanding the list here
https://github.com/woocommerce/google-listings-and-ads/blob/e17daaf1526493eeac1febce6b8d60f57b9ffe0f/src/Google/GoogleHelper.php#L1202

## Technic

[2022-05-18 02:52] findingsimple commented on #1509
Thanks @chennyxie

[2022-05-18 06:18] eason9487 opened #1510 "Allow Unicode characters in the MPN value when syncing a product"
### Is your feature request related to a problem?

Currently, it allows alphanumeric in the MPN value when syncing a product to Google Merchant Center. Products have other characters in the MPN value won't be synced.

Ref:
- https://github.com/woocommerce/google-listings-and-ads/blob/1.12.8/src/Product/WCProductAdapter.php#L767
- https://github.com/woocommerce/google-listings-and-ads/blob/1.12.8/s

[2022-05-20 15:06] puntope opened #1518 "Add Storybook deploy task in CI/CD"
## User story
As a developer, I want that the components added in storybook deploys automatically on each PR.

#### How to reproduce the problem
Doing a change in a component added to storybook doesn't updates the storybook page automatically.

### Describe the solution you'd like
Each time we do a PR storybook should be deployed
Ref: https://storybook.js.org/tutorials/intro-to-storybook/react/en/

[2022-05-23 12:15] strarsis commented on #1490
It would be great if this plugin adds native support for MCAs!

[2022-05-23 13:38] rubileandro opened #1519 "PHP Error: ShoppingPerformanceView not found"
### Describe the bug:
From Marketing -> Google Listings & Ads, it doesn't show reports but gives an error:
"We're having trouble loading this data. Try again later, or track your performance in Google Ads."
![image](https://user-images.githubusercontent.com/93342175/169829016-a71f25d0-efdc-46f0-b347-04904d1b69a3.png)
![image](https://user-images.githubusercontent.com/93342175/169829039-2c540373-6c

[2022-05-23 15:40] mikkamp commented on #1519
Thanks for the report, I'm able to reproduce this. It's related to #1495
Working on a fix.

[2022-05-24 06:59] #1519 closed, assigned to mikkamp

[2022-05-25 08:43] tomalec opened #1527 "Review bundled `@woocommerce/*` dependencies"
_This is a follow-up from https://github.com/woocommerce/google-listings-and-ads/pull/1526_

### Describe the bug:

After [switching to `@woocommerce/dependency-extraction-webpack-plugin`](https://github.com/woocommerce/google-listings-and-ads/pull/1526) it turned out we are bundling the following WooCommerce dependencies instead of using the versions shipped with WC:
   - `@woocommerce/currency`

[2022-05-25 08:44] #916 closed, assigned to nobody

[2022-05-25 09:45] #1433 closed, assigned to puntope

[2022-05-25 13:56] tomalec commented on #1527
We already had a discussion about removing those packages together with switching DEWPs in https://github.com/woocommerce/google-listings-and-ads/pull/976#issue-977480705

[2022-05-25 21:25] sukafia opened #1530 "Woo Policy Compliance Checks Links Update"
## User story

When setting up the extension, the checklists to ensure merchants meet Google Merchant Center requirements such as "My store is live and accessible to all users", etc, currently link to Google merchant center documentation.

We recently created a dedicated [Woo doc](https://woocommerce.com/document/google-listings-and-ads/compliance-policy/) for this that provides additional informa

[2022-05-26 00:06] findingsimple commented on #1530
Thanks @sukafia

FYI @garymurray @j111q

[2022-05-26 04:26] j111q commented on #1530
👍 @dominiquevias could you make sure the links in Figma are also updated with this new doc article? Thank you!

[2022-05-27 16:31] #1478 closed, assigned to jorgemd24

[2022-05-30 02:10] findingsimple commented on #1530
@jorgemd24 I'll assign this one to you

[2022-05-30 02:13] findingsimple commented on #1428
@jorgemd24 could you pick this one up too please?

[2022-05-31 08:19] #1509 closed, assigned to ianlin

[2022-05-31 08:22] #1510 closed, assigned to ianlin

[2022-05-31 09:07] jorgemd24 commented on #1530
@jconroy, @sukafia

Just to double confirm, the links that need to be updated are the ones shown in the following image, and the rest of the "Read more" in the helper sections.

![image](https://user-images.githubusercontent.com/2488994/171136501-1b08dc47-29b5-4444-9f18-735fe4b554a2.png)

Is this correct?

[2022-05-31 09:17] nikivias commented on #1530
@jorgemd24 if i could chime in. left link leads to main article. "learn more" jumps to respective section in the main article. (ignore dotted line in image)

<img width="990" alt="Screen Shot 2022-05-31 at 5 12 30 PM" src="https://user-images.githubusercontent.com/99638528/171138968-b692be57-1144-498b-ac45-2e1212e338df.png">

[2022-05-31 09:37] jorgemd24 commented on #1530
Thanks, @dominiquevias, my confusion is: would we like to update the links in the current Pre-launch checklist design (like it shows in my image) or will this only affect to the new design like it is shown in your image? As far as I know, the new design is not developed yet.

I have created a draft PR updating the links using the current design: https://github.com/woocommerce/google-listings-and-a

[2022-05-31 09:48] nikivias commented on #1530
@jorgemd24 Ah got it. Did we used to have a Read more link to each tooltip before or are we only doing this now?

Looking at the current design (your image) the same links in the newly published article will still be appropriate for the places you highlighted. Agree that it would be good to provide more info.

[2022-05-31 10:00] jorgemd24 commented on #1530
@dominiquevias,

Only the second option "I have a complete and secure checkout process." had a "Read more". I added the "Read more" to the rest of the tooltips in the PR https://github.com/woocommerce/google-listings-and-ads/pull/1537 as I saw that we could link each tooltip to its appropriate link in [Woo Docs](https://woocommerce.com/document/google-listings-and-ads/compliance-policy/).

![image

[2022-05-31 14:35] puntope commented on #1489
👁️  I was experimenting with this for a bit. Is true that the user should remove the filter but on the other side the user can feel consistency in the current tree after selecting the option.

For example, if we remove the filter means the tree will go back again to the unfiltered state hidden the options highlighted by the filter.

See video with the feature implemented:

https://user-images.gith

[2022-05-31 16:25] puntope opened #1540 "GH Workflows not triggering when certain files changes"
### Describe the bug:

When I was working on a new workflow for storybook I noticed we use this paths for updating trigger workflow

[code]

`**.js` worked for me but `./package.json` and the rest of files prefixed by `./`. didn't.

### Steps to reproduce:

1. Create a new branch from develop
2. Change something in package.json, for example the description
3. Workflows with paths relative to packa

[2022-06-01 12:28] #1530 closed, assigned to jorgemd24

[2022-06-01 20:13] sukafia commented on #1530
Yes, your understanding is correct! The links will still be appropriate for the new design and we'll constantly update the doc to reflect any changes. Thank you @dominiquevias for the prompt assistance.

That makes a lot of sense. Thank you so much!

[2022-06-02 08:00] mikkamp opened #1545 "Error getting account review status"
### Describe the bug:
We are getting several reports of users getting the error that they can't retrieve their account review status:
- 5256564-zen
- [Forum post](https://wordpress.org/support/topic/there-was-an-error-loading-your-merchant-center-product-review-request-status/)
- [Forum post](https://wordpress.org/support/topic/there-was-an-error-loading-your-merchant-center-product-review-request

[2022-06-02 08:24] ianlin commented on #1545
@mikkamp Thanks for reporting this issue.

I'm not quite sure what's a "standalone account", does it mean it's an account created outside of the extension, like creating from the Google merchant centre directly?

[2022-06-02 08:27] mikkamp commented on #1545
Yes it's exactly that. We don't have a lot of requests which we proxy through the manager account (Merchant Account), the only other one is "claim website (with override enabled", but that's not possible for users that connected with a "standalone account". So same scenario here, which we seem to have overlooked.

[2022-06-02 14:53] mikkamp commented on #1545
Summary of our discussion:

There are 2 main issues we are seeing from these reports.

1\. Standalone accounts are unable to retrieve the account review status. The API endpoint needs special permissions, which is enabled on our manager account, but we can only request it for child accounts. This results in the error that the account can't be accessed (should be interpreted as the manager account

[2022-06-02 16:00] ecgan commented on #1545
The short-term fix to hide the error notice is ready in PR https://github.com/woocommerce/google-listings-and-ads/pull/1547.

[2022-06-02 16:30] ecgan opened #1548 "UI AppShell containing the whole plugin"
## User story

This is a proposal and a follow-up to https://github.com/woocommerce/google-listings-and-ads/pull/1543#pullrequestreview-992499432:

Here are a few problems that we have in our existing code without AppShell:

- Problem with the `CustomerEffortScorePrompt`, as shown in https://github.com/woocommerce/google-listings-and-ads/pull/1543#pullrequestreview-992499432.
- We have multiple in

[2022-06-03 07:25] mikkamp opened #1549 "Site URL mismatch with trailing slash"
### Describe the bug:
We came across a site where the site URL is verified and claimed in Merchant Center as `https://domain.com/` (with trailing slash). However in the site settings it's configured without a slash. Which results in it seeing the URL as a mismatch which prevents product syncing.

In the Settings > General if we save the Site URL with a trailing slash it strips it off and displays

[2022-06-03 10:33] tomalec commented on #1548
:bulb: (probably side-tracking) Having the AppShell reminds me of the concept of [app shell from PWAs](https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/App_structure#app_shell). I think it would be good to have some (preferably service worker) infrastructure from WP-admin/WC to the app shell. A one that's heavily cached in user's browser, and available offline.

[2022-06-07 07:13] #1549 closed, assigned to nobody

[2022-06-07 10:38] #1540 closed, assigned to nobody

[2022-06-07 10:39] #1518 closed, assigned to nobody

[2022-06-08 16:32] #1545 closed, assigned to nobody

[2022-06-08 16:37] puntope commented on #1489
@j111q

Maybe could you suggest any of the two solutions?

https://github.com/woocommerce/google-listings-and-ads/issues/1489#issuecomment-1142219631

[2022-06-09 02:32] #1296 closed, assigned to eason9487

[2022-06-09 04:16] j111q commented on #1489
👋 Hi all, thanks for flagging and showing the issue so clearly. @shivanarrthine and I discussed this today and our preference is:

1. Can we keep the selected item in focus, AND remove the search term? Similar to how [Ant Design system does it here](https://ant.design/components/tree-select/), or here's a screencap:
![Screen Capture on 2022-06-09 at 12-09-57](https://user-images.githubusercontent.

[2022-06-09 09:36] puntope commented on #1489
Notice this is because is expanded already. Otherwise is not persisting.

https://user-images.githubusercontent.com/5908855/172816269-37db7b3c-6786-434c-b62b-cf61fab78939.mov

I will implement for now the solution 1, removing the filter.

[2022-06-09 09:53] jorgemd24 commented on #1489
Thanks, @j111q for your input on this! 💯

@puntope, I think that would be fine, ideally, the tree should be expanded so we could keep consistency between the search term, the tag and the tree however if this would require a big effort I think option 1 should be ok. From my point of view, it did not feel good that every time the user would like to search had to go to the selector, delete the search

[2022-06-09 20:50] felipevelzani commented on #1545
Likely related 5266050-zen

[2022-06-10 08:51] #1489 closed, assigned to puntope

[2022-06-10 17:02] puntope opened #1561 "Tree Select Control - Losing focus after clearing search input"
### Describe the bug:

Introduced in #1557

### Steps to reproduce:
1. Run storybook `npm run storybook`
2. On Tree Select Control without expanding any node search for "Kuala"
3. Kuala Lumpur will appear in the tree
4. Select Kuala Lumpur
5. Focus is lost

### Expected behavior:
Focus goes to input search if no node is available. In case node is available focus stays in that node.

https://user-i

[2022-06-13 13:49] puntope commented on #1545
@felipelousantos I guess that user is still having problems because is on version 1.13.3 instead of 1.13.4 which implements the fixes.

[2022-06-15 15:11] puntope opened #1566 "Tree Select Control - Improve focus"
Based on a previous PR comment [https://github.com/woocommerce/google-listings-and-ads/pull/1562#pullrequestreview-1006569927](<https://github.com/woocommerce/google-listings-and-ads/pull/1562#pullrequestreview-1006569927>)

### Is your feature request related to a problem?

We want to improve the behaviour in a way that is as much closer as possible with [ANT Design component.](<https://ant.desig

[2022-06-15 15:14] #1561 closed, assigned to puntope

[2022-06-17 04:01] kevin25 opened #1568 "Create custom labels and add products"
It would be perfect if we can Create custom labels right on the backend of WooCommerce and add the products instead of creating rules on Google Merchant Center.

## User story

### Is your feature request related to a problem?

#### How to reproduce the problem

### Describe the solution you'd like

### Describe alternatives you've considered

## Technical

## Figma link

## Acceptance criteria

#

[2022-06-17 04:25] findingsimple commented on #1568
Hi @kevin25 thanks for taking the time to post.

Would you mind heading over to [our ideas board](https://ideas.woocommerce.com/forums/133476-woocommerce?category_id=403986) and posting your suggestion? It'll help us keep better track of the popularity as others can vote.

If possible could you also take the time to clarify there what you mean by "custom labels" - perhaps some links to functionali

[2022-06-17 04:25] #1568 closed, assigned to nobody

[2022-06-21 08:58] #1434 closed, assigned to nobody

[2022-06-21 09:03] ianlin commented on #1434
### Updates 21st June 2022

According to the suggestions from @leogermani in https://github.com/woocommerce/google-listings-and-ads/pull/1559#issuecomment-1153916454 as well as in the project post pcTzPl-AG-p2#comment-1247, we have decided to keep the original "soft disconnect" behaviour when the user tries to disconnect Jetpack connection in both GLA's settings page and the connection test page.

[2022-06-22 07:21] ianlin commented on #1434
Just a heads-up this was released in [1.13.6](https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.13.6) by @jorgemd24.

[2022-06-25 15:11] kevin25 opened #1575 "Can't load product feed"
### Describe the bug:

### Steps to reproduce:

Store with more than 100k variants can't see anything on feed tab.

### Expected behavior:

Should see the product feed to sync and stop sync any product
### Actual behavior:

I can't see anything on the product feed tab.

### Additional details:

[25-Jun-2022 15:13:37 UTC] PHP Notice:  Trying to access array offset on value of type bool in /home//pu

[2022-06-27 01:31] findingsimple commented on #1575
Hi @kevin25

Do you have any other minimum set of steps to replicate? The error you are quoting doesn't seem to be specifically relevant to "Store with more than 100k variants can't see anything on feed tab." - my initial suspicion is it is something to do with a specific product attribute.

[2022-06-27 03:21] kevin25 commented on #1575
I installed on my store. Nothing shows up on the product feed. On the another store with some products, everything shows up. I can email you with the login details for investigation if you provide me email.

[2022-06-27 04:13] findingsimple commented on #1575
Best place to get support like this is [via WooCommerce.com](https://woocommerce.com/my-account/create-a-ticket/) - our support team will be able to help you there. Feel free to reference this when contacting them.

[2022-06-27 04:13] #1575 closed, assigned to nobody

[2022-06-27 08:03] stephentripco commented on #572
Hi. This seems to me to be an essential feature. The SKU is the GTIN (and this would seem to be a common practice, why come up an entirely separate identification system when one already exists) but I have no way of telling Google that with this plugin.

Is there a workaround until this feature is added? Currently I have 14K products with missing GTINs on Google when in fact I have that data alrea

[2022-06-27 08:09] findingsimple commented on #572
@stephenptem alas, that is [not always the case](https://squareup.com/help/au/en/article/7175-square-for-retail-sku-vs-gtin).

If you are a developer then you can [create your own filter](https://github.com/woocommerce/google-listings-and-ads/blob/e77d8060f1604cd9068fc5bfaaa60aae34375c12/src/Product/WCProductAdapter.php#L134).

[2022-06-28 10:10] ianlin opened #1576 "Enhance the hooks document generation process"
## Context

Follow-up from https://github.com/woocommerce/google-listings-and-ads/pull/1573#issuecomment-1168500688, which it added a script to generate the hooks document and put it in `src/Hooks/README.md`.

## User story

- [x] As a developer, I'd like the hooks document to be auto generated every time I add or remove the hooks (actions/filters).
- [ ] As a developer I'd like the hooks document

[2022-06-30 12:30] #317 closed

[2022-06-30 13:41] ecgan opened #1577 "WooCommerce 6.7 compatibility testing"
The following test is based on [Smoke tests](https://github.com/woocommerce/google-listings-and-ads/wiki/Smoke-tests) wiki page.

PHP version: 8.0
WordPress version: 6.0
WooCommerce version: 6.7.0-beta.2
Google Listings and Ads version: https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.13.6

# GLA Manual Smoke Tests

After each step during testing, be sure to check the debug lo

[2022-06-30 18:09] ecgan opened #1579 "WC 6.7 compatibility issue: navigation does not work in certain pages"
### Describe the bug:

This issue arises from my WooCommerce 6.7 compatibility testing in issue https://github.com/woocommerce/google-listings-and-ads/issues/1577.

In certain pages such as Edit Free Listings, clicking on the "<" back navigation button in the plugin does not do anything. Same with clicking on the browser's back button. Clicking on the "Continue" button in the Edit Free Listings St

[2022-07-01 09:22] puntope commented on #1579
I was doing some testing and I also cannot click on "continue" button in the plugin 🤔

<img width="1367" alt="Screenshot 2022-07-01 at 13 20 24" src="https://user-images.githubusercontent.com/5908855/176866360-2ece2b5d-d680-4943-af86-be838296eedb.png">

I'm still investigating

[2022-07-01 11:07] puntope commented on #1579
Seems like definitely something related with `getHistory().push` function. Its just not working.

Im still investigating what changed on WC 6..6 Wc 6.7 Regarding that

[2022-07-01 13:10] ecgan commented on #1579
@puntope , thanks for looking into this. Since we have WC version 6.7.0 beta 1 that is known to have the issue and version 6.6 that works fine, we can make use [git bisect](https://git-scm.com/docs/git-bisect) to find out the exact commit that introduces the bug.

Note that this would require you to have WC development environment setup in your local machine. Also, WC 6.6 was using nx, and WC 6.7

[2022-07-01 13:27] puntope commented on #1579
Hey thanks, Git bisect wont be necessary. I have already localised the root of the problem in `useNavigateAwayPromptEffect` hook. Maybe something changed in WOO Navigation API having a conflict with that.

[2022-07-01 18:00] ecgan opened #1581 "Product name has wrongly HTML-encoded en dash `"&#8211;"` in Issues to resolve table"
### Describe the bug:

Reproducible in Google Listings and Ads version: [1.13.6 (release)](https://github.com/woocommerce/google-listings-and-ads/releases/tag/1.13.6)

When I look into the "Issues to resolve" table, some of the product names have `&#8211;` in it, e.g. "Hoodie `&#8211;` blue, No".

![image](https://user-images.githubusercontent.com/417342/176945485-295c0323-2f47-4984-b45b-fd68d36b5

[2022-07-02 10:12] sukafia opened #1582 "Valid product image URLs not being detected in Google Merchant Center"
### Describe the bug:

Several users are reporting their products not syncing due to invalid image URLs error. GMC is unable to detect product images on some sites and return the following errors:

`[imageLink] This value is not a valid URL.`

`[additionalImageLinks[0]] This value is not a valid URL.`

There's been a number of support requests related to this issue all of which we've not been able

[2022-07-04 00:50] findingsimple commented on #1582
@sukafia What was the outcome of the conflict testing suggested in the slack thread discussion? What problem solving has been done?

There is no additional information for us to work with.

[2022-07-04 00:52] findingsimple commented on #1582
@mikkamp can you please dive into these tickets for the HEs?

[2022-07-04 07:36] sukafia commented on #1582
I recommended a conflict test in the recent support request (5338712-zen), I'm still waiting for an update. However, I imagine narrowing this down with a conflict test is going to be difficult, since it takes some time for product updates to reflect in GMC.

Meanwhile, I see I didn't link to the [forum thread](https://wordpress.org/support/topic/this-value-is-not-a-valid-url-additionalimagelinks0/

[2022-07-04 11:59] mikkamp commented on #1582
I was able to reproduce one error where the name of the image is `El-viaje-Fantástico-del-Osito-Gominola-Mockup.jpg` (note the accented `á`). If I try to sync with that image name I get the same error:

[code]

That's something that we can look at fixing, although I'm not certain that is the case in all the linked support requests.

[2022-07-04 15:34] ecgan opened #1583 "WC 6.5 to 6.7 compatibility issue: Modal header border bottom is missing"
### Describe the bug:

I was doing compatibility testing with WooCommerce 6.7.0-beta.2 in https://github.com/woocommerce/google-listings-and-ads/issues/1577, and I noticed that the Modal component is missing the border / separator between the modal header title and modal body content. The border is missing because of some CSS from the WooCommerce core:

![image](https://user-images.githubuserconte

[2022-07-04 16:46] ecgan commented on #1577
From this compatibility testing issue, I have found and created the following issue:

- https://github.com/woocommerce/google-listings-and-ads/issues/1579: This is the most important high-priority issue. We would need to have this fixed first prior to WC 6.7 stable release.
- https://github.com/woocommerce/google-listings-and-ads/issues/1581: Not really related to compatibility, but I found it dur

[2022-07-04 16:46] #1577 closed, assigned to ecgan

[2022-07-05 07:38] mikkamp commented on #1582
As mentioned in the PR, the fix would only resolve the validation error for sites that are actually using accented characters in the image URL's. I could find 3 sites linked in this issue with this problem, but there are several linked issues which appear to be using images with normal characters.
I've tried to track down additional patterns / reasons why the images might not be validated, but cou

[2022-07-06 12:18] #1428 closed, assigned to jorgemd24

[2022-07-08 07:20] #1579 closed, assigned to puntope

[2022-07-08 07:20] #1581 closed, assigned to puntope

[2022-07-12 13:33] findingsimple opened #1592 "Remove the identiier_exist logic entirely"
### Background

Every year Google comes out with [new changes to the product feed spec](https://support.google.com/merchants/answer/11905642).

The one that is most applicable to Woo merchants using the plugin is updated guidance for unique product identifiers.

Generally speaking, Woo merchants should fill out the identifiers if they can to get the most out of shopping ads + free listings. Previo

[2022-07-14 12:57] #1592 closed, assigned to puntope

[2022-07-18 16:26] tomalec opened #1599 "Implement new E2E environment once its ready in Woo platform"
## ~User~developer story
While [trying to add `admin-e2e-tests`](https://github.com/woocommerce/google-listings-and-ads/pull/1593), I encountered some problems with `e2e-environment` while trying to fix them I got notified that [`e2e-environment` is actually deprecated](https://github.com/woocommerce/woocommerce/pull/33828#issuecomment-1184729665), and there is a new solution being baked: https://

[2022-07-19 09:17] mikkamp opened #1600 "Update Ads library to support API V11"
For the PMax migration we need make use of the [Campaign.PerformanceMaxUpgrade](https://developers.google.com/google-ads/api/reference/rpc/v11/Campaign.PerformanceMaxUpgrade) field, which means we need to support API V11. We are currently still using V11 because V10 required bumping minimum PHP support to 7.4 (currently still at 7.3).

A similar PR can be created as the [V8 > V9](https://github.co

[2022-07-21 08:12] puntope opened #1604 "WC 6.8 Compatibility"
# PHP Unit test
- [x] Updated PHP Unit to new version and check that there are [no failing tests](https://github.com/woocommerce/google-listings-and-ads/pull/1605)

# GLA Manual Smoke Tests

Use this guide to smoke-test the plugin (for compatibility or other reasons). If there's a common use case or cause of errors not included, please add it!

After each step during testing, be sure to check the

[2022-07-21 09:07] puntope opened #1606 "UX - Consistent redirect behaviour after saving changes in Edit free Listings or Campaigns."
### Describe the bug:

Well, not sure if this is a bug or a feature. (Or maybe this is how we want it)

In edit free listings, after editing and save in the second step. It shows a success message but it stays in the edit page instead of going back to dashboard. IMO a UX improvement would be to redirect the user back to dashboard, reducing one click.

https://user-images.githubusercontent.com/5908

[2022-07-21 09:16] mikkamp opened #1607 "Complete Setup note needs exactly 5 sales"
### Describe the bug:
This is a followup from PR #136. In the issue the note should appear if setup has not been completed and 5 sales have been completed. I'm assuming this would mean at least 5 sales, otherwise there would be very few sites where this notice would show up.

In the code we check `has_orders` using the following comparison:

[code]

Which means it would only return true if the sit

[2022-07-21 12:15] #1604 closed, assigned to puntope

[2022-07-26 08:01] puntope commented on #1606
Discussed in slack with @j111q  and @eason9487

Seem like the expected behaviour it's actually to not redirect to dashboard. So the one that is not working is Ad Campaigns Edit page which redirects to dashboard.

[2022-07-26 09:07] mikkamp commented on #1607
Retesting this again, it seems it will return true even if it's larger than 5 orders. A limit is included in the query arguments, which means even if there are more than 5 it will return the limit.

[2022-07-26 09:07] #1607 closed, assigned to nobody

[2022-07-27 09:06] #1600 closed, assigned to mikkamp

[2022-07-28 09:08] alewolf opened #1609 "Add filter to disable event tracking"
### Is your feature request related to a problem?

There are users of the Google Listings and Ads plugin that want to use different plugins for tracking than the integrated one in the Google Listings and Ads plugin. Such a third party tracking plugin is the [Pixel Manager for WooCommerce](https://wordpress.org/plugins/woocommerce-google-adwords-conversion-tracking-tag/) (of which I am the develope

[2022-07-28 09:28] eason9487 opened #1610 "Streamlined Free Listings plus Paid Ads for the onboarding flow"
## Objective

- An onboarding flow for the integration offers merchants a choice of selecting Free Listings plus Paid Ads.
- The ability for merchants to:
   - preview the ads or campaigns they are about to launch,
   - know how many products will be synced to Google Merchant Center,
   - and set up billing for their Google Ads account via a popup.

💡 We will create a shared branch `feature/1610-s

[2022-08-03 09:49] mikkamp commented on #1609
As of now (version 2.0.2) the only tracking included in the plugin is a purchase event which gets sent to the linked Ads account. However there is the "soon to be released" PR #1556 which includes additional tracking including events which are triggered by the WooCommerce Gutenberg blocks. Can you clarify if the built in tracking would be disabled, would it provide equivalent tracking directly to

[2022-08-03 11:23] alewolf commented on #1609
Yes, my plugin would provide equivalent tracking directly to the Google Ads account. The user simply has to add the conversion settings for that specific conversion from Google Ads to my plugin, the Pixel Manager for WooCommerce (PMW). From then on all events will be tracked (add_to_cart, view_item, purchase, etc.)

That is great! Not many implementations do the same. My plugin, the Pixel Manager,

[2022-08-04 08:01] #1404 closed, assigned to nobody

[2022-08-08 11:55] mikkamp opened #1620 "Re-connect WordPress account notification is sent before setup completed"
### Describe the bug:
The ReconnectWordPress notification is sent when we detect that the Jetpack connection is not active and prompt them to reconnect their account. However if a user hasn't gone through setup yet, this notification should not show up. We only want the notification to show up after they've gone through setup and connected their WordPress.com account at least once.

### Steps to r

[2022-08-10 13:56] mikkamp opened #1623 "Run PHPCS for unit test code"
## User story

Currently the PHPCS rules are ignored for all the code in the unit tests folder. However it can be useful to keep code standards for the unit tests as well, especially the rules for spacing and code formatting which make it easier to read the code.

The suggestion is to create a second PHPCS configuration file which will be used for checking the code in the unit tests folder. Rules

[2022-08-11 09:59] puntope opened #1625 "Incorrect width in GLA .woocommerce-layout__header"
### Describe the bug:

I noticed there is a message in the WooCommerce header overlapping the back button in GLA header, making it impossible to go back. Since the position is fixed it seems like the style is broken after setting the width to 0 to make it invisible, this approach since to be not enough to hide the element.

<img width="393" alt="Screenshot 2022-08-11 at 11 41 23" src="https://user

[2022-08-12 14:05] puntope commented on #1609
Howdy @alewolf For requesting features we use

https://woocommerce.com/feature-requests/google-listings-and-ads/ and then you can click on "View and submit feature requests" in order to suggest a feature like this.

We analyse frequently there which features are the most demanded by the marke  in order to analysing costs and investing time on them.

You can ofc reference this issue there in the fe

[2022-08-12 15:12] alewolf commented on #1609
@puntope Ok. Done. I hope it will get some attention. Obviously, this is not something that many will upvote. But, it should be simple to implement.

[2022-08-15 21:20] sukafia opened #1630 "Version 2.0.3 conflicting with site theme"
### Describe the bug:

There are reports of Google Listings & Ads 2.0.3 breaking sites. This issue has already been reported on Slack and is being Investigated.

I'm creating this report to help keep track and follow up on affected users.

### Forum threads

https://wordpress.org/support/topic/checkout-not-loading-after-update/
https://wordpress.org/support/topic/version-2-0-3-broke-headerst-but-2

[2022-08-16 04:56] findingsimple commented on #1599
I can't find that now

Update - [Found this thought](https://github.com/woocommerce/woocommerce/tree/fddee1a237ae0c79a96513aa8ba24c398a520ed8/plugins/woocommerce/e2e)

~@tomalec is there an internal project you can point me to, I can't seem to find anything~

Ok I think I found some recently closed ones that are likely related

pcr5Cj-3bw-p2

[2022-08-16 09:48] #1625 closed, assigned to puntope

[2022-08-16 11:45] kaushikasomaiya commented on #1630
Possibly: 5482211-zen

[2022-08-16 12:12] mikkamp commented on #1630
@kaushikasomaiya Thanks for the report. The hook into `woocommerce_loop_add_to_cart_link` was indeed added in version 2.0.3. However WooCommerce itself passes 3 arguments to this hook, see [here](https://github.com/woocommerce/woocommerce/blob/6.8.0/plugins/woocommerce/templates/loop/add-to-cart.php#L25).
Which means it's most likely a conflict in one of their theme templates, or possibly a plugin

[2022-08-16 12:47] findingsimple commented on #1630
Thanks for the report @sukafia

Thanks for the added info @kaushikasomaiya

@sukafia (I realise you didn't have bandwidth yesterday) - When you get a free moment do you think you improve the hygiene of the issue and include some more details about what the actual symptoms are etc. (breaking sites is quite generic).

As its a public repo it's always useful to include / copy across as much info as p

[2022-08-16 13:01] tomalec commented on #1599
But so far, it's all for `woocommerce/woocommerce` nothing stable for extensions

[2022-08-16 13:39] sukafia commented on #1630
I'll definitely take a deeper look and add more info. You're right that breaking site doesn't quite describe the issue. It appears to be conflicting with the site theme so I've reworded the title. I'll add more info based on my findings.

[2022-08-16 14:19] M6Gpower opened #1632 "blank screen"
### Describe the bug:
At 3. Configure your product listings, the page is loading and after that i get a blank screen.

Consol error:
-An error occurred while running 'mapSelect': undefined is not an object (evaluating 'r.woocommerce_default_country.split')
-TypeError: Right side of assignment cannot be destructured
-Unhandled Promise Rejection: TypeError: Right side of assignment cannot be destruc

[2022-08-16 15:34] mikkamp commented on #1609
Thanks for the patience, we've had some internal discussion about the impact of such a filter. The main concern is that the filter isn't just enabled without any replacement solution, as this could result in a negative impact on Google's prediction engine. So the ask is to only enable the filter if replacement tracking has been enabled.
PR should be incoming soon.

[2022-08-16 15:36] alewolf commented on #1609
Oh yes. Absolutely. I wouldn't do it any other way.

Wonderful. Thanks !

[2022-08-16 16:07] mikkamp commented on #1630
The changes have been released in 2.0.4

As it wasn't 100% clear what issues the sites were experiencing since they reverted before us being able to see the messages on the sites, feel free to reopen this issue if there are remaining reports of theme conflicts.

[2022-08-18 12:49] mikkamp opened #1639 "Preselect first existing merchant account during onboarding"
## User story
We are going to tryout with some flows where the merchant account is created before going through onboarding. One point of friction is when the user is selecting a Merchant Center account, as they may have forgotten/not realized that an account was already created for them previously.

Since we don't have the data available to select the last created account the other option is to se

[2022-08-18 13:09] #1228 closed, assigned to nima-karimi

[2022-08-18 13:09] #1230 closed, assigned to nima-karimi

[2022-08-18 13:09] #1231 closed, assigned to nima-karimi

[2022-08-18 13:22] #1111 closed, assigned to nima-karimi

[2022-08-18 13:22] #1116 closed, assigned to nima-karimi

[2022-08-18 13:22] #1117 closed, assigned to nima-karimi

[2022-08-18 13:23] #1118 closed, assigned to nobody

[2022-08-18 13:35] ecgan opened #1640 "Edit Free Listings: Navigate away prompt shows up when trying to go to non-React-powered pages"
### Describe the bug:

In Edit Free Listings, without making any changes, when we click on the top left back button, we can exit the page and go back to the dashboard. Since there is no unsaved data, there is no navigate away prompt. All good and expected.

However, if we don't click on the top left back button but instead we click on some non-React-powered pages like WordPress Dashboard menu item

[2022-08-18 13:59] mikkamp commented on #1632
Thanks for the report @M6Gpower

Others have noticed this problem in the past in combination with WooCommerce version 6.5, however the problem was resolved in WooCommerce 6.7. Would you be able to confirm what version of WooCommerce you are running on your site and whether upgrading to the latest version of WooCommerce 6.8 resolves the issue for you?

[2022-08-19 06:48] wyter commented on #1583
Tested on WooCommerce 6.8.0 and could still replicate:
![Free listings](https://user-images.githubusercontent.com/11092629/185559754-2b1fdedd-f2ea-491e-8fbd-422d0e01b7fb.png)

However, following [this comment](https://github.com/woocommerce/woocommerce/issues/33720#issuecomment-1185101742), we can wait to see if version 6.9.0 fixes the issue and then close here.

[2022-08-19 07:08] wyter commented on #839
I tested this on WooCommerce version 6.8.0. In my test, the recommendation to install Google Listings and Ads does not present an image, but the text still says Google Listings "**and**" Ads instead of Google Listings "**&**" Ads:

![Google lists name](https://user-images.githubusercontent.com/11092629/185562405-78c90019-acfb-4da8-af33-2fd0dc2f1a3a.png)

[2022-08-19 11:38] M6Gpower commented on #1632
Dear, everything is up to date. WooCommerce is 6.8.1

[2022-08-19 12:10] mikkamp commented on #1632
Thanks for the reply. We would however need some concrete steps to reproduce the issue, to be able to help you further.

Given that, I wanted to point out that this repository is not intended for support requests. The best place to start the process is with the [WordPress.org Google Listings and Ads forum](https://wordpress.org/support/plugin/google-listings-and-ads/) or if you have a WooCommerce.

[2022-08-19 12:10] #1632 closed, assigned to nobody

[2022-08-19 13:37] TimBHowe opened #1641 "Setup Wizard JS error"
### Describe the bug:

During the set up process we created a new Google Merchant Center and Google Ads account. After which we when back to try and import the product catalog to Google Merchant Center and where presented with a console error.

[code]
With the main one seeming to be

[code]
This doesn't seem to allow us to preceed with the set up

### Steps to reproduce:

1. Install and go through

[2022-08-19 14:47] TimBHowe commented on #1641
I was able to restart the setup wizard process by manually deleting all the plugins options values in the DB

I found them using this
[code]

[2022-08-19 14:53] TimBHowe commented on #1641
It looks like the issue comes from not being able to set the `gla_mc_setup_completed_at` time in the options db cause the js error

[2022-08-19 14:59] TimBHowe commented on #1641
Got it working by just manually `gla_mc_setup_completed_at` value with the current time stamp.

Suggestion. Give the option to skip the setup wizard and just enter Google Merchant Center and Google Ad ids. It doesn't need to be this complicated, or to connect to WordPress.com.

[KISS principle](https://en.wikipedia.org/wiki/KISS_principle)

[2022-08-21 18:00] strarsis commented on #1490
@mikkamp: Any chances this could be addressed in the near future?

[2022-08-22 08:12] mikkamp commented on #1632
In retrospect we did find an additional issue: https://github.com/woocommerce/google-listings-and-ads/pull/1642
Based on the report it might also resolve the issue you were seeing here. We are hoping to release this fix soon.

[2022-08-22 08:21] mikkamp commented on #1641
Thanks for the feedback. Although the setup wizard runs through a multi step connection process where additional steps like site verification are run in the background. So it's a little more involved then just entering the account ID's. However in the case that the JS frontend fails there is a fallback connection test, which is described [here](https://woocommerce.com/document/google-listings-and-

[2022-08-22 08:29] mikkamp commented on #1490
Hi @strarsis

MCA support is still on our radar but not prioritized. I noticed there isn't any feature request for it yet here: https://woocommerce.com/feature-requests/google-listings-and-ads/

I would encourage to submit it as a feature request, as that helps us gauge how many people are interested.

[2022-08-22 09:48] mikkamp opened #1643 "Remove grpc package"
The grpc package is a dependency of the `googleads/google-ads-php` package. However we don't use grpc and instead opted for [REST requests](https://developers.google.com/google-ads/api/docs/concepts/call-structure).

The `grpc` package is currently flagged as a false positive in a PHP 8 compatibility check:
[code]

It is being used inside a while loop. But it's defined as `while (true) try {` whic

[2022-08-22 14:04] TimBHowe commented on #1641
So I just needed to look in section 50 of the FAQ page for a URL to the setting pages that is not link anywhere from the back end of the site.

Might I suggest this `/wp-admin/admin.php?page=connection-test-admin-page` page be link some where in the WooCommerce > Settings section or WooCommerce > Status section

[2022-08-22 14:35] strarsis commented on #1490
@mikkamp: Yes, I will create a feature request.

The main issue for me is that there is already a MCA account that was set up. I can't select that, I can only create a new one, and that one would be a duplicate for the same company and even if it is allowed, needs to be set up again, too.

[2022-08-23 02:24] #1641 closed, assigned to eason9487

[2022-08-23 10:01] j111q opened #1644 "Change Google-related logos to the generic G logo"
### Describe the bug:
The Googlers have flagged to us that we should use the generic G logo rather than the Shopping tag logo or the Ads logo.
We need to change the [wordpress.org plugin page](https://wordpress.org/plugins/google-listings-and-ads/) to the G logo.

We should also double check our plugin to ensure there are no other Google-related logos anywhere.

### Generic G logo:
Download assets

[2022-08-23 21:38] tomalec commented on #1641
@TimBHowe FYI, the fix was released in https://github.com/woocommerce/google-listings-and-ads/releases/tag/2.1.0

[2022-08-24 07:18] puntope opened #1646 "Request Review - Customer stuck in Pending review"
### Describe the bug:

This is a follow up issue in rgeards a customer who is blocked in PENDING status for a single region.
The user initially had an issue with NO_OFFERS_UPLOADED that was a bug in Google side and is solved already.
However, after that the IL (Israel) region is stuck in PENDING review.

### Additional details:

Related Slack thread: p1656394787282569-slack-C7U3Y3VMY
We are syncin

[2022-08-24 07:28] puntope commented on #1646
Update from Google. They say that this customer has not Israel as a target (IL, the region is giving problems)

Can you confirm which targets are being used by the customer?

[2022-08-24 07:36] puntope opened #1647 "Inconsistencies in frontend Page Struture"
Checking the frontend code in GLA I can see there is a folder named `pages`. In this folder I see `reports`, `edit-paid-ads-campaign` and `create-paid-ads-campaign`

However other pages like `product-feed` and `get-satrted` have their own directory and are not present in `pages`directory.

This made me think about 2 questions:

1. Which is the convention in order to create new pages? Locate the in

[2022-08-24 08:02] puntope opened #1648 "Custom Attribute Mapping"
## User story

This feature implements GLA Attribute Mapping

Project Thread: pcTzPl-HY-p2

## Figma link

https://www.figma.com/file/fqR0EHi63lWahRcVTKCcba/Google-Listings-%26-Ads-v2.x?node-id=400%3A80229

## Acceptance criteria

* [ ] Attribute Mapping Page in GLA
* [ ] Endpoint in order to get the "sources" options
* [ ] Endpoint in order to get the "destinations" options
* [ ] Attribute Mappin

[2022-08-24 09:27] #1623 closed, assigned to mikkamp

[2022-08-24 09:35] tomalec commented on #1647
This is a result of incomplete https://github.com/woocommerce/google-listings-and-ads/issues/195

[2022-08-24 10:00] puntope commented on #1647
Added low priority & refactor tags

[2022-08-24 10:34] puntope commented on #1644
Howdy @j111q

The png files are good.

However, I see in wordpress_org_assets folder we have discussed the next inconsistencies:

icon.svg -> 128x128 with bakground white
icon-no-bg.svg -> 128x128 with no background

In the dropbox only a big version with no background was provided

[2022-08-25 03:59] j111q commented on #1644
I see okay, I've exported two more assets at the [same dropbox link](https://www.dropbox.com/sh/jiorzn7k2tk01gt/AAC_VevHZhbOHK3YG_iZkhBJa?dl=0).

google-icon-with bkground.svg -> 128 x 128 with bkground
google-icon-without bkground.svg -> 128x128 without bkground

Let me know if that works! Thanks @puntope!

[2022-08-25 08:40] ianlin opened #1651 "WC 6.9 Compatibility: Cannot update target audience and shipping times when editing free listing"
### Describe the bug:

This bug was found when doing WooCommerce `6.9` compatibility test. When editing free listing, the target audience and the shipping times cannot be updated successfully. It works as expected when using WC `6.8.2`.

### Steps to reproduce:

1. Use GLA `2.1.0` and WooCommerce `6.9.0-beta.2`, download from [here](https://developer.woocommerce.com/2022/08/24/woocommerce-6-9-beta

[2022-08-25 09:24] ianlin opened #1652 "WC 6.9 Compatibility: Cannot type daily budget cost when creating paid campaigns"
### Describe the bug:

Using [WooCommerce 6.9.0-beta.2](https://developer.woocommerce.com/2022/08/24/woocommerce-6-9-beta-2/), the input filed of the daily average budget cost cannot be typed in any numbers when creating a paid campaign, while using WooCommerce `6.8.2` works as expected.

### Steps to reproduce:

1. Use GLA 2.1.0 and WooCommerce 6.9.0-beta.2, download from [here](https://developer

[2022-08-25 14:29] puntope commented on #1644
Thanks @j111q  for the fast changes!

I added manually thw width and height to the svg. And also croped 1 px in the 128px icon (shomehow it was 129x128)

I created already a PR

[2022-08-26 08:25] #1644 closed, assigned to puntope

[2022-08-26 08:41] #1609 closed, assigned to nobody

[2022-08-26 08:49] alewolf commented on #1609
@mikkamp Thanks for implementing this!

I've already added the new filter to the [Pixel Manager for WooCommerce](https://wordpress.org/plugins/woocommerce-google-adwords-conversion-tracking-tag/) and will release it with the upcoming version.

[2022-08-26 08:52] mikkamp commented on #1609
👍🏻️ The filter isn't included in a release yet, but it will be included next time we release, most likely version 2.1.1

[2022-08-26 11:57] mikkamp commented on #1415
Just linking a similar issue which highlights the same problem: https://github.com/woocommerce/google-listings-and-ads/issues/634

[2022-08-29 10:25] eason9487 opened #1657 "An error occurred while using WC Shipping settings in the target audience suggestions API"
### Describe the bug:

A specific WP Shipping setting will cause the `mc/target_audience/suggestions` API to respond with 500 error.

### Steps to reproduce:

1. Go to WooCommver -> Settings -> Shipping -> Shipping classes `/wp-admin/admin.php?page=wc-settings&tab=shipping&section=classes`
2. Create a shipping class. For example:
   ![2022-08-29 18 03 43](https://user-images.githubusercontent.com/

[2022-08-30 06:20] puntope commented on #1646
Update from google Eng team:

"We identified this is appearing for us too when we make the same call for this merchant, we are escalating this internally to identify why this is happening. Thanks for flagging!"

[2022-08-30 08:41] #1657 closed, assigned to nima-karimi

[2022-08-31 01:26] findingsimple opened #1659 "The asset "gla-gtag-events" was not registered before it was enqueued."
### Describe the bug:

WooFunnels.com reached out via support about https://speed-demon.com/

From version 2.1.0 updated on 2022-08-23 they started getting the following error when adding any product to the cart (using their global checkout functionality) , it shows this fatal error.

[code]

Appears to be a compatibility issue (and we won't have access to the PRO plugin in use) but there might be

[2022-08-31 03:09] findingsimple opened #1660 "request_phone_verification rateLimitExceeded"
### Describe the bug:

Merchant in ticket  5498211-zen is seeing a rate limit error when attempting to verify phone number

[code]

Creating an issue to capture and I will follow up with Google in our Q&A doc - I haven't see this before.

[2022-08-31 03:33] eason9487 commented on #1660
The rate limit is a part of Google's verification API. A maximum of five attempts to verify the same phone number every four hours. If the user exceeds this rate limit, UI will display the relevant error message.

![image](https://user-images.githubusercontent.com/17420811/187586703-228e7892-ce96-446d-849f-867f8bf5349d.png)

Ref: #1022

[2022-08-31 04:14] findingsimple commented on #1660
aha thank you @eason9487 for educating me!

[2022-08-31 04:14] #1660 closed, assigned to findingsimple

[2022-09-02 04:11] findingsimple opened #1663 "Improve debug logging/message when claimed url hash does not match site url hash"
## User story
As a HE
I want to be able to quickly identify that a site's claimed URL does not match site URL
So that I can efficiently resolve merchants not being to able to sync

### Is your feature request related to a problem?

GLA has a check in place to determine if a claimed site URL and site URL match - this is primarily to protect sites from submitting products for staging sites.

However

[2022-09-02 07:41] mikkamp commented on #1663
In addition to reporting the status of the URL, I'd also suggest another tool on the connection test page to reset the site URL hash. Since it saves both an option and a transient that they match, it becomes a little harder to reset it manually. This would cover the first two steps which were performed in the ticket:

1. Changed the WP_OPTIONS gla_claimed_url_hash value to the new hash via the opt

[2022-09-02 12:17] ianlin commented on #1652
I guess it's related to [From component](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/form) in WooCommerce Admin. In this PR woocommerce/woocommerce/pull/34082 it changes a little bit how Form component being wrapped, I'm not sure if this is the root cause but the problem is gone if I copy `form.js` from WC `6.8.2` to my local environment and change our code not

[2022-09-05 05:30] anant1811 commented on #1646
Hi team, just an update that the message on customer's site has now changed to `No products added - Add and sync products to Google.`

They have also mentioned:

[2022-09-06 03:56] #1652 closed, assigned to eason9487

[2022-09-06 06:31] eason9487 commented on #1651
Reported to WooCommerce repo: https://github.com/woocommerce/woocommerce/issues/34584

[2022-09-06 10:12] mikkamp opened #1668 "Consistent URL to redirect to from external location"
## User story

If we want to redirect a user to a page within GLA we currently only have the option of redirecting them to:

- `?page=wc-admin&path=/google/dashboard`
- `?page=wc-admin&path=/google/start`

Which page to redirect them to depends on the state of onboarding, however if we are redirecting form an external source we don't know the onboarding state. This is relevant to cases where we wa

[2022-09-08 04:19] dev-sabbir commented on #1630
Seems the issue resurfaced again.

5538041-zd-woothemes

- Theme: rehub-theme
- Google Listings and Ads version: 2.1.1

[2022-09-08 04:23] nicdwilson commented on #1630
Reopened for the above

[2022-09-08 06:45] findingsimple commented on #1630
@dev-sabbir I think this is actually more the issue @mikkamp [mentions here](https://github.com/woocommerce/google-listings-and-ads/issues/1630#issuecomment-1216552466)

If you look at the logs the error is...

[code]

`#2` is pointing to the `woocommerce_loop_add_to_cart_link` hook.

And then checking the theme template part, the theme is only using 2 arguments

<img width="1110" alt="Screen Shot

[2022-09-08 06:45] #1630 closed, assigned to nobody

[2022-09-08 10:27] kaushikasomaiya commented on #1630
Just mentioning this ticket here 5524351-zen because it has the same error. Can't confirm the bug unless we perform conflict testing ourselves.

[2022-09-08 10:45] mikkamp commented on #1630
Thanks for the additional report, although their status report shows they have a template override `wp-dentaq/woocommerce/loop/add-to-cart.php`, which indicates it would be their theme. I've added a note to the ticket.

[2022-09-09 09:11] eason9487 commented on #1640
📝  Add related issues to be fixed together later

## Issue A: history v5 (WC 6.7) compatibility that `history.block()` has a different behavior.

Calling `history.block()` will continue to lock browser-level navigating events such as refresh or close the page. It's the same as the main content of this GH issue.

https://user-images.githubusercontent.com/17420811/189304415-cdd57be8-67f3-47b8-b8a1-d

[2022-09-09 12:09] puntope commented on #1646
Afraid thats true. One think is that the products are synced to google. Hence they show in product feed. With their potential errors at product level.

Other different thing is the account issues. These are the ones the user is suffering. Not because the plugin... also you can see that in Merchant center since is a Google level issue.

Until both account and products are correct he won't see the p

[2022-09-09 12:20] puntope commented on #1646
I however can get right now the account APPROVED (via API call using the user MCID). So I suggest to check again and otherwise re-sync all the products to see if that solves the problem

[2022-09-12 03:03] eason9487 commented on #1651
This issue has been fixed with https://github.com/woocommerce/woocommerce/pull/34614 and https://github.com/woocommerce/woocommerce/pull/34626 and should be included in the final release of WooCommerce 6.9. We may not need to fix it from GLA.

[2022-09-14 02:45] eason9487 commented on #1651
Confirmed these fixes are included in the released WC 6.9.

[2022-09-14 02:45] #1651 closed, assigned to eason9487

[2022-09-14 02:51] #1640 closed, assigned to eason9487

[2022-09-14 08:46] nikivias commented on #1610
Hello hello, we need to do a small update to Step 1 (Connect accounts) of the FL+ Ads flow. Please see the original conversation [here](https://docs.google.com/document/d/1dcyZN6t0AgG36TCqV29luRLzrCI9ArS6VUHDsVoU5Yo/edit?disco=AAAAdRYklQE)

The update is to add a CSS disclaimer on the said step/page. As per Google: _"Our requirement is that platform’s UI should include instructions on how to work

[2022-09-14 15:21] nima-karimi commented on #1395
Closing since it's already implemented in #1422.

[2022-09-14 15:21] #1395 closed, assigned to nobody

[2022-09-15 10:28] haja-rimrubber opened #1676 "Login Issue"
Dear Team,

I am Haja from RimRubber.com we are using Google listing & ads plugin for google merchant center. We noticed sometimes google account automatically disconnected which is linked with google listing and ads plugin. Today we try to reconnect again by mistake we connect wrong google account we want login again with correct one, but whenever we choose Google listings and Ads option in WordP

[2022-09-15 15:17] mikkamp opened #1678 "Unit tests for ProductStatisticsController or ProductSyncStats"
In PR #1667 we make some changes to the product statistics. However they are not fully covered by unit tests, to confirm that we continue to receive the expected results we should add some unit tests to cover the various scenarios.

See expected responses in PR #1667.

[2022-09-20 11:03] eason9487 opened #1684 "Steppers on the onboarding flow allow switching to later steps when the current step is not yet finished"
### Describe the bug:

Found this issue when working on PR #1683

Steppers on the onboarding flow allow switching to later steps when the current step is not yet finished.

### Steps to reproduce:

1. Proceed with the onboarding flow till the "Confirm store requirements" step.
2. Switch back to the "Configure your product listings" step.
3. Delete shipping settings to make the "Continue" button at

[2022-09-21 07:56] dardardardardardar opened #1685 "I"
## User story

### Is your feature request related to a problem?

#### How to reproduce the problem

### Describe the solution you'd like

### Describe alternatives you've considered

## Technical

## Figma link

## Acceptance criteria

## Unknowns

## Out of bounds/rabbit holes

## Event tracking

[2022-09-21 08:48] mikkamp commented on #1676
Hi Haja,

This repository is not intended for support requests. The best place to start the process is with the [WordPress.org Google Listings and Ads forum](https://wordpress.org/support/plugin/google-listings-and-ads/) or if you have a WooCommerce.com account, you can start a chat or open a ticket on [WooCommerce.com support](https://woocommerce.com/my-account/create-a-ticket/). I'd suggest to i

[2022-09-21 08:48] #1676 closed, assigned to nobody

[2022-09-21 08:50] mikkamp commented on #1685
Hi there,
I assume this issue was created in error. However if you have a valid feature request I'd suggest to submit it here: https://woocommerce.com/feature-requests/google-listings-and-ads/

[2022-09-21 08:50] #1685 closed, assigned to nobody

[2022-09-21 17:03] dardardardardardar opened #1688 "Customize the AccountStatus -> accountLevelIssues for website not claimed title and support link"
### Describe the bug:

Google changed how they check website verification on an ongoing basis. Once we identify a website is not verified, google send an email to warn the merchant they need to verify and claim their website. If they don't verify, they get an account issue which appears informing the merchant they need to claim their website. This current account issue directs the merchant to MC t

[2022-09-22 08:51] puntope commented on #1033
Since after merging https://github.com/woocommerce/google-listings-and-ads/pull/1689 this will become a bug I will label this as a bug in order to be aware of this

[2022-09-22 09:09] puntope commented on #1688
Hello @dardardardardardar

As far as I know we force to the user to claim the Website on plugin setup

<img width="693" alt="Screenshot 2022-09-22 at 12 58 33" src="https://user-images.githubusercontent.com/5908855/191705109-b559bd85-9dbb-4446-9823-37f3bd7b8000.png">

Besides that, if the user lost it. The account issue is shown as critical in the dashboard.

In regards the title and issue documen

[2022-09-22 09:14] eason9487 commented on #1033
Adding some context. The problem was not caused by #1689 but already was there when releasing the business contact information feature. After a phone number is verified, refreshing page or switching to another step and back will reset the verified state.

[2022-09-22 09:31] puntope commented on #1033
Yes. Exactly. Thanks for clarifying. [More info can be found in the issue discussion. ](https://github.com/woocommerce/google-listings-and-ads/pull/1689#issuecomment-1254657431)

[2022-09-22 09:47] mikkamp commented on #1688
### Additional details
pcTzPl-ZC-p2

[2022-09-23 05:14] xuexue28 commented on #572
Another request here: https://wordpress.org/support/topic/mapping-gtin-ean-field/

[2022-09-23 08:10] dardardardardardar commented on #1688
@puntope - We want to ensure the user re-verify and claim their website through the plugin if the claim is lost.

For the current critical account level issue link when the claim is lost, The current [support link](https://support.google.com/merchants/answer/7527436?hl=en) gives more information but doesn't inform how to do this in the plugin.

The current title account level issue (when claim is

[2022-09-23 08:26] puntope opened #1694 "Action column in MC issues is truncated when more than 100 characters."
### Describe the bug:

The action column in the MC issues is truncated when the size of the action is higher than 100 characters.

This is causes because the action column was not used previously and the size of it is still `varchar(100)`

### Steps to reproduce:

1. Try to add some data in `action` column inside `wp_gla_merchant_issues `. See the error `Data too long for column 'action' at row 1`

[2022-09-23 10:13] puntope opened #1698 "Support multiple values in Feed Attributes"
## User story

It seems like some attributes like [Size Type](https://support.google.com/merchants/answer/6324497) allow to set multiple values...

However we are not allowing that in our GLA Attributes Tab neither in the Feature Attribute Mapping (#1648)

### Describe the solution you'd like

- Add the necessary logic to allow select multiple options in the Attributes
- Save correctly this inform

[2022-09-23 10:25] puntope commented on #1646
This seems to be closed for me.

explanation about what happened from Google:

_"In summary, the country `IL` was being shown because that country had been targeted by offers within the past 30 days. Since there are no longer any offers targeting `IL` and it has been greater than 30 days, the country should no longer be showing the `PENDING_REVIEW` state. The state for this country was erroneously

[2022-09-23 10:25] #1646 closed, assigned to puntope

[2022-09-26 13:34] #1694 closed, assigned to puntope

[2022-09-26 13:37] #1688 closed, assigned to puntope

[2022-09-28 17:38] tomalec opened #1704 "Migrate JS `woocommerce_admin_onboarding_task_list` to PHP `TaskLists::add_task()`"
### Describe the bug:

For some time WooCommerce produces a warning:
[code]
WooCommerce 7.0.0 [uses `@woocommerce/data@4.1.0`](https://github.com/woocommerce/woocommerce/blob/7.0.0-beta.2/packages/js/data/package.json#L3) and [WC 6.7.0 uses 4.0.0](https://github.com/woocommerce/woocommerce/blob/6.7.0/packages/js/data/package.json#L3) so we are already far behind.

I think we should migrate it, as

[2022-09-30 05:58] findingsimple commented on #1668
I'll mark this as a big with high priority - I thought in very early implementation we did have a redirect happening.

[2022-09-30 15:13] davidhefti opened #1709 "add brand to sync"
I am trying to sync product brand with merchant center.
This piece of code is not working. I will get "false" for brand attribute in Merchant center.

`add_filter( 'woocommerce_gla_product_attribute_values', 'add_yith_brand_to_gla', 10, 3 );

function add_yith_brand_to_gla( $attributes, $product, $adapter ) {
	$id = $product->get_id();
	$brand_names = wp_get_post_terms( $id, 'yith_product_brand',

[2022-09-30 15:23] davidhefti commented on #1709
sorry, it is working like that.
So maybe this could be a possible new feature for the future? Option to select the associated brand taxonomy to sync? (because it depends on the brands plugin...)

[2022-09-30 15:36] mikkamp commented on #1709
Thanks for confirming that the code is working. The functionality of mapping to custom attributes will be part of the [Attribute Mapping](https://github.com/woocommerce/google-listings-and-ads/issues/1648) which we are working on.

So I'll go ahead and close this issue.

[2022-09-30 15:36] #1709 closed, assigned to nobody

[2022-10-04 12:55] TuomoNurkkala commented on #841
Hi there,

I have problems with LiteSpeed cache and Google Listing & Ads.
How can I fix these?
https://ufile.io/h3znbof2
https://ufile.io/6kza7rxo
These errors accurre when I activate LiteSpeed cache plugin.

I actually have two Google listing plugins:
WooCommerce Google Product Feed
Google Listings and Ads

In Google Listing and Ads it says this:
The Google Product Feed plugin may cause conflicts

[2022-10-04 13:55] tomalec opened #1715 "Remove remaining WC < 6.8 workarounds"
_This is a follow-up from https://github.com/woocommerce/google-listings-and-ads/pull/1705_

## ~User~Developer story

As a developer, I'd like to have the least amount of code to maintain.

### Is your feature request related to a problem?

As [mentioned](https://github.com/woocommerce/google-listings-and-ads/pull/1705#pullrequestreview-1125064606) by @eason9487, there are at least two items we c

[2022-10-05 04:39] ilyasfoo opened #1716 "Read more link for "No Google Ads account link" is 404"
### Describe the bug:
When clicking on "Read more about the issue", it goes to a 404 link https://support.google.com/merchants/answer/6159060.

<img width="650" alt="image" src="https://user-images.githubusercontent.com/3747241/193982354-010facc6-8360-4bad-9301-8a25c7863245.png">
<br>
<img width="650" alt="image" src="https://user-images.githubusercontent.com/3747241/193982436-0eb56132-85b4-4020-8

[2022-10-05 15:35] mikkamp commented on #841
Hi @TuomoNurkkala

This repository is not intended for support requests. The best place to start the process is with the [WordPress.org Google Listings and Ads forum](https://wordpress.org/support/plugin/google-listings-and-ads/) or if you have a WooCommerce.com account, you can start a chat or open a ticket on [WooCommerce.com support](https://woocommerce.com/my-account/create-a-ticket/). I'd sug

[2022-10-05 17:36] TuomoNurkkala commented on #841
Hi @mikkamp
Thanks! I have started support request there.

Thank you for this clarification that I should just run one Google listings plugin.

I started a support request with Litespeed cache as well. :)

[2022-10-05 17:48] davidhefti commented on #1709
Thank you for your answer and looking forward to the Attribute Mapping.
Unfortunately the above shared code is not fully working. For most of the items I will get brand "false" in the Merchant center... So if you have any idea what to improve in my snippet to get it working, let me know :-)

[2022-10-06 06:58] mikkamp commented on #1709
Not getting results for some of the brands would be something you would need to troubleshoot from your side. It sounds like the terms aren't assigned to those products like you are expecting. I'd suggest to just run `wp_get_post_terms` for those specific product ID's and see if you are getting the results you are expecting.

[2022-10-06 22:56] davidhefti commented on #1709
Got it. A brand is only assigned to the parent product and not to the variation. I did it like this.

[code]

[2022-10-07 12:18] mikkamp commented on #1709
Glad to hear you resolved it. Just one small comment, when you use `add_filter` you should always make sure to return the original value that is being filtered, otherwise you will be overriding the value with `null` since there is no return statement. In your case that would mean moving the `return $attributes` line outside of the `if` block.

[2022-10-12 04:57] ianlin opened #1724 "Followup of PR reviews comments in #1717"
This is a followup of PR reviews in #1717. @puntope has left some questions/suggestions that are not blockers and I have checked the code and test the PR again and there is nothing needs to be updated immediately. Since @eason9487 is away and we'd like to get the project moving so we merged the PR and created this issue to follow up.

[2022-10-12 08:15] mikkamp opened #1725 "Detailed error when unable to complete site verification"
### Describe the bug:
When we perform the site verification, we do so by inserting a meta tag on the website. The site must be public at this point otherwise Google won't be able to see the meta tag and the verification fails.

When we perform this verification we do so through an API insert call, but when this fails the error message is vague. The response from the API is:

However this error nee

[2022-10-12 10:09] haja-rimrubber opened #1726 "Plugin google account automatically disconnected"
Hello there,

We recently update Google Listings and Ads v2.1.4. We noticed,
We connect google merchant account using Google Listings and Ads.
After sometime Google merchant account disconnected automatically.
Then we connect again, after sometime same thing happen its disconnected automatically. we don't know what is happen. can you please advise ?

[2022-10-12 10:12] mikkamp commented on #1726
Hi Haja,

This repository is not intended for support requests. The best place to start the process is with the [WordPress.org Google Listings and Ads forum](https://wordpress.org/support/plugin/google-listings-and-ads/) or if you have a WooCommerce.com account, you can start a chat or open a ticket on [WooCommerce.com support](https://woocommerce.com/my-account/create-a-ticket/). I'd suggest to i

[2022-10-12 10:12] #1726 closed, assigned to nobody

[2022-10-12 10:14] haja-rimrubber commented on #1726
Hello mikkamp,

I though it was bug thats why i mentioned here, sorry for that.

[2022-10-13 01:56] #1446 closed, assigned to nobody

[2022-10-14 04:59] haja-rimrubber commented on #1726
Hello there,

Can you open this issue please ?  I think its a bug

https://wordpress.org/support/topic/plugin-google-account-automatically-disconnected/#post-16098235

Some others also facing this issue

[2022-10-14 08:03] findingsimple opened #1729 "GLA should not appear above the "Coupons" marketing sub menu item"
### Describe the bug:

GLA and other marketing extensions can appear above the "Coupons" marketing sub menu item in the WP dashboard

<img width="359" alt="Screen Shot 2022-10-14 at 6 15 21 pm" src="https://user-images.githubusercontent.com/355014/195793342-b5ba6ae4-4cdc-447c-bb69-de274c02fbda.png">

GLA and others "shouldn't be higher than Coupons"

peapX7-HR-p2#comment-354

### Steps to reproduc

[2022-10-18 10:00] #1610 closed, assigned to nobody

[2022-10-18 10:01] #1684 closed, assigned to eason9487

[2022-10-18 10:02] #1033 closed, assigned to eason9487

[2022-10-19 02:08] #1143 closed, assigned to eason9487

[2022-10-19 02:24] eason9487 commented on #1335
There are no `useGetRemainingCountryCodes` hooks after merging #1616.

[2022-10-19 02:24] #1335 closed, assigned to eason9487

[2022-10-19 02:25] eason9487 commented on #274
There are no `useGetRemainingCountryCodes` hooks after merging #1616.

[2022-10-19 02:25] #274 closed

[2022-10-19 02:27] eason9487 commented on #1335
After replacing `ChooseAudience` and `SetupFreeListings` with the shared components in #1616, the auto-saving mechanism was implemented with `on*Change` callbacks instead. All auto-saving hooks and debouncing were no longer in need.

[2022-10-19 02:31] eason9487 commented on #1078
The last shipping values flash issue only happened on the inputs of shipping time during onboarding setup. With the replacement of using shared shipping time components in #1616, the form state management was isolated from wp-store.

I believe all issues of shipping values flash have been addressed.

[2022-10-19 02:31] #1078 closed, assigned to nobody

[2022-10-19 02:34] eason9487 commented on #288
Components of shipping times were changed to use the shared ones in #1616, which is the last piece of this issue. Now, each group of shipping rates and shipping times components is no longer duplicated.

[2022-10-19 02:34] #288 closed

[2022-10-19 15:16] #1724 closed, assigned to eason9487

[2022-10-20 10:33] eason9487 opened #1736 "WP 5.9 Compatibility: The style of `VisuallyHidden` component is not working"
### Describe the bug:

When using `ExternalLink` component, the originally invisible text is shown since WP 5.9.

![2022-10-20 18 21 57](https://user-images.githubusercontent.com/17420811/196924232-d11c3562-e9ef-4ba5-a667-2efe04fb8c06.png)

### Steps to reproduce:

1. Install a WP version >= 5.9
2. Set up paid ads or go to GLA Settings page to view the text "(opens in a new tab)" on the card UI of

[2022-10-21 09:44] eason9487 opened #1737 "Tree Select Control - Inconsistent focus after checking/unchecking a checkbox"
### Describe the bug:

Inconsistent focus after checking/unchecking a checkbox:

* After clicking on a first-layer checkbox, the focus will be moved to the input field of `TreeSelectControl`.
* After clicking on a checkbox deeper than the first layer, the focus will stay on the clicked checkbox.

### Steps to reproduce:

Go to the Edit free listings page and follow the steps in the video:

[https:

[2022-10-21 16:43] prnvrna opened #1738 "Shipping rates for 'Product Bundles' are always sent over to Google regardless of the setting "Shipping rates""
### Describe the bug:
Shipping rates for 'Product Bundles' are always sent over to Google regardless of the setting "Shipping rates". Other product types work as expected.

### Steps to reproduce:

1. Create a Product Bundle with all mandatory sub-products.
2. Now, In Google Listing extension's setting, set "Shipping rates" to "My shipping settings are complex. I will enter my shipping rates and t

[2022-10-28 10:08] eason9487 commented on #1729
This issue is more complex than it seems, and there might be some historical factors involved, so simply adding `position` to Coupons to adjust the priority will still not solve the issue completely. Fixing it from the WC core would require changing a much larger range of code and possibly even bringing breaking changes. Therefore, I tried to make some adjustments from GLA first to achieve the goa

[2022-10-29 05:43] sukafia opened #1741 "Blank white screen during setup"
### Describe the bug:

Users are reporting seeing a blank white screen during the setup of the Google Listings & Ads extension. The issue happens on the connection page and we're able to replicate it on some sites.

### Steps to reproduce:

1. Access the AT site in 5667661-zen
2. Attempt to setup the extension
3. Notice you're redirected to a blank white page.

### Expected behavior:

The setup fl

[2022-10-29 05:59] sukafia commented on #1741
I'm also seeing reports of blank pages on other extensions (Not sure if they're related)

[FB for WC](https://wordpress.org/support/topic/activate-gives-blank-product-page/), 5664948-zen, 5658333-zen, 5658534-zen

[2022-10-29 09:44] jacoswan commented on #1741
Also in 5665533-zen

I could also recreate this on a Jurrasic Ninja site using Google accounts with and without Google Merchant Centre configured. Without goes straight to the blank page. With asks for permissions, then full permission (if not granted), then goes to the blank page.

[2022-10-29 11:11] jacoswan commented on #1741
5667884-zen

[2022-10-29 12:14] jacoswan commented on #1741
5667963-zen

User says, in spite of them being Admin on the site:

The same URL on my test site (not previously connected to GL&A) leads to a blank page.

[2022-10-29 20:17] guy01992 commented on #1741
I am also having the same issue. Does anyone know how to fix?

[2022-10-29 21:07] sukafia commented on #1741
5668320-zen

[2022-10-29 21:40] AmeliaBriscoe commented on #1741
37673109-hc and 5668827-zen

[2022-10-30 09:18] wyter commented on #1741
Also reported in 5669439-zen

[2022-10-30 11:55] dsmithweb commented on #1741
Also in 5669593-zen

[2022-10-30 15:32] Babylon1999 commented on #1741
Two users reported the same problem here: https://wordpress.org/support/topic/there-was-an-error-loading-your-merchant-center-product-review-request-status-4/#post-16145679

You can find a couple more on the plugin's forum.

[2022-10-30 17:21] csmcneill commented on #1741
Kinda ran into this with 5670182-zen / 37665613-hc today.

When they tried to authenticate their phone number and store address, they were unable to. The logs showed the following error:

[code]

GLA was trying to update the information for an invalid account number—`0`.

When I tried to force a connection to the proper account, I was met with the white screen mentioned in this issue.

[2022-10-30 19:33] YuKw commented on #1741
When I create a Google Merchant Center account in plugin page, I get an error: Error creating account: Unable to create a merchant account
[code]

I've tried four or five times, but it still doesn't work, so take the liberty to ask: will this problem be solved, or will you give up on it?
This is a great plugin and I look forward to its solve.

[2022-10-31 08:40] theabhig commented on #1741
Also reported in 5669626-zen today

[2022-10-31 09:15] devvnawaz commented on #1741
5671307-zen

[2022-10-31 09:40] NateMossp commented on #1741
Having the same problem. seems to be when trying to connect and acquire merchant account details.

[2022-10-31 10:34] theabhig commented on #1741
5666689-zen

[2022-10-31 14:04] xuexue28 commented on #1741
5667920-zen

[2022-10-31 19:23] puntope commented on #1741
This issue is solved. Was a problem with the connection between Google and the Plugin.

[2022-10-31 19:23] #1741 closed, assigned to nobody

[2022-10-31 19:42] guy01992 commented on #1741
Hi there, Ive noticed its now working again

Thanks

Guy

[2022-11-04 07:25] gorabd490 commented on #1738
Any status on this?

[2022-11-04 09:00] eason9487 commented on #1716
Hi @ilyasfoo, thanks for reporting this issue.

The link was provided by Google's API. I guess they were doing some migration so the link had been invalid for a while. After testing, I believe Google side has updated the link to https://support.google.com/google-ads/answer/6159060 and the new link works well now.

![Kapture 2022-11-04 at 16 55 17](https://user-images.githubusercontent.com/17420811

[2022-11-04 09:03] #1716 closed, assigned to nobody

[2022-11-04 11:41] eason9487 opened #1744 "WP 6.1 and WC 7.1 Compatibility"
# GLA Manual Smoke Tests

Use this guide to smoke-test the plugin (for compatibility or other reasons). If there's a common use case or cause of errors not included, please add it!

After each step during testing, be sure to check the debug logs and the browser console for errors, warnings, or notices.

- Prerequisites: Wordpress.com and Google accounts, WooCommerce store with existing products an

[2022-11-06 17:07] betayazilim opened #1745 "PHP 8.1 deprecated codes"
Hi there,

I use PHP 8.1 and latest versions of WP and WC.
Here is the error I got with Qery monitor plugin.

Deprecated	Return type of Automattic\WooCommerce\GoogleListingsAndAds\Vendor\League\ISO3166\ISO3166::count() should either be compatible with Countable::count(): int, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice	1
wp-content/plugins/google-lis

[2022-11-06 17:09] betayazilim opened #1746 "Brand, EAN, MPN integration"
Hi there,

We are at year 2022 and woocommerce still doesn't support Brand, EAN, MPN.
Which are required by google, facebook or any other platform.

We use attributes for Brand, EAN, MPN.
So we want to map attiributes with this plugin.
It will be much easier to add Brand, EAN, MPN to each SKU one by one.

[2022-11-07 07:10] eason9487 opened #1747 "WC 6.9 Compatibility: Shipping time settings should not appear after selecting the "complex" shipping option"
### Describe the bug:

If the "My shipping settings are complex. I will enter my shipping rates and times manually in Google Merchant Center" option is selected, the Shipping time should be hidden but appears.

### Steps to reproduce:

1. Use a WooCommerce version >= 6.9.0
2. Go to the Edit free listings page
3. Select the shipping option "My shipping settings are complex. I will enter my shipping

[2022-11-07 07:10] eason9487 opened #1748 "WP 6.1 Compatibility: The popover content is not displayed as floating"
### Describe the bug:

The popover content of `HelpPopover` is not displayed as floating but is rendered after its anchor and breaks the layout.

### Steps to reproduce:

1. Install WordPress 6.1
2. Go to the Product Feed page
3. Click the question mark icon in the Overview header
4. Select at least one product in the Product Feed table, and then hover on the "Apply to # selected" button in the ta

[2022-11-07 09:00] eason9487 commented on #1744
Only this check failed but it belongs to the compatibility problem of WC 6.9. Created issue #1747 to follow up. I'll be closing this one.

[2022-11-07 09:01] #1744 closed, assigned to nobody

[2022-11-07 11:37] infogc opened #1749 "WP 6.1 Compatibility: Website not displaying correctly when Plugin is active"
### Describe the bug:

### Steps to reproduce:

1. Activation of "Google Listing and Ads" Plugin on WP website.
2. Expecting my website working, linked to ads and helping me with conversions.
3. No possibility of using ads and my shop website cannot be seen or used.

![bug](https://user-images.githubusercontent.com/117646003/200300829-6f102155-219d-42bf-befb-e785783f994a.jpg)

[2022-11-07 12:07] mikkamp commented on #1749
Hi @infogc we are still working on some minor issues with WordPress 6.1 so we haven't marked it as fully compatible yet. Although it shouldn't prevent your shop/website from working.

Do you have some more details about the errors? For example if you go to WooCommerce > Status > Logs. Are there some more details in the fatal error logs? Or if you open up the developer tools in your browser, do you

[2022-11-07 12:21] mikkamp commented on #1745
Thanks for the report. Since the deprecation notice is coming from one of the libraries we use, it seems we'll need to update to a newer version.

It looks like this has been addressed in version 4.0.0 of the iso3166 library: https://github.com/thephpleague/iso3166/releases
We are still on version 3.0, so we'll need to upgrade to prevent the notice.

[2022-11-07 12:29] mikkamp commented on #1746
Thanks for the report. For enhancement / feature requests it's best to add them here: https://woocommerce.com/feature-requests/google-listings-and-ads/
Which gives us the option to track votes. Attribute Mapping happens to be the most popular requested feature so we've been working on it's implementation for a while already (coming soon).

Since we are already tracking it in GitHub I'm going to cl

[2022-11-07 12:29] #1746 closed, assigned to nobody

[2022-11-07 12:45] mikkamp commented on #1286
Additional details on preparing responses:
pb0Spc-2pd-p2

I'm going to relabel this as technical debt, as we need some further discussion on how to align this across all controllers. It's not currently a bug that is causing issues.

[2022-11-08 11:16] ecgan commented on #1143
This issue is closed because the `Tip` component has been removed in PR https://github.com/woocommerce/google-listings-and-ads/pull/1618 and there is no more warning error message in the browser console.

[2022-11-08 17:28] jorgemd24 opened #1753 "WC 6.9 - Offer Free Shipping Setting is not updated"
### Describe the bug:

If all shipping rates are 0, the state `values.offer_free_shipping` should be updated to `undefined` so the free shipping option is not required allowing the user to continue with the onboarding or saving the data.

https://github.com/woocommerce/google-listings-and-ads/blob/e464c76de235de9fd1bcb22d1917d66e48d396e8/js/src/components/shipping-rate-section/flat-shipping-rates-

[2022-11-09 13:49] mikkamp commented on #1620
Additional context:

[2022-11-09 14:03] mikkamp opened #1756 "Before Campaign Migration is sent when plugin is activate"
### Describe the bug:

The Before Campaign Migration Inbox Notification doesn't check if onboarding has been completed, so if we activate the extension on a new site the notification will already show up. We would like this notification to only show up once onboarding has been completed.

![image](https://user-images.githubusercontent.com/11388669/200849951-3f0895a7-784d-40a0-816b-f8e3ee02c716.png

[2022-11-10 01:14] netconnectsolutions opened #1757 "URL link wrong for listings"
Hi,

had to change my permalink for my store but now google is giving me errors because the url on my listings are the old permalinks.

I have tried deleting the products from google and resyncing them. Also tried uninstalling the google plug in but they are still not updating with the new links which is causing a 404 error when

thanks
Kurtis

[2022-11-10 10:27] mikkamp commented on #1757
Hi Kurtis,

Generally when you change the URL for your store, the best way to get it up to date is to disconnect all your accounts and go through the onboarding process and reconnect everything. Doing so will ensure the verification process will be completed again for the new URL and it will schedule all the products to be resynced to Google.

You mentioned you deleted and resynced the products, w

[2022-11-10 10:27] #1757 closed, assigned to nobody

[2022-11-10 12:01] mikkamp opened #1758 "Update phpunit for all tests and add testing for PHP 8.1"
## User story

Previously we've stuck with phpunit 7.5.20 because we needed to remain compatible with older WordPress / WooCommerce tests. We use the `yoast/phpunit-polyfills` package to still be able to take advantage of newer functions introduced for unit testing.

However for testing with PHP 8.0 we use a [workaround and upgrade to phpunit 9.5](https://github.com/woocommerce/google-listings-and

[2022-11-10 13:38] mikkamp commented on #1758
I did some testing, and phpunit can be updated without any issues. However running phpunit with PHP 8.1 still poses some problems. There are some warnings coming from the rmccue library:

[code]

It's a dependency of the package `wp-cli/i18n-command` which according to [this issue](https://github.com/wp-cli/wp-cli/issues/5623) doesn't have a resolution yet (as it requires support for older WP vers

[2022-11-10 15:11] ecaron opened #1760 "Please vendor prefix Google-related composer dependencies"
### Describe the bug:
If other plugins use Google SDKs, there's a namespace conflict that happens where other plugins using (for example) [apiclient](https://packagist.org/packages/google/apiclient) and are expecting `GuzzleHttpClientInterface` but receive `AutomatticWooCommerceGoogleListingsAndAdsVendorGuzzleHttpClient`.

A detailed example of the error condition:
`Fatal error: Uncaught TypeError

[2022-11-10 16:57] mikkamp commented on #1760
Thanks for the report @ecaron

Is it just the `apiclient` library that is being used by the plugin? Or are there other Google packages that are conflicting as well? We do already add a vendor prefix to a select list of composer packages, however `apiclient` is not on that list. So it would be helpful to know a bit more about the plugin to decide which additional packages to include.

Adding `apicl

[2022-11-10 22:43] ecaron commented on #1760
@mikkamp Our plugin also requires https://packagist.org/packages/google/cloud-recaptcha-enterprise (which requires `google/gax`, so that'll be another clash). In addition to `apiclient`, of course.

If the plugin load order was reversed, wouldn't `google-listings-and-ads` break due to `google-listings-and-ads`'s `GuzzleHttp` expecting `AutomatticWooCommerceGoogleListingsAndAdsVendorGuzzleHttpClien

[2022-11-11 02:22] #1747 closed, assigned to eason9487

[2022-11-11 02:22] #1753 closed, assigned to eason9487

[2022-11-11 12:13] #1748 closed, assigned to nobody

[2022-11-11 13:16] mikkamp commented on #1760
Thanks for clarifying the additional packages.

Reversing the plugin load order in itself is not enough to reduce the conflicts, because like you mentioned it will just be a conflict the other way around. I meant to imply the following two scenarios:

1. google-listings-and-ads adds vendor prefix for remaining packages
   - google-listings-and-ads does not conflict with customer-plugin or other pl

[2022-11-11 14:17] #1745 closed, assigned to nobody

[2022-11-11 14:41] #1736 closed, assigned to nobody

[2022-11-11 16:15] webwit opened #1763 "Missing gtin in woo variable products"
### Describe the bug:
Hi, in admin under Marketing -> Google Listings & Ads -> Product Feed I’m getting lots of Product Issues with the message “Limited performance due to missing identifiers [gtin, mpn, brand]”. Same list in Google Merchant center.

The problem is it can’t find the gtin13. I’m only getting this with variable products. In each of the affected variable products, I’ve the Google Lis

[2022-11-11 16:35] webwit commented on #1763
The problem seems to be here in src/Integration/YoastWooCommerceSeo.php?

`        protected function get_identifier_value( string $key, WC_Product $product ) {
                $product_id = $product->get_id();

                if ( ! isset( $this->yoast_global_identifiers[ $product_id ] ) ) {
                        $product = $product instanceof WC_Product_Variation ? wc_get_product( $product->g

[2022-11-11 16:39] mikkamp commented on #1763
Thanks for the report @webwit

I was just looking at the code and was going to ask you to confirm whether meta `wpseo_global_identifier_values` was being saved per variation (but you beat me to it). As you mentioned it is indeed trying to load it from the variable product instead of the variation.

I can confirm that this is indeed a problem, we'll need to get that fixed.

### Additional details

[2022-11-11 16:43] webwit commented on #1763
Cheers, thanks for your help.

[2022-11-11 17:14] webwit commented on #1763
Hi, I tried this fix:

Old:
$product = $product instanceof WC_Product_Variation ? wc_get_product( $product->get_parent_id() ) : $product;

New:
if ($product instanceof WC_Product_Variation && !$product->get_meta( 'wpseo_global_identifier_values', true )) {
    $product = wc_get_product( $product->get_parent_id() );
}

The idea is it only takes the GTIN from the parent when the variation has no GTI

[2022-11-11 17:26] ecgan opened #1765 "CSS file is loaded in Marketing Overview page causing CSS issue"
### Describe the bug:

When Google Listings and Ads is installed and activated, and we visit the Marketing Overview page (`/wp-admin/admin.php?page=wc-admin&path=%2Fmarketing`), its CSS file (`/wp-content/plugins/google-listings-and-ads/js/build/index.css?ver=1668185841`) is loaded.

This causes a CSS issue in the Multichannel Marketing page. I noticed this when I was working on PR https://github.

[2022-11-11 17:35] mikkamp commented on #1763
@webwit Can you confirm whether you have set those identifier values through the Yoast plugin or an importer and which versions of the Yoast plugins you are using.

When I save it through the plugin I can only find the data from the variations saved in `wpseo_variation_global_identifiers_values` as mentioned above, which wouldn't work with the fix you described.

[2022-11-11 17:41] webwit commented on #1763
Yeah I saw that wpseo_variation_global_identifiers_values a little too late, already removed my comment after it started showing the errors a little while later anyway.

It should probably be more like this, although I guess I shouldn't be doing this and leave it up to you as I don't know the fine details ;)

`        protected function get_identifier_value( string $key, WC_Product $product ) {

[2022-11-11 21:46] ecaron commented on #1760
@mikkamp That makes sense. We'd been trying to make sure any of our plugins that used composer & weren't uniquely namespaced played well with each other, but this will probably be a situation that forces us to re-consider that position (maybe implementing something like https://github.com/BrianHenryIE/strauss).

For `google-listings-and-ads`, would you consider an all-on-none policy, where any pac

[2022-11-14 02:32] #1729 closed, assigned to eason9487

[2022-11-14 12:55] mikkamp commented on #1760
We'd definitely take it into consideration. But we'll have to revisit this again when we decide what path to take when resolving the remaining conflicts.

[2022-11-15 08:13] sukafia opened #1770 "Product ID prefix prevents ID from corresponding with WooCommerce product ID"
### Describe the bug:

WooCommerce product IDs only consist of numbers, while the Google Listings & Ads product ID uses a prefix that precedes the numbers:

– WooCommerce product ID: 12345
– GL&A product ID: gla_12345
- WooCommerce Google Analytics ID: 12345

We're seeing reports regarding the difference in GL&A product IDS from WooCommerce and other analytics integration such as WooCommerce Googl

[2022-11-15 08:27] sukafia commented on #1770
Affected users

https://wordpress.org/support/topic/gla_-a-prefix-before-the-id-product/
https://wordpress.org/support/topic/100-of-id-values-received-dont-match-your-feed-2

[2022-11-15 09:43] scalaxofaiur commented on #1770
These are the javascript snippets added by WooCommerce Google Analytics Integration plugin that tracks add_to_cart and view_item events. As you can see the product id is #110635 while the one uploaded in merchant center by Google Listings and Ads would be gla_110635.

This breaks correspondence between Google Analytics segments data and Merchant Center products that is needed for remarketing campa

[2022-11-15 09:58] scalaxofaiur commented on #1770
The best option, in my honest opinion, would be to add a setting that lets the user decide wich prefix use for product ids.

This would give maximum compatibility over different plugins.

[2022-11-15 15:54] mikkamp commented on #1583
We are at WooCommerce 7.1 now and the WooCommerce issue has been resolved, with the CSS for a 0 border no longer being added: https://github.com/woocommerce/woocommerce/pull/33807

However when looking back at the expected behaviour I see that the WP component now behaves differently: https://wordpress.github.io/gutenberg/?path=/story/components-modal--default

![image](https://user-images.githubu

[2022-11-15 15:54] #1583 closed, assigned to nobody

[2022-11-16 10:12] #663 closed

[2022-11-16 12:48] #1763 closed, assigned to nobody

[2022-11-17 19:19] jorgemd24 opened #1780 "PMax Assets"
This feature implements PMax Assets.

Project Thread: [pcTzPl-HY-p2](pcTzPl-12o-p2)
Technical Exploration: pcTzPl-1c9-p2

## Terminology
[Assets](https://href.li/?https://developers.google.com/google-ads/api/fields/v11/asset): headlines, descriptions, logos, images, Youtube links etc.
[Asset Group](https://href.li/?https://developers.google.com/google-ads/api/fields/v11/asset_group): It’s a group

[2022-11-17 21:48] sukafia opened #1781 "Improve setup flow policy compliance checks"
### Describe the bug:

We introduced [policy compliance checks](https://github.com/woocommerce/google-listings-and-ads/issues/1446) to automatically detect compliance issues and prompt merchants to fix them during the onboarding process. This was to help prevent account rejection after the onboarding. As far as I know, the checks appear to be performed for all the Pre-Launch Checklist items.

Howe

[2022-11-17 22:19] sukafia opened #1782 "Policy compliance check failing due to store address"
### Describe the bug:

On the setup flow, the **[Confirm your store is live and accessible to all users](https://woocommerce.com/document/google-listings-and-ads/compliance-policy/#store-is-live)** policy compliance check is using the store's address for validation.

This means that you may meet all the policy checklists but not entering your full store address will result in your inability to com

[2022-11-18 14:35] #1643 closed, assigned to nobody

[2022-11-18 15:33] mikkamp commented on #1781
Thanks for the report. I think this falls in line with other issues where we don't clearly highlight which step failed during onboarding. See #1415

[2022-11-18 15:52] mikkamp commented on #1782
That's interesting, because that check doesn't actually use the address field.

It calls the WC `get_allowed_countries` to get a list of countries the site sells to, and then checks if all the target countries we selected in the previous onboarding step are on that list.

It seems if the option `woocommerce_allowed_countries` is not set (probably the case on initial install of a WC site), it defau

[2022-11-18 20:44] ecaron commented on #1760
FWIW, we're running a version that removes all the namespacing - https://github.com/woocommerce/google-listings-and-ads/compare/develop...CaribouCoffee:google-listings-and-ads:noDeps - we don't intend it to become a PR, but it let us resume using GLaA and our other plugin, so the urgency has reduced.

[2022-11-18 21:09] sukafia commented on #1782
Affected users:

5677396-zd-woothemes
5713900-zd-woothemes
https://wordpress.org/support/topic/unable-to-connect-25/

[2022-11-21 09:00] ianlin opened #1785 "Force delete a product without trash it first will not delete the product from GMC"
### Describe the bug:

This is a follow up issue from [#1728](https://github.com/woocommerce/google-listings-and-ads/pull/1728#trash-products), and the comments from the same issue as well: https://github.com/woocommerce/google-listings-and-ads/pull/1728#discussion_r1024115911.

The problem is, in method `find_delete_product_ids()` from `ProductRepository.php` it gets the products which their stat

[2022-11-22 03:22] #1648 closed, assigned to puntope

[2022-11-22 10:29] eason9487 opened #1787 "PMax Assets - Stage 1"
## Technical Goals

- Enable merchants to launch PMax campaigns based on their assets.
- Enable merchants to maintain their assets of PMax campaigns.

## Terminology

- **PMax**: Performance Max
   - https://www.google.com/retail/solutions/performance-max/
   - https://support.google.com/google-ads/answer/10724817
- **Assets**: PMax campaigns have some unique characteristics regarding assets.
   -

[2022-11-28 11:27] #1785 closed, assigned to ianlin

[2022-11-28 18:26] Marc-pi opened #1796 "Backorders+Preorders > availability date cannot be set anymore > regression"
### Describe the bug:

Availabilty date cannot be set for backorders, which leads to product feed error
![image](https://user-images.githubusercontent.com/919332/204352464-35fa14c0-3050-4cd0-a855-6e1035212199.png)

### Steps to reproduce:
1. CASE 1 - BACKORDER - Create a single product with Manage Stock set to ON (checkbox)
     * Set the dropdown to Allow Backorders for that product
     * Make s

[2022-11-29 06:30] puntope commented on #1796
Howdy @Marc-pi

I was unable to reproduce this issue.

**Steps I followed for Manage Stock set to ON:**

1. Manage Stock set to ON
2. Allow Backorders
3. Set stock to 0
4. Go to GLA Attributes and set Availability Date and time
5. Sync

**Steps I followed for Manage Stock set to OFF:**

1. Manage Stock set to OFF
4. Go to GLA Attributes and set Availability Date and time
5. Sync

**Result**

<img

[2022-11-30 08:45] Marc-pi commented on #978
Yep, i agree, this is a need, so we do not forget to set the date.

[2022-11-30 08:45] Marc-pi commented on #1796
Hello,
thanks for your confirmation.
Strange, works now. I tested also th variation product type, works as well.
i close, sorry for the buzz !

[2022-11-30 08:45] #1796 closed, assigned to puntope